.cart-page
	#products
		.product
			.text
				grid-template-rows: 1fr 1fr

				.cart-form
					justify-content: space-between
					width: 100%

					.price
						margin-right: 20px



	.info
		flex-direction: column-reverse
		padding-top: 40px

		a
			align-self: end
			margin-top: 20px
