#product-list
	#filters
		grid-row: 1

		.filters
			.filters-container
				.select-container
					.nice-select
						.nice-select-dropdown
							width: calc(100vw - 40px)

							.nice-select-search-box
								input
									font-size: 16px

#products
	width: calc(100vw - 40px)
