#hero
	.shop-title
		font-size: 50px !important
		max-width: 80vw

	.cart-form
		margin-left: 40px
		margin-right: 40px

#product
	table
		margin-bottom: -10px

		th
			display: block
			margin-bottom: 5px

		td
			display: block
			margin-bottom: 20px
