#hero
	align-content: unset !important
	margin-left: -20px

	.shop-title
		font-size: 50px !important
		max-width: 80vw

	.cart-form
		border-top: 1px dashed var(--border-color)
		width: calc(100vw - 60px)

#product
	z-index: 11

	table
		margin-bottom: -10px

		th
			display: block
			margin-bottom: 5px

		td
			display: block
			margin-bottom: 20px
