header
	#logo-container
		height: 80px

		#logo img
			height: 83px !important
			width: 83px !important

		#search
			top: calc((80px / 2) - 25px)
			width: calc(100vw - 50px)

	.utility
		flex-direction: column
		line-height: 25px
		padding-bottom: 10px
		padding-top: 25px
		transition: padding-top .2s

		.left,
		.right
			overflow: hidden
			text-align: center 
			width: calc(100% - 60px)

			div
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap

		.pipe
			margin-left: 8px
			margin-right: 8px
