{{- $class := .class | default "" -}}
<div
	class="text-right {{ $class }}"
	x-data="{
		shipping:   null,
		estimation: 2,
		total:      null,

		init() {
			this.fetch();
			$watch('$store.cart.contents', () => this.fetch());
		},

		fetch() {
			fetch('{{ site.Params.api }}/api/shop/shipping', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					cart: $store.cart.contents
				})
			})
				.then(response => response.json())
				.then(data => {
					this.shipping   = $store.cart.currency(data.price);
					this.estimation = data.estimation;

					let total = $store.cart.currency(0);
					$store.cart.contents.forEach(variant => {
						total = $store.cart.currency(total).add($store.cart.currency(variant.price).multiply(variant.quantity));
					});

					this.total = total;
				});
		}
	}"
>
	<div class="text-muted font-sc italic text-[20px]" x-text="total?.format()"></div>
	<div>
		<small class="text-[13px]">
			(Verzendkosten, uiterlijk binnen <small x-text="estimation"></small> werkdagen in huis)
			<span class="text-accent font-sc"></span>
		</small>
		<span class="text-muted font-sc italic text-[20px]" x-text="shipping?.format()"></span>
	</div>
	<div class="border-t border-dashed border-border text-text inline-block text-[30px] mt-[15px] pt-2 font-sc italic" x-text="total?.add(shipping).format()"></div>
</div>
