<div class="donate-promo-container" data-pagefind-ignore="all">
	<div class="text">
		<div class="headings">
			<h3>Steun</h3>
			<h2>Reactionair</h2>
		</div>

		<p>Help ons onafhankelijk te blijven. <a href="https://petjeaf.com/reactionair" target="_blank">Doneer</a> en steun de publicatie van vrij en onafhankelijk gedachtegoed.</p>
	</div>

	<a href="https://petjeaf.com/reactionair" target="_blank" class="coin-container">
		{{ $coin := resources.Get "images/donate/coin.webp" }}
		{{ with $coin }}
			<div class="coin animate">
				<img
					src="{{ .RelPermalink }}"
					alt="Doneer aan Reactionair"
					class="face"
				>
				<div class="ridge"></div>
				<div class="shadow"></div>
			</div>
		{{ end }}
	</a>
</div>
