{{ define "main" }}
	{{ $paginator := .Paginate .RegularPages }}

	{{ if eq .Section "auteurs" }}
		<aside class="authors">
			<div class="sticky">
				{{ with site.GetPage (printf "/auteurs/%s" (urlize .Params.title)) }}
					{{ partial "authors/author.html" (dict
						"context" .
						"utility" true
					) }}
				{{ end }}
			</div>	
		</aside>
	{{ else }}
		<aside class="intro quote">
			<div class="sticky">
				{{ partial "asides/quote.html" (dict
					"text"   ""
					"author" ""
				) }}
			</div>	
		</aside>
	{{ end }}	

	<section>
		<div id="articles">
			{{ range $paginator.Pages }}			
				<a href="{{ .RelPermalink }}" class="article">
					{{ $image := .Resources.GetMatch "thumb.webp" }}
					{{ $anchor := "Smart" }}
					{{ if isset .Params "anchor" }}
						{{ $anchor = .Params.anchor }}
					{{ end }}

					<img
						srcset="{{ ($image.Fill (printf "311x300 webp %s" $anchor)).RelPermalink }} 311w,
						        {{ ($image.Fill (printf "622x600 webp %s" $anchor)).RelPermalink }} 622w"
						sizes="(max-width: 1920px) 311px,
						       622px"
						src="{{ ($image.Fill (printf "622x600 webp %s" $anchor)).RelPermalink}}"
						alt="{{ .Params.title }}">
				
					<h2>{{ .Params.title }}</h2>
					<h3>{{ .Params.subtitle}}</h3>
				
					<p class="author">{{ delimit .Params.auteurs ", " " & " }}</p>
				</a>
			{{ end }}
		</div>

		{{ if gt $paginator.TotalPages 1 }}
			<nav class="paginator">
				{{ if $paginator.HasPrev }}
					<a class="prev" href="{{ $paginator.Prev.URL }}">←</a>
				{{ else }}
					<a class="prev disabled">←</a>
				{{ end }}

				{{ if $paginator.HasNext }}
					<a class="next" href="{{ $paginator.Next.URL }}">→</a>
				{{ else }}
					<a class="next disabled">→</a>
				{{ end }}
			</nav>
		{{ end }}
	</section>
{{ end }}
