<div class="book-container">
	{{ $add  := 5 }}
	{{ $mul  := 0.035}}
	{{ $size := "320x500 webp" }}
	{{ $div  := 2 }}
	{{ $unit := "px" }}

	{{ if eq .size "large" }}
		{{ $add  = 1 }}
		{{ $mul  = 0.0055 }}
		{{ $size = "960x webp" }}
		{{ $div  = 35 }}
		{{ $unit = "vh" }}
	{{ else if eq .size "medium" }}
		{{ $mul  = 0.05 }}
		{{ $size = "438x webp" }}
	{{ end }}

	{{ $thickness := add $add (mul .pages $mul) }}

	{{ $front := "" }}
	{{ if eq .size "small" }}
		{{ $front = .front.Fit $size }}
	{{ else }}
		{{ $front = .front.Resize $size }}
	{{ end }}

	{{ $width  := div $front.Width $div }}
	{{ $height := div $front.Height $div }}

	<div
		class="book {{ if .animate }}animate{{ end }} {{ if .hover }}hover{{ end }} {{ if .click }}click{{ end }}"
		style="--thickness: {{ $thickness }}{{ $unit }}; --width: {{ $width }}{{ $unit }}; --height: {{ $height }}{{ $unit }};"
		{{ if or .click .animate }}
			x-data="{
				init() {
					let hover   = false;
					let click   = false;
					let turning = false;
					let i       = true;

					let interval;

					const animate = () => {
						if (i) {
							if ($store.mobile.matches) {
								$el.style.transform = 'rotateY(-30deg) rotateX(3deg) scale(0.9)';
							} else {
								$el.style.transform = 'rotateY(-30deg) rotateX(3deg)';
							}
						} else {
							if ($store.mobile.matches) {
								$el.style.transform = 'rotateY(-20deg) rotateX(3deg) scale(0.9)';
							} else {
								$el.style.transform = 'rotateY(-20deg) rotateX(3deg)';
							}
						};

						i = !i;
					}

					{{ if .animate }}
						$el.classList.remove('animate');
						$el.style.transition = 'transform 8.5s ease-in-out';

						setTimeout(animate, 100);
						interval = setInterval(animate, 8500);

						$el.addEventListener('mouseenter', (ev) => {
							hover = true;

							{{ if .click }}
								if (click || turning) {
									return;
								}
							{{ end }}

							clearInterval(interval);

							$el.style.transition = 'transform 1.5s ease';
							if ($store.mobile.matches) {
								$el.style.transform = 'rotateY(-40deg) rotateX(3deg) scale(1)';
							} else {
								$el.style.transform = 'rotateY(-40deg) rotateX(3deg) scale(1.08)';
							}
						});

						$el.addEventListener('mouseleave', (ev) => {
							hover = false;

							{{ if .click }}
								if (click || turning) {
									return;
								}
							{{ end }}

							if ($store.mobile.matches) {
								$el.style.transform = 'rotateY(-20deg) rotateX(3deg) scale(0.9)';
							} else {
								$el.style.transform = 'rotateY(-20deg) rotateX(3deg)';
							}

							setTimeout(() => {
								if (hover) {
									return;
								}

								i = true;

								$el.style.transition = 'transform 8.5s ease-in-out';

								setTimeout(animate, 100);
								clearInterval(interval);
								interval = setInterval(animate, 8500);
							}, 1500);
						});
					{{ end }}

					{{ if .click }}
						$el.addEventListener('click', (ev) => {
							click   = !click;
							turning = true;

							$el.style.transition = 'transform 1.5s ease';

							if (click) {
								if ($store.mobile.matches) {
									$el.style.transform = 'rotateY(-160deg) rotateX(3deg) scale(0.9)';
								} else {
									$el.style.transform = 'rotateY(-160deg) rotateX(3deg) scale(1.125)';
								}
							} else {
								if ($store.mobile.matches) {
									$el.style.transform = 'rotateY(-20deg) rotateX(3deg) scale(0.9)';
								} else {
									$el.style.transform = 'rotateY(-20deg) rotateX(3deg)';
								}

								{{ if .animate }}
									setTimeout(() => {
										if (hover) {
											return;
										}

										i       = true;
										turning = false;

										$el.style.transition = 'transform 8.5s ease-in-out';

										setTimeout(animate, 100);
										clearInterval(interval);
										interval = setInterval(animate, 8500);
									}, 1500);
								{{ end }}
							}
						});
					{{ end }}
				}
			}"
		{{ end }}
	>
		<img
			src="{{ $front.RelPermalink }}"
			width="{{ $width }}"
			height="{{ $height }}"
			{{ if ne .size "large" }}
				loading="lazy"
			{{ end }}
			alt="{{ .title | safeHTML }}"
			class="front"
			style="background: {{ index $front.Colors 0 }};">
		{{ if .click }}
			<div class="back inline-front"></div>
		{{ end }}
		<div class="pages"></div>
		<div class="back inline-back"></div>
		{{ if .click }}
			<img
				{{ if eq .size "large" }}
					src="{{ (.back.Resize $size).RelPermalink }}"
				{{ else }}
					src="{{ (.back.Fit $size).RelPermalink }}"
				{{ end }}
				width="{{ $width }}"
				height="{{ $height }}"
				loading="lazy"
				alt="{{ .title | safeHTML }}"
				class="back">
		{{ end }}
		<div class="shadow"></div>
	</div>
</div>

