{{ if eq .product.CurrentSection.File.ContentBaseName "boeken" }}
	{{ partial "products/types/book.html" (dict
		"size"    "large"
		"title"   .product.Title
		"front"   (.product.Resources.Get .product.Params.front)
		"back"    (.product.Resources.Get .product.Params.back)
		"pages"   .product.Params.pages
		"animate" true
		"click"   (isset .product.Params "back")
		"hover"   (not (isset .product.Params "back"))
	) }}
{{ else }}
	{{ partial "products/types/miscellany.html" (dict
		"size"    "large"
		"title"   .product.Title
		"front"   (.product.Resources.Get .product.Params.front)
		"back"    (.product.Resources.Get .product.Params.back)
		"animate" true
		"click"   (isset .product.Params "back")
		"hover"   (not (isset .product.Params "back"))
	) }}
{{ end }}
