.theme
	&.left
		grid-template-areas: "article description" "article pages"
		grid-template-columns: auto 56%

	&.right
		grid-template-areas: "description article" "pages article"
		grid-template-columns: 56% auto

	.article img
		height: 320px
