.av
	margin-left: -85px
	width: var(--avg-width)

	.av-container
		grid-template-columns: 8fr 5fr
		height: 300px
		padding-left: 40px

		.text
			margin-top: 25px

			h3
				font-size: 32px
				margin-left: 260px

				.de
					font-size: 20px

			h2
				font-size: 71px

		.book-container
			.book
				margin-top: -130px
