.article
	figure
		img
			height: 100%

	&.featured
		border-left: 1px dashed var(--border-color)
		border-right: 1px dashed var(--border-color)
		height: 600px
		padding-left: 20px
		padding-right: 20px

		.text
			padding: 30px

			h2
				font-size: 36px
				letter-spacing: 1.8px
				line-height: 46px
				text-transform: uppercase

			h3
				font-size: 24px
				font-style: italic
				line-height: 32px

	&.large
		height: calc(600px / 2 - 13px)

	&.small
		border-bottom: 1px dashed var(--border-color)
		grid-template-columns: auto 4vw
		height: calc(600px / 4 - (13px * 3))
		padding-bottom: 13px

		figure
			width: 4vw

		&:last-of-type
			border-bottom: none
			padding-bottom: 0px
