article
	.hero
		gap: 50px
		grid-template-columns: 1fr 1fr

		.left
			img
				height: calc(100vh - 167px - 40px - 40px)

	.content
		max-width: 665px

		blockquote p
			padding-left: 40px

		figure,
		.blockquote
			margin-left: -85px
			width: 835px

		#boekencast
			margin-left: -85px
