.article
	transition: box-shadow .1s

	&:hover
		box-shadow: 0px 15px 85px -17px var(--dark-shadow-color)

	figure
		img
			height: 100%

	&.featured
		height: 589px
		gap: 20px
		grid-template-rows: min-content auto

		figure
			width: 100%

		.text
			text-align: center
			padding: 20px
			padding-bottom: 0px

			.author
				margin-bottom: 25px

			h2
				font-size: 36px
				line-height: 46px
				margin-bottom: 4px

			h3
				font-size: 24px
				line-height: 32px
				margin-bottom: 10px

	&.large
		height: calc((600px / 2) - 20px - 0.5px)

	&.small
		height: calc((569px / 4) + 10px - 35px)
