#page
	.authors
		grid-row: 1 / span 2
		margin-bottom: 100px
		margin-top: -50px

		.author
			border-right: 1px dashed var(--border-color)
			margin-top: 40px
			padding-right: 60px

			h3
				font-size: 31px

			p
				color: var(--muted-color)
				font-style: italic
				margin-bottom: 5px

			img
				left: -28px
				top: -25px
