.authors
	.sticky
		padding-top: 10px

		.utility
			margin-bottom: 30px


	.author-block
		margin-top: -31px
		padding-bottom: 96px

		&.small
			display: none
	
		&:nth-of-type(3)
			margin-top: -60px
			border-top: 1px dashed var(--border-color)

			.information
				margin-top: -1px

		p,
		a
			line-height: 29px
