.form
	.form-group
		display: grid
		gap: 10px

		&.name
			grid-template-columns: 2fr 1fr 2fr

		&.address
			grid-template-columns: 1fr 1fr

		&.amount
			grid-template-columns: 1fr 1fr 1fr 1fr

.pipe
	margin-left: 12px
	margin-right: 12px
