.recommendation
	width: var(--avg-width)
			
	.recommendation-container
		grid-template-columns: 8fr 5fr
		height: 300px
		padding-left: 40px

		.text
			margin-top: 25px

			h3
				font-size: 32px
				margin-left: 256px

				.de
					font-size: 20px

			h2
				font-size: 58px

		.book-container
			.book
				margin-top: -130px

#boekencast
	#hero
		height: calc(100vh - 157px)

		.background
			height: calc(105vh - 157px)
			left: -6vw

		.book-container
			max-height: 90%

		h1
			font-size: 123px
			text-shadow: 0 10px 40px var(--background-color)
			line-height: 70px

			.de
				font-size: 30px
				text-shadow: 0px 5px 20px var(--background-color)

			.reactionair
				font-size: 42px
				text-shadow: 0px 5px 20px var(--background-color)

		.quote
			font-size: 400px
			margin-left: -35px
			margin-top: -255px

	#episodes
		ul
			max-width: 900px
			padding: 100px
