#boekencast
	width: var(--avg-width)
			
	.boekencast-container
		grid-template-columns: 8fr 5fr
		height: 300px
		padding-left: 40px

		.text
			margin-top: 25px

			h3
				font-size: 32px
				margin-left: 256px

				.de
					font-size: 20px

			h2
				font-size: 58px

		.book-container
			.book
				margin-top: -130px
				transform: rotateY(-20deg) rotateX(3deg)

				@keyframes move
					0%
						transform: rotateY(-20deg) rotateX(3deg)
					50%
						transform: rotateY(-30deg) rotateX(3deg)
					100%
						transform: rotateY(-20deg) rotateX(3deg)
