#bookclub
	.bookclub-container
		box-shadow: -40px 0 var(--popup-background-color), 33vw 0 var(--popup-background-color)
		grid-template-columns: 5fr 2fr
		height: 300px
		padding-left: 40px

		.text
			margin-top: 25px
		
			h2	
				font-size: 90px
				line-height: 45px
				width: fit-content

				.de
					font-size: 50px

		.book-container
			.book
				margin-top: -135px
