#comments
	margin: 0 auto
	max-width: 665px

	.welcomments__comment
		#welcomments__form
			width: 100% !important

	#welcomments__form
		margin-left: calc(-85px + 30px)
		width: calc(835px - 60px)

	.welcomments__comment-time
		line-height: 29px
