header
	#logo-container
		#logo-center
			height: 100px
			justify-content: space-between
			margin: 0 auto
			max-width: var(--max-width)
			width: 100%

			#logo
				font-size: 18px
				letter-spacing: 2.5px
				line-height: 100px

				h1,
				span
					margin-left: 28px

			#buttons
				margin-top: calc((100px / 2) - 25px)

				#new
					margin-left: -36px
					position: absolute
					pointer-events: none
					top: 62px

					span
						animation: visible 3.8s normal both 1.2s
						color: #A62F27
						font-size: 14px
						font-style: italic
						font-weight: 700
						margin-left: -30px
						position: absolute
						text-shadow: 0 0 9px var(--background-color)
						top: 8px
						transform: scale(0)

						@keyframes visible
							0%
								transform: scale(0) rotate(-10deg)
							25%
								transform: scale(1) rotate(-20deg)
							75%
								transform: scale(1) rotate(-20deg)
							100%
								transform: scale(0) rotate(-10deg)

					svg
						filter: drop-shadow(0px 0px 10px 10px var(--background-color))
						height: 40px
						margin: 0 auto
						transform: rotate(260deg)
						width: 40px

						.draw-arrow
							animation: draw 4s normal both 1s
							fill: none
							stroke: #A62F27
							stroke-dasharray: 400
							stroke-dashoffset: 400
							stroke-width: 5

							&.tail-1
								animation-delay: 1.5s

							&.tail-2
								animation-delay: 1.7s

							@keyframes draw
								0%
									stroke-dashoffset: 400
								25%
									stroke-dashoffset: 0
								75%
									stroke-dashoffset: 0
								100%
									stroke-dashoffset: 400

				#total
					margin-left: 28px
					margin-top: -28px

				#search
					form
						input
							padding: 0px
							width: 0px

						button
							.search-icon
								background: var(--background-color)

	.utility
		align-items: center
		background: var(--background-color)
		border-bottom: 1px dashed var(--border-color)
		display: flex
		font-size: 14px
		height: 55px
		justify-content: space-between
		margin-bottom: -56px
		opacity: 0
		pointer-events: none
		transition: opacity 0.1s

		.left
			color: var(--accent-color)
			margin-left: 40px
			text-align: left

		.right
			color: var(--text-color)
			margin-right: 40px
			text-align: right 
			text-transform: lowercase
