header
	#logo-container
		background: var(--background-color)
		border-bottom: 1px dashed var(--border-color)

		#logo-center
			height: 100px
			justify-content: space-between
			margin: 0 auto
			max-width: var(--max-width)
			width: 100%

			#logo
				font-size: 18px
				line-height: 100px

				h1,
				span
					margin-left: 28px

			#buttons
				margin-top: calc((100px / 2) - 25px)

				#seperate
					margin-right: -245px

					.icon
						align-items: center
						display: flex
						transition: all .1s
						justify-content: center
						width: 50px
						z-index: 1

					#donate
						margin-top: -13px

					#shop
						margin-top: -9px

					#cart
						margin-top: -9px

				#search
					form
						button
							.search-icon
								background: var(--background-color)

	.utility
		align-items: center
		background: var(--background-color)
		border-bottom: 1px dashed var(--border-color)
		display: flex
		font-size: 14px
		height: 55px
		justify-content: space-between
		margin-bottom: -56px
		opacity: 0
		pointer-events: none
		transition: opacity 0.1s
		z-index: -1

		.left
			color: var(--accent-color)
			margin-left: 40px
			text-align: left

		.right
			color: var(--text-color)
			margin-right: 40px
			text-align: right 
			text-transform: lowercase
