#home
	.hero
		height: calc(100vh - 167px - 40px - 40px - 115px)
		grid-template-columns: 4fr 8fr 3fr

		.left,
		.right
			height: calc(100vh - 167px - 40px - 40px - 115px)

		.left
			gap: 26px
			grid-template-rows: auto auto

		.right		
			.articles
				grid-template-rows: auto auto auto auto

	.intro
		width: 835px
		margin: 0 auto

	#boekencast
		margin: 0 auto
