#home
	.hero
		grid-template-columns: 4fr 8fr 4fr
		height: 600px

		.left .scroll,
		.right
			height: 600px

		.left .scroll
			gap: 20px
			grid-template-rows: repeat(2, auto)

		.right
			.header
				height: 40px

				h2
					font-size: 18px
					overflow: hidden
					text-overflow: ellipsis
					white-space: nowrap
			
			.articles
				gap: 20px
				grid-template-rows: repeat(4, 1fr)

	.intro
		border-top: 1px dashed var(--border-color)
		margin: 0 auto
		padding-top: 30px
		width: 835px

	#boekencast
		margin: 0 auto
