#home
	#hero
		gap: 60px
		grid-template-columns: 4fr 8fr 4fr
		height: 600px
		margin: 0 auto
		margin-top: 80px !important
		max-width: 1280px
		width: 90%

		.mobile-featured
			display: none

		.left .scroll,
		.right
			height: 600px

		.left .scroll
			gap: 20px
			grid-template-rows: repeat(2, auto)

		.right
			.header
				height: 39px

				h2
					font-size: 18px
					overflow: hidden
					text-overflow: ellipsis
					white-space: nowrap

			.articles
				gap: 20px
				grid-template-rows: repeat(4, 1fr)

	.intro
		border-top: 1px dashed var(--border-color)
		margin: 0 auto
		padding-top: 30px
		width: var(--avg-width)

		+ section .theme:first-of-type
			padding-top: 100px

	.av,
	.newsletter
		margin: 0 auto
