.intro
	text-align: center

	.sticky
		border-right: none !important
		margin-top: 100px
		padding: 60px

		&::before
			left: 38px !important
			top: 110px !important

		.links
			font-size: 28px
			line-height: 35px
			margin-top: 20px
		
			a
				font-size: 16px
				font-weight: 700

			.pipe
				font-size: 14px
				font-weight: 700
