article
	#hero
		margin: 0 auto
		max-width: var(--min-width)

		.title
			h1
				margin-bottom: 6px

		figure
			margin-left: calc((var(--min-width) - var(--max-width)) / 2)
			width: var(--max-width)

		.info
			display: none

	.content
		max-width: var(--min-width)

		.uylenspieghel
			gap: 30px
			padding: 15px

		.note,
		.recording
			padding: 40px

		.recording
			.toggle
				margin-top: -9px

		.summary
			h3
				font-size: 28px

		>p:first-of-type:first-letter
			font-size: 99px
			line-height: 68px

		blockquote p
			padding-left: 40px

		figure,
		table,
		.blockquote
			margin-left: calc((var(--min-width) - var(--avg-width)) / 2)
			width: var(--avg-width)

		#av,
		#newsletter
			margin-left: calc((var(--min-width) - var(--avg-width)) / 2)
