article
	.hero
		gap: 50px
		grid-template-columns: 1fr 1fr
		margin-bottom: 100px

		.left
			figure
				img
					height: calc(100vh - 101px - 40px - 40px)

				figcaption
					position: absolute
					margin-top: -27px
					padding-left: 4px
					padding-right: 8px
					background: var(--background-color)

		.right
			align-content: center
			display: grid
		
			.authors
				margin-bottom: 50px
		
			h1
				margin-bottom: 20px

	.content
		max-width: 665px

		blockquote p
			padding-left: 40px

		figure,
		.blockquote
			margin-left: -85px
			width: 835px

		#boekencast
			margin-left: -85px
