.themes
	border-top: 1px dashed var(--border-color)
	width: var(--min-width)
	margin-left: auto
	margin-right: auto
	margin-top: 60px
	padding-top: 60px

	.theme
		margin-left: calc((var(--min-width) - var(--avg-width)) / 2)
		width: var(--avg-width)

.theme
	border-top: 1px dashed var(--border-color)
	margin: 0 auto
	margin-bottom: 40px
	margin-top: 40px
	max-width: var(--avg-width)

	&:first-of-type
		margin-top: 0px

	&.left
		grid-template-areas: "article description" "article pages"
		grid-template-columns: auto 56%

	&.right
		grid-template-areas: "description article" "pages article"
		grid-template-columns: 56% auto

	.article
		grid-template-rows: auto min-content
		height: 100%
