sup
	.arrow
		background: var(--popup-background-color)
		height: 18px
		position: absolute
		opacity: 0
		transform: rotate(45deg) translateY(-4px)
		transition: all .1s
		width: 18px

	.tooltip
		background: var(--popup-background-color);
		padding: 20px
		position: absolute;
		margin-top: 6px
		max-width: 350px
		opacity: 0
		text-align: left
		transform: translateY(-4px)
		transition: all .15s
		white-space: normal
		z-index: 100

		*
			font-size: 13px
			font-weight: 400

		p
			color: var(--text-color) !important
			margin: 0 !important
			padding: 0 !important

		.hover
			height: 40px
			margin-left: -20px
			position: absolute
			top: -26px
			width: 100%
