baseURL = "https://reactionair.nl/"
title   = "Reactionair.nl"

languageCode           = "nl"
DefaultContentLanguage = "nl"

removePathAccents    = true
enableRobotsTXT      = true
cleanDestinationDir  = true
capitalizeListTitles = false
pluralizeListTitles  = false

[pagination]
	pagerSize = 10
	path      = "pagina"

[params]
	api    = "https://admin.reactionair.nl"
	advert = "De seksuele revolutie"

[taxonomies]
	author = "authors"
	theme  = "theme"
	column = "column"

[permalinks]
	[permalinks.page]
		articles = "/artikelen/:slug/"
		shop     = "/winkel/producten/:sections[last]/:slug/"
	[permalinks.section]
		articles = "/artikelen/"
		shop     = "/winkel/producten/:sections[last]/"
	[permalinks.term]
		authors   = "/auteurs/:slug/"
		theme     = "/themas/:slug/"
		column    = "/columns/:slug/"
	[permalinks.taxonomy]
		authors   = "/auteurs/"
		theme     = "/themas/"
		column    = "/columns/"

[related]
	includeNewer = true

[[related.indices]]
	name   = "tags"
	weight = 100
[[related.indices]]
	name   = "theme"
	weight = 60
[[related.indices]]
	name   = "authors"
	weight = 20
[[related.indices]]
	name   = "date"
	weight = 20

[markup]
	[markup.goldmark]
		[markup.goldmark.parser]
			autoHeadingID = false
		[markup.goldmark.renderer]
			unsafe = true
	[markup.highlight]
		codeFences = false

[imaging]
	resampleFilter = "Lanczos"

[minify]
	minifyOutput = true
	[minify.tdewolff.html]
		keepWhitespace = false

[outputs]
	home     = ["html", "rss"]
	section  = ["html", "rss"]
	taxonomy = ["html", "rss"]
	term     = ["html", "rss"]
	page     = ["html"]

[mediaTypes]
	[mediaTypes.'audio/mpeg']
		delimiter = '.'
		suffixes = ['mp3']

[httpcache]
	[httpcache.cache]
		[httpcache.cache.for]
			includes = ['https://admin.reactionair.nl/**', 'http://127.0.0.1:8000/**']

[security]
	[security.http]
		mediaTypes = ['^audio/mpeg$']

[build]
	noJSConfigInAssets = true
