<head>
	<title>{{ .Title | safeHTML }}</title>

	<meta name="description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Params.subtitle }} - {{ .Summary }}{{ end }}">
	{{ if eq .Type "articles" }}
		<meta name="author" content="{{ delimit .Params.authors ", " }}">
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="theme-color" content="#FFFFFF" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#0E0A06" media="(prefers-color-scheme: dark)">

	{{ partial "head/opengraph.html" . }}
	{{ partial "head/scheme.html" . }}
	{{ if .Params.noindex }}
		<meta name="robots" content="noindex">
	{{ end }}

	{{ partialCached "head/favicons.html" . }}

	{{ $shop := eq .Section "shop" }}
	{{ partialCached "head/stylesheets.html" . $shop }}
	{{ partialCached "head/scripts.html" . $shop }}
</head>
