<head>
	<title>{{ .Title | safeHTML }}</title>

	<meta name="description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Params.subtitle }} - {{ .Summary }}{{ end }}">
	{{ if eq .Type "artikelen" }}
		<meta name="author" content="{{ delimit .Params.authors ", " }}">
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ partial "head/opengraph.html" . }}
	{{ partial "head/scheme.html" . }}
	{{ if .Params.noindex }}
		<meta name="robots" content="noindex">
	{{ end }}

	{{ partialCached "head/favicons.html" . }}

	{{ partial "head/stylesheets.html" . }}
	{{ partialCached "head/scripts.html" . }}
</head>
