<script type="application/ld+json">
	{
		"@context": "https://schema.org/",

		{{ if eq .Type "articles" }}
			{{ $image  := .Resources.Get .Params.image }}
			{{ $anchor := "Smart" }}
			{{ if isset .Params "anchor" }}
				{{ $anchor = .Params.anchor }}
			{{ end }}
		
			"@type": "Article",
			"headline": "{{ .Params.title | plainify }}",
			"alternativeHeadline": "{{ .Params.subtitle | plainify }}",
			"datePublished": "{{ .Params.date.Format "2006-01-02" }}",
			"image": [
				"{{ ($image.Fill (printf "1200x628 webp %s" $anchor)).Permalink }}"
			],
			"author": [
				{{ range $i, $author := .Params.authors }}
					{
						"@type": "Person",
						"name": "{{ $author }}",
						"url": "https://reactionair.nl/auteurs/{{ urlize $author }}"
					}{{ if lt $i (len $.Params.authors) }},{{ end }}
				{{ end }}
			],
			"publisher": {
				"@type": "Organization",
				"name": "Reactionair.nl",
				"url": "https://reactionair.nl",
				"logo": "{{ "img/og-image.png" | absURL }}"
			}
		{{ else if and (eq .Type "authors") (eq .Kind "term") }}
			"@type": "Person",
			"name": "{{ .Params.title | safeHTML }}",
			"image": "{{ (.Resources.Get .Params.image).Permalink }}"
		{{ else if and (eq .Type "shop") (isset .Params "front") }}
			"@type": ["Product", "Book"],
			"name": "{{ .Params.title | safeHTML }}{{ if isset .Params "subtitle" }}: {{ .Params.subtitle | safeHTML }}{{ end }}",
			"datePublished": "{{ .Params.date.Format "2006-01-02" }}",
			"image": "{{ (.Resources.Get .Params.front).Permalink }}",
			"bookFormat": "http://schema.org/Paperback",
			"inLanguage": "{{ .Params.language }}",
			"isbn": "{{ replace (index .Params.types 0).isbn "-" "" }}",
			"numberOfPages": "{{ .Params.pages }}",
			"publisher": {
				"@type": "Organization",
				"name": "{{ .Params.publisher }}"
			},
			"author": [
				{{ range $i, $author := .Params.writers }}
					{
						"@type": "Person",
						"name": "{{ $author }}"
					}{{ if lt $i (len $.Params.writers) }},{{ end }}
				{{ end }}
			],
			"offers": {
                "@type": "Offer",
                "availability": "{{ if .Params.unavailable }}https://schema.org/OutOfStock{{ else }}https://schema.org/InStock{{ end }}",
                "price": "{{ (index .Params.types 0).amount }}",
                "priceCurrency": "EUR",
                "itemCondition": "https://schema.org/NewCondition"
             }
		{{ else }}
			"@type": "Organization",
			"name": "Reactionair.nl",
			"url": "https://reactionair.nl",
			"logo": "{{ "img/og-image.png" | absURL }}",
			"sameAs": ["https://twitter.com/reactionairNL", "https://www.instagram.com/reactionairnl/", "https://www.youtube.com/channel/UCn3NumrZf7H8PQRxrfdfk5Q"]
		{{ end }}
	}
</script>
