{{ $options := dict
	"minify" true
	"params" (dict "api" .Site.Params.api "rev" .Site.Params.rev)
}}

<script defer type="module" src="{{ (resources.Get "js/main.js" | js.Build $options).RelPermalink }}?v={{ site.Params.rev }}"></script>
{{ if eq (index (split (trim .Page.RelPermalink "/") "/") 0) "winkel" }}
	<script defer type="module" src="{{ (resources.Get "js/shop.js" | js.Build $options).RelPermalink }}?v={{ site.Params.rev }}"></script>
{{ end }}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM83VY2NM0"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-MM83VY2NM0');
</script>
