{{ $options := dict
	"outputStyle" "compressed"
}}

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Work+Sans:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ (resources.Get "sass/light.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{{ (resources.Get "sass/dark.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="{{ (resources.Get "sass/main.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810">
<link rel="stylesheet" href="{{ (resources.Get "sass/mobile.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810" media="(max-width: 1024px)">
<link rel="stylesheet" href="{{ (resources.Get "sass/desktop.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810" media="(min-width: 1025px)">

{{ if eq .Params.layout "boekencast" }}
	<link rel="stylesheet" href="{{ (resources.Get "sass/boekencast/main.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810">
	<link rel="stylesheet" href="{{ (resources.Get "sass/boekencast/mobile.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810" media="(max-width: 1024px)">
	<link rel="stylesheet" href="{{ (resources.Get "sass/boekencast/desktop.sass" | resources.ToCSS $options).RelPermalink }}?v=1660483810" media="(min-width: 1025px)">
{{ end }}
