\:root
	--background-color: #0E0A06
	--selection-color: #A48d8B
	--accent-background-color: #220B0A

	--author-background-color: #632929
	--author-filter: invert(3%) sepia(4%) saturate(6509%) hue-rotate(349deg) brightness(108%) contrast(97%)

	--shadow-color: rgba(152, 49, 49, 0.18)
	--light-shadow-color: rgba(179, 101, 0, 0.03)
	--dark-shadow-color: rgba(152, 49, 49, 0.25)
	--book-shadow-color: radial-gradient(circle, rgba(179, 101, 0, 0.25) 0%, rgba(179, 101, 0, 0) 70%)

	--text-color: #E6C9B8
	--accent-color: #B34F4E
	--accent-filter: invert(38%) sepia(46%) saturate(556%) hue-rotate(314deg) brightness(97%) contrast(109%)
	--muted-color: #8F7272
	--border-color: #3B2020

	--popup-background-color: #381515
	--popup-background-filter: invert(9%) sepia(73%) saturate(1060%) hue-rotate(327deg) brightness(106%) contrast(93%)
	--popup-border-color: #632929
