\:root
	--background-color: #161110
	--selection-color: #A48d8B

	--text-color: #D0CCC6
	--accent-color: #B34F4E
	--muted-color: #606367
	--muted-filter: invert(40%) sepia(7%) saturate(307%) hue-rotate(175deg) brightness(92%) contrast(86%)
	--slightly-muted-color: #8D8E8f
	--border-color: #412929

	--header-background-color: #212A2D
	--header-border-color: #3e2828

	--utility-color: #161110

	--footnotes-background-color: #221a18

	--popup-background-color: #341B1B
	--popup-background-filter: invert(9%) sepia(11%) saturate(3883%) hue-rotate(285deg) brightness(98%) contrast(91%)
	--popup-border-color: #632929
