\:root
	--background-color: #111518
	--selection-color: #A48d8B

	--text-color: #D0CCC6
	--accent-color: #B34F4E
	--muted-color: #606367
	--slightly-muted-color: #8D8E8f
	--border-color: #293941

	--header-background-color: #212A2D
	--header-border-color: #29333B

	--utility-color: #142022

	--footnotes-background-color: #182022

	--popup-background-color: #341B1B
	--popup-border-color: #632929
