@import "partials/desktop/typography"
@import "partials/desktop/base"

@import "partials/desktop/advert"
@import "partials/desktop/articles"
@import "partials/desktop/authors"
@import "partials/desktop/books"
@import "partials/desktop/comments"
@import "partials/desktop/footer"
@import "partials/desktop/footnotes"
@import "partials/desktop/header"
@import "partials/desktop/home"
@import "partials/desktop/list"
@import "partials/desktop/newsletter"
@import "partials/desktop/recording"
@import "partials/desktop/single"
@import "partials/desktop/themes"
@import "partials/desktop/tooltip"

\:root
	--max-width: 1035px
	--avg-width: 835px
	--min-width: 665px

main
	margin-top: 60px

	&:has(#product, .intro)
		margin: 0
