@import partials/desktop/article
@import partials/desktop/authors
@import partials/desktop/bookclub
@import partials/desktop/comments
@import partials/desktop/featured
@import partials/desktop/footer
@import partials/desktop/header
@import partials/desktop/intro
@import partials/desktop/list
@import partials/desktop/question
@import partials/desktop/theme
@import partials/desktop/tooltip
@import partials/desktop/typography


// Main

main
	column-gap: 5%
	grid-template-columns: auto minmax(60%, calc(100% - 5% - 560px))
	grid-template-rows: auto
	margin-top: 40px

	>aside
		align-self: stretch
		grid-column: 1
		grid-row: auto

		.sticky
			position: sticky
			top: calc(110px + 55px + 50px + 30px + 2px)
			transition: top .2s

	>article,
	>section
		grid-column: 2
		grid-row: auto

#page
	grid-template-columns: 2fr minmax(0, 750px) 1fr


// Asides

aside
	margin-bottom: 31px
