\:root
	--background-color: #FFF
	--selection-color: #E4C0BE

	--accent-background-color: #FAF7F6

	--text-color: #060B11
	--accent-color: #9A3433
	--accent-filter: invert(30%) sepia(38%) saturate(853%) hue-rotate(314deg) brightness(98%) contrast(110%)
	--muted-color: #777
	--border-color: #E3E3E3

	--popup-background-color: #E9CAC9
	--popup-background-filter: invert(89%) sepia(2%) saturate(4361%) hue-rotate(312deg) brightness(102%) contrast(83%)
	--popup-border-color: #DDA7A5
