\:root
	--background-color: #FFF
	--selection-color: #E4C0BE

	--accent-background-color: #FAF7F6

	--text-color: #060B11
	--accent-color: #9A3433
	--muted-color: #777
	--muted-filter: invert(48%) sepia(0%) saturate(724%) hue-rotate(167deg) brightness(96%) contrast(97%)
	--slightly-muted-color: #555
	--border-color: #E3E3E3

	--header-background-color: #FAF8F7
	--header-border-color: #E3D5D0

	--search-background-color: #F5EAE6

	--utility-color: #FFF

	--popup-background-color: #E9CAC9
	--popup-background-filter: invert(89%) sepia(2%) saturate(4361%) hue-rotate(312deg) brightness(102%) contrast(83%)
	--popup-border-color: #DDA7A5
