\:root
	--background-color: #FFFFFF
	--selection-color: #E4C0BE
	--accent-background-color: #FAF7F6

	--shadow-color: rgba(179, 101, 0, 0.15)
	--light-shadow-color: rgba(179, 101, 0, 0.03)
	--dark-shadow-color: rgba(179, 101, 0, 0.20)
	--book-shadow-color: radial-gradient(circle, rgba(179, 101, 0, 0.25) 0%, rgba(179, 101, 0, 0) 70%)

	--text-color: #060B11
	--text-filter: invert(6%) sepia(3%) saturate(2%) hue-rotate(175deg) brightness(95%) contrast(89%)
	--accent-color: #B41E1D
	--accent-filter: invert(30%) sepia(38%) saturate(853%) hue-rotate(314deg) brightness(98%) contrast(110%)
	--muted-color: #777
	--border-color: #E7DBDB

	--popup-background-color: #E9CAC9
	--popup-background-filter: invert(89%) sepia(2%) saturate(4361%) hue-rotate(312deg) brightness(102%) contrast(83%)
	--popup-border-color: #DDA7A5
