@import partials/typography
@import partials/base

@import partials/article
@import partials/articles
@import partials/authors
@import partials/boekencast
@import partials/cited
@import partials/comments
@import partials/dossiers
@import partials/footer
@import partials/footnotes
@import partials/header
@import partials/home
@import partials/list
@import partials/paginator
@import partials/slider
@import partials/theme


// Main

main
	display: grid
	margin: 0 auto
	margin-top: 40px
