@import "partials/mobile/typography"
@import "partials/mobile/base"

@import "partials/mobile/advert"
@import "partials/mobile/articles"
@import "partials/mobile/authors"
@import "partials/mobile/books"
@import "partials/mobile/footer"
@import "partials/mobile/footnotes"
@import "partials/mobile/header"
@import "partials/mobile/home"
@import "partials/mobile/list"
@import "partials/mobile/newsletter"
@import "partials/mobile/quiz"
@import "partials/mobile/recording"
@import "partials/mobile/single"
@import "partials/mobile/slider"
@import "partials/mobile/themes"

main
	margin-top: 40px
	min-height: calc(100vh - 81px - 56px)
	width: calc(100vw - 40px)
