@import partials/mobile/article
@import partials/mobile/authors
@import partials/mobile/bookclub
@import partials/mobile/featured
@import partials/mobile/footer
@import partials/mobile/header
@import partials/mobile/intro
@import partials/mobile/list
@import partials/mobile/question
@import partials/mobile/quote
@import partials/mobile/slider
@import partials/mobile/theme
@import partials/mobile/typography


// Main

main
	margin: 0 auto
	width: calc(100vw - 40px)


// Single

#page
	margin-top: 20px
