<div class="author">
	{{ if .utility }}
		<div class="utility">
			<span>{{ len .context.RegularPages }} artikel{{ if gt (len .context.RegularPages) 1 }}en{{ end }} geschreven</span>

			{{ partial "authors/socials.html" .context }}
		</div>
	{{ end }}

	<div class="information">
		<img src="{{ .context.RelPermalink }}/avatar.webp" alt="{{ .context.Params.title }}">
		<h3>{{ .context.Params.title }}</h3>
		<p class="profession">{{ .context.Params.profession }}</p>
	</div>

	<p class="description">{{ .context.Params.description }}</p>

	<a class="more" href="{{ .context.RelPermalink }}">Meer van deze auteur...</a>
</div>
