<div class="book-container">
	<div class="book large {{ if .animate }}animate{{ end }} {{ if .hover }}hover{{ end }} {{ if .click }}click{{ end }}">
		{{ $thickness := div (add 5 (mul .pages 0.082)) 12 }}

		<img
			src="{{ (.front.Fit "1320x880 webp").RelPermalink }}"
			alt="{{ .title }}"
			class="cover"
			style="background: {{ index .front.Colors 0 }}; transform: translateZ({{ $thickness }}vh);">
		{{ if .click }}
			<div class="back" style="transform: translateZ(calc({{ $thickness }}vh - 1px));"></div>
		{{ end }}
		<div class="pages" style="transform: translateX({{ sub 27.5 $thickness }}vh) rotateY(90deg); width: {{ mul $thickness 1.9 }}vh;"></div>
		<div class="back" style="transform: translateZ(calc(-{{ $thickness }}vh + 1px));"></div>
		{{ if .click }}
			<img
				src="{{ (.back.Fit "1320x880 webp").RelPermalink }}"
				loading="lazy"
				alt="{{ .title | safeHTML }}"
				class="back"
				style="background: {{ index .back.Colors 0 }}; transform: translateZ(-{{ $thickness }}vh) scaleX(-1);">
		{{ end }}
		<div class="shadow"></div>
	</div>
</div>
