.added-to-cart
	grid-template-columns: 50px calc(193px - 100px) 50px

	.checkout
		grid-column: span 3
		text-align: center

	input
		background: var(--popup-background-color)
		color: var(--accent-color)
		margin: 0
		text-align: center
		width: 100%

.in-cart
	display: flex

.cart-page
	display: grid

	.cart-empty
		margin-top: 100px
		text-align: center

		a
			font-style: italic

	#products
		gap: 0
		padding: 0

		.product
			grid-template-columns: 100px auto
			padding: 0px

			.book-container
				transform: scale(0.5)

			.text
				display: grid
				gap: 10px
				width: 100%

				.cart-form
					align-items: center
					display: flex
					flex-direction: row-reverse
					gap: 20px

					.price
						margin: 0

	.info
		.prices
			background: var(--accent-background-color)
			padding: 20px
			margin-bottom: 10px
			text-align: right

			.shipping,
			.total,
			.total-plus-shipping
				color: var(--muted-color)
				font-family: 'IM Fell English SC', serif
				font-style: italic
				font-size: 20px

			.free-shipping
				font-size: 13px

				span
					color: var(--accent-color)
					font-family: 'IM Fell English SC', serif

			.total-plus-shipping
				border-top: 1px dashed var(--border-color)
				color: var(--text-color)
				display: inline-block
				font-size: 30px
				margin-top: 15px
				padding-top: 8px

		.button
			float: right
