.added-to-cart
	grid-template-columns: 50px calc(193px - 100px) 50px

	.checkout
		grid-column: span 3
		text-align: center

	input
		background: var(--popup-background-color)
		color: var(--accent-color)
		margin: 0
		text-align: center
		width: 100%

.in-cart
	display: flex

.cart-page
	display: grid
	grid-gap: 20px
	grid-template-columns: var(--avg-width) auto
	width: 90% !important
	max-width: 1280px !important

	.cart-empty
		margin-top: 100px
		text-align: center

		a
			font-style: italic

	.info
		.prices
			text-align: right
			background: var(--accent-background-color)
			padding: 20px
			margin-bottom: 10px

			.shipping,
			.total,
			.total-plus-shipping
				color: var(--muted-color)
				font-family: 'IM Fell English SC', serif
				font-style: italic
				font-size: 20px

			.free-shipping
				font-size: 13px

				span
					color: var(--accent-color)
					font-family: 'IM Fell English SC', serif

			.total-plus-shipping
				border-top: 1px dashed var(--border-color)
				color: var(--text-color)
				display: inline-block
				font-size: 30px
				margin-top: 15px
				padding-top: 8px

		.button
			float: right
