.checkout-page
	margin: 0 auto

	form
		margin: 0 auto
		width: var(--min-width)

		label
			display: inline-block
			margin-bottom: 5px
			margin-top: 20px

		input
			width: 100%

		button
			display: block

		.checkbox
			margin-bottom: 30px

			input
				margin-right: 10px
				margin-top: 2px

