.selects
	display: flex
	justify-content: end
	justify-self: end

	.filters
		&:first-of-type
			margin-top: 10px

.filters
	display: flex
	margin-top: 10px
	justify-content: end
	justify-self: end

	&:first-of-type
		margin-top: 50px

	.title
		font-size: 16px
		font-style: italic

	.filters-container
		display: inline-flex
		gap: 10px

		span
			background: transparent
			border: 1px dashed var(--border-color)
			border-radius: 50px
			color: var(--accent-color)
			cursor: pointer
			font-size: 16px
			font-style: italic
			padding: 10px 15px 10px 15px
			white-space: nowrap

			&.active
				background: var(--accent-background-color)

		.select-container
			display: flex

			.select
				position: relative
				padding-right: 35px

				&::after
					border: none
					color: var(--accent-color)
					content: '›'
					display: block
					font-style: normal
					font-size: 28px
					pointer-events: none
					position: absolute
					right: 15px
					top: 2px
					transform: rotate(90deg)
					transition: all 0.15s ease-in-out

				&.open
					&::after
						transform: rotate(90deg) rotateY(-180deg)

			.options-container
				background: var(--popup-background-color)
				width: 278px

				&::before
					background: var(--popup-background-color)
					content: ''
					height: 18px
					margin-top: -6px
					position: absolute
					transform: rotate(45deg) translateY(-4px)
					transition: all .1s
					width: 18px
					right: 40px

				input
					background: unset
					color: var(--accent-color)
					width: 100%
					border-bottom: 1px dashed var(--popup-border-color)
					margin-bottom: -1px
					font-size: 16px

					&::placeholder
						color: var(--popup-border-color)

				.options
					max-height: 275px
					list-style: none
					width: 100%
					padding-left: 0
					overflow-y: scroll

					.option
						color: var(--accent-color)
						cursor: pointer
						font-size: 16px
						font-style: italic
						border-top: 1px dashed var(--popup-border-color)
						padding: 15px

						&.selected,
						&.focus,
						&:hover
							background-color: unset
							font-weight: 400

#products
	list-style: none
	padding: 0
	padding-top: 50px
