.product
	border-bottom: 1px dashed var(--border-color)
	display: grid
	gap: 50px

	&:last-of-type
		border-bottom: none

	.text
		align-self: center

		.author
			color: var(--accent-color)
			font-family: 'IM Fell English SC', serif
			font-size: 16px
			letter-spacing: 0.1px
			text-transform: lowercase
			margin-bottom: 5px


		.cart-form
			.price
				font-family: 'IM Fell English SC', serif
				font-style: italic
				margin-bottom: 20px

				.unavailable
					font-size: 16px

		h2
			color: var(--text-color)

		h3
			color: var(--text-color)
			font-style: italic
			font-weight: 400
			font-size: 18px
			line-height: 16px
			margin: 0px
			margin-bottom: 5px
