#hero
	.shop-title-container
		.shop-title
			text-align: center
			font-style: italic

		.shop-quote
			font-style: italic

		.shop-subtitle
			font-size: 32px
			font-style: italic
			position: relative
			text-align: center
			text-shadow: 0 10px 40px var(--background-color)
			z-index: 2

	.cart-form-container
		background: var(--background-color)
		display: grid
		z-index: 10

		.cart-form
			&:not(:last-of-type)
				border-bottom: 1px dashed var(--border-color)
				margin-bottom: 20px
				padding-bottom: 20px

			.price
				font-family: 'IM Fell English SC', serif
				font-style: italic
				padding-bottom: 4px

				.type
					color: var(--muted-color)
					font-family: 'IM Fell English', serif
					font-size: 16px !important

				.unavailable
					font-family: 'IM Fell English', serif
					font-size: 23px

			input
				margin-bottom: 10px

#product
	table
		margin-top: 40px
		width: 100%

		tr
			border-bottom: 1px dashed var(--border-color)
			margin-bottom: 10px
			height: 40px

			th
				text-align: left

			td
				font-style: italic

	#content
		border-top: 1px dashed var(--border-color)
		margin: 0 auto
		margin-top: 30px
		max-width: var(--min-width)
		padding-top: 30px

		p
			margin-bottom: 30px
			text-align: justify
			-webkit-hyphens: auto
