#hero
	align-content: space-evenly
	border-bottom: 1px dashed var(--border-color)
	display: grid
	grid-gap: 30px
	justify-content: center
	overflow: hidden
	position: relative
	width: 100vw

	.background
		background: url('/img/guenon.svg')
		background-position: top
		background-size: cover
		filter: var(--popup-background-filter) saturate(1.5)
		-webkit-mask: radial-gradient(black 10%, transparent 70%)
		mask: radial-gradient(black 10%, transparent 70%)
		position: absolute
		transform: rotate(-12deg)
		width: 110vw

	.back-button
		position: absolute
		font-size: 60px
		right: 36px
		top: -10px
		z-index: 1

	.book-container
			align-self: center
			perspective: 100vh

	.title-container
		h1
			color: var(--text-color)
			font-style: italic
			font-weight: 700
			position: relative
			text-align: center
			z-index: 2

		h2
			font-style: italic
			position: relative
			text-align: center
			text-shadow: 0 10px 40px var(--background-color)
			z-index: 2

		h3
			font-family: 'IM Fell English SC', serif
			position: relative
			text-align: center
			text-shadow: 0 5px 20px var(--background-color)
			z-index: 2
			margin: 0

		.quote
			color: #B35F5A
			font-style: italic
			font-weight: 700
			mix-blend-mode: hard-light
			position: absolute

	.cart-form-container
		background: var(--background-color)
		display: grid
		z-index: 10

		.cart-form
			&:not(:last-of-type)
				border-bottom: 1px dashed var(--border-color)
				margin-bottom: 20px
				padding-bottom: 20px

			.price
				font-family: 'IM Fell English SC', serif
				font-style: italic
				padding-bottom: 4px

				.type
					color: var(--muted-color)
					font-family: 'IM Fell English', serif
					font-size: 16px !important

				.unavailable
					font-family: 'IM Fell English', serif
					font-size: 23px

			input
				margin-bottom: 10px

#product
	table
		margin-top: 40px
		width: 100%

		tr
			border-bottom: 1px dashed var(--border-color)
			margin-bottom: 10px
			height: 40px

			th
				text-align: left

			td
				font-style: italic

				span
					display: inline-block
					max-width: 250px
					overflow: hidden
					text-overflow: ellipsis
					white-space: nowrap

	#content
		border-top: 1px dashed var(--border-color)
		margin: 0 auto
		margin-top: 30px
		max-width: var(--min-width)
		padding-top: 30px

		p
			margin-bottom: 30px
			text-align: justify
			-webkit-hyphens: auto

.thank-you
	margin-top: 100px
	text-align: center

	a
		font-style: italic
