#product
	display: grid
	gap: 50px
	margin: 0 auto

	aside
		display: flex
		justify-content: center
		align-items: center

		.book-container::before
			color: var(--accent-background-color)
			content: '“'
			font-style: italic
			font-weight: 700
			pointer-events: none
			position: absolute

	article
		#hero
			padding-bottom: 0

			.title
				text-align: left
				text-wrap: auto
				width: 100%

				.authors
					display: block
					margin: 0
					margin-bottom: 30px
					padding: 0

					a
						display: inline
						font-family: 'IM FELL English SC', serif
						font-size: 16px
						font-weight: 400
						text-transform: lowercase
						letter-spacing: 0.1px
						margin: 0


		.cart
			align-items: start
			display: grid
			margin-top: 40px

			.cart-form
				display: grid
				grid-template-columns: max-content max-content

				.price
					font-size: 20px
					grid-column: 2
					grid-row: 1
					background: var(--accent-background-color)
					height: 50px
					line-height: 50px
					padding: 0px 20px

				.checkout
					margin-top: 5px

		.content
			border-top: none

			figure,
			table,
			.blockquote
				margin-left: 0
				width: auto

			.more
				color: var(--accent-color)
				cursor: pointer
				font-style: italic
				font-size: 20px

		.details
			border-top: 1px dashed var(--border-color)
			margin-top: 40px
			padding-top: 30px

			table
				width: 100%

				tr
					height: 40px
					margin-bottom: 10px

					th
						text-align: left

					td
						font-style: italic

						a
							font-size: unset

						span
							display: inline-block
							max-width: 250px
							overflow: hidden
							text-overflow: ellipsis
							white-space: nowrap
