{{ $variants := .variants }}
{{ if not .checkout }}
	{{ $variants = slice (index .variants 0) }}
{{ end }}

{{- $wrapperClass := "font-sc italic mb-5" -}}
{{- if .cartPage -}}
	{{- $wrapperClass = "flex flex-row-reverse items-center justify-end gap-5 font-sc italic mb-5" -}}
{{- else if .checkout -}}
	{{- $wrapperClass = "grid grid-cols-[max-content_max-content] font-sc italic mb-5" -}}
{{- end -}}

{{- $priceClass := "mb-5" -}}
{{- if .cartPage -}}
	{{- $priceClass = "" -}}
{{- else if .checkout -}}
	{{- $priceClass = "text-[20px] col-start-2 row-start-1 bg-accent-bg h-[50px] leading-[50px] px-5" -}}
{{- end -}}

{{ range $index, $_ := $variants }}
	<div
		class="{{ $wrapperClass }}"
		x-data="{
			variant: {{ .id }},
			price:   {{ .price }},

			get current() {
				return $store.cart.find({{ .id }}) || { quantity: 0 };
			}
		}"
		{{ if $.checkout }}
			x-cloak
			x-show="filter === {{ .id }}"
		{{ end }}
	>
		<div class="{{ $priceClass }}">
			{{ if not $.checkout }}
				{{ if not $.out_of_stock }}
					{{ range $i, $variant := $.variants }}
						{{ $int := int .price }}
						{{ $dec := sub .price $int }}

						€ {{ $int }}.<span class="decimals">{{ strings.TrimPrefix "0." (printf "%.2f" $dec) }}</span>

						{{ if lt (add $i 1) (len $.variants) }}
							/&nbsp;
						{{ end }}
					{{ end }}
				{{ else }}
					<span class="text-[16px]">Niet beschikbaar.</span>
				{{ end }}
			{{ else }}
				{{ if not .out_of_stock }}
					{{ $int := int .price }}
					{{ $dec := sub .price $int }}

					€ {{ $int }}.<span class="decimals">{{ strings.TrimPrefix "0." (printf "%.2f" $dec) }}</span>
				{{ else }}
					<span class="text-[16px]">Niet beschikbaar.</span>
				{{ end }}
			{{ end }}
		</div>

		{{ if and (not $.checkout) (gt (len $.variants) 1) }}
			{{ partial "components/button" (dict
				"href"     $.permalink
				"disabled" $.out_of_stock
				"text"     "Toevoegen aan winkelwagen"
				"attrs"    (cond $.out_of_stock "disabled" "")
			) }}
		{{ else }}
			{{ partial "components/button" (dict
				"tag"      "button"
				"disabled" $.out_of_stock
				"text"     "Toevoegen aan winkelwagen"
				"attrs"    (printf `x-show="current.quantity === 0" @click="$store.cart.add(%v, %v)"` .id .price)
			) }}
		{{ end }}

		<div
			class="grid grid-cols-[50px_calc(193px-100px)_50px]"
			x-cloak
			:style="current.quantity > 0 ? 'display: grid;' : 'display: none;'"
		>
			{{ partial "components/button" (dict
				"tag"      "button"
				"disabled" .out_of_stock
				"text"     "-"
				"attrs"    (printf `%s @click="$store.cart.remove(%v)"` (cond .out_of_stock "disabled" "") .id)
			) }}

			<input
				class="!bg-popup-bg !text-accent !m-0 !text-center !w-full {{ if .out_of_stock }}disabled{{ end }}"
				type="number"
				value="1"
				min="1"
				{{ if .out_of_stock }}disabled{{ end }}
				x-model.lazy.number="current.quantity"
			>

			{{ partial "components/button" (dict
				"tag"      "button"
				"disabled" .out_of_stock
				"text"     "+"
				"attrs"    (printf `%s @click="$store.cart.add(%v, %v)"` (cond .out_of_stock "disabled" "") .id .price)
			) }}

			{{ if $.checkout }}
				{{ partial "components/button" (dict
					"href"  "/winkel/wagen"
					"class" "col-span-3 !text-center"
					"text"  "Afrekenen"
				) }}
			{{ end }}
		</div>
	</div>
{{ end }}

{{ if and .checkout (gt (len $variants) 1) }}
	<div class="inline-flex gap-2.5 mb-5 max-md:mt-[15px] md:mt-[6px]">
		<span class="text-[16px] italic mb-[5px]">Variant:</span>

		<span class="inline-flex gap-2.5">
			{{ range $variants }}
				{{ partial "components/pill" (dict
					"text"  (.format | title)
					"attrs" (printf `:class="filter === %v ? 'bg-accent-bg' : ''" @click="filter = %v"` .id .id)
				) }}
			{{ end }}
		</span>
	</div>
{{ end }}

