<div
	class="filters"
	x-data="{
		open:      false,
		search:    '',
		options:   [],
		filtered:  [],

		init() {
			document.addEventListener('click', (ev) => {
				if (!this.open) {
					return;
				}

				if (!$refs.select.contains(ev.target)) {
					this.open = false;
				}
			});

			$watch('filters.{{ .key }}', (value) => {
				this.options   = value;
				this.filtered  = value;
			});

			$watch('open', (value) => {
				if (!value) {
					return;
				}

				setTimeout(() => {
					$refs.search.focus();
				}, 100);
			});
		}
	}"
>
	<span class="title">{{ title .singular }}:</span>

	<span class="filters-container" x-ref="select">
		<div class="select-container">
			<span
				class="select"
				:class="{
					'open':   open,
					'active': active.{{ .key }},
				}"
				x-text="(active.{{ .key }} ?? 'Alle {{ .plural }}')"
				@click="open = !open"
			></span>

			<div
				class="options-container"
				x-cloak
				x-show="open"
				x-anchor.top-end.offset.7="$refs.select"
			>
				<input
					type="text"
					placeholder="Zoek {{ .singular }}..."
					x-model="search"
					x-ref="search"
					@input="filtered = Object.fromEntries(Object.entries(options).filter(([name]) => name.toLowerCase().includes($event.target.value.toLowerCase())))"
				>

				<ol class="options">
					<li
						class="option"
						x-text="`Alle {{ .plural }}`"
						@click="activate('{{ .key }}', ''); open = false; search = ''"
					></li>

					<template x-for="(amount, name) in filtered">
						// If amount, or the only active filter is the current one, show the option
						<template x-if="amount || (Object.keys(active).length === 1 && active.{{ .key }} === name)">
							<li
								class="option"
								:class="active.{{ .key }} !== name || 'active'"
								x-text="name + (amount ? ` (${amount})` : '')"
								@click="activate('{{ .key }}', name); open = false; search = ''"
							></li>
						</template>
					</template>
				</ol>
			</div>
		</div>
	</span>
</div>
