<div
	x-data="{
		open:      false,
		search:    '',
		options:   [],
		filtered:  [],

		init() {
			document.addEventListener('click', (ev) => {
				if (!this.open) {
					return;
				}

				if (!$refs.select.contains(ev.target)) {
					this.open = false;
				}
			});

			$watch('filters.{{ .key }}', (value) => {
				this.options   = value;
				this.filtered  = value;
			});
		}
	}"
>
	<div class="title">{{ title .singular }}:</div>

	<div class="filters" x-ref="select">
		<div class="select-container">
			<span
				class="select"
				:class="{
					'open':   open,
					'active': active.{{ .key }},
				}"
				x-text="active.{{ .key }} ? `${active.{{ .key }}} (${filtered[active.{{ .key }}]})` : `Alle {{ .plural }}`"
				@click="open = !open"
			>
				Alle {{ .plural }}
			</span>

			<div
				class="options-container"
				x-cloak
				x-show="open"
				x-anchor.bottom-end.offset.7="$refs.select"
				x-trap="open"
			>
				<input
					type="text"
					placeholder="Zoek {{ .singular }}..."
					x-model="search"
					@input="filtered = Object.fromEntries(Object.entries(options).filter(([name]) => name.toLowerCase().includes($event.target.value.toLowerCase())))"
				>

				<ol class="options">
					<li
						class="option"
						@click="activate('{{ .key }}', ''); open = false; search = ''"
					>
						Alle {{ .plural }}
					</li>

					<template x-for="(amount, name) in filtered">
						<template x-if="amount || (Object.keys(active).length === 1 && active.{{ .key }} === name)">
							<li
								class="option"
								:class="active.{{ .key }} !== name || 'active'"
								x-text="name + (amount ? ` (${amount})` : '')"
								@click="activate('{{ .key }}', name); open = false; search = ''"
							></li>
						</template>
					</template>
				</ol>
			</div>
		</div>
	</div>
</div>
