:root {
	--background-color: #1D1111;
	--selection-color: #A48d8B;

	--text-color: #CCA28F;
	--accent-color: #B34F4E;
	--muted-color: #6F5B52;
	--slightly-muted-color: #8B7166;
	--border-color: #3E2E2E;

	--header-background-color: #341B1B;
	--header-border-color: #3B2121;

	--utility-color: #2E1515;

	--footnotes-background-color: #261919;

	--question-background-color: #341B1B;
}
