/* Typography */

h1 {
	font-size: 72px;
	line-height: 78px;
}

h2 {
	font-size: 42px;
	line-height: 54px;
	margin-bottom: 60px;
}

a,
button,
em,
li,
p,
input,
textarea,
.welcomments__comment-message {
	font-size: 19px;
	line-height: 27px;
}


/* Header */

header .utility .left {
	margin-left: 40px;
	text-align: left; 
}

header .utility .right {
	margin-right: 40px;
	text-align: right; 
}

header .utility .pipe {
	margin-left: 12px;
	margin-right: 12px;
}


/* List */

#list {
	grid-template-columns: repeat(6, 1fr);
	margin: 0 auto;
	max-width: 1440px;
}

#list .article {
	grid-column: span 2;
}

#list .article:nth-child(5n-4),
#list .article:nth-child(5n-3) {
	grid-column: span 3;
}

#list .article:nth-child(5n-1) {
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}

#list .article:nth-child(5n-3) {
	border-left: 1px solid var(--border-color);
}

.author-list {
	max-width: 1440px;
}


/* Single */

#single {
	column-gap: 5%;
	grid-template-areas:
		"author   article"
		"question comments";
	grid-template-columns: auto minmax(60%, calc(100% - 5% - 560px));
	grid-template-rows: auto;
}


/* Sidebar */

.sidebar {
	height: calc(100% - 30px);
}

#author,
#question {
	position: sticky;
	top: calc(110px + 55px + 40px + 2px);
	transition: top .2s;
}


/* Author */

#author .utility .author {
	display: none;
}

.author-container .name-container {
	height: 100px;
	margin-bottom: 20px;
}

.author-container .name-container img {
	border-radius: 100%;
	display: inline-block;
	float: left;
	height: 100px;
	margin-right: 25px;
	position: relative;
	width: 100px;
}

.author-container .name-container .author {
	font-family: "Quadraat Pro Sans", sans-serif;
	display: inline-block;
	margin-bottom: -6px;
	margin-top: 19px;
	min-width: 50%;
}

.author-container .name-container .profession {
	color: var(--muted-color);
	display: inline-block;
	font-style: italic;
	min-width: 50%;
	width: auto;
}

.author-container .description {
	color: var(--slightly-muted-color);
	display: block;
	width: 100%;
}


/* Article */

article .img-left {
	float: left;
	width: 45%;
}


/* Question */

#question::after {
	background: var(--question-background-color);
	content: "";
	height: 18px;
	position: absolute;
	right: -9px;
	top: calc(50% - 9px);
	transform: rotate(45deg);
	width: 18px;
}


/* Footer */

footer {
	justify-content: flex-end;
}

footer a:last-child {
	margin-right: 40px;
}

footer .pipe {
	margin-left: 12px;
	margin-right: 12px;
}
