/* Typography */

h1 {
	font-size: 39px;
	line-height: 43px;
}

h2 {
	font-size: 31px;
	line-height: 41px;
	margin-bottom: 20px;
}

a,
button,
em,
li,
p,
input,
textarea,
.welcomments__comment-message {
	font-size: 19px;
	line-height: 29px;
}


/* Header */

header .utility {
	flex-direction: column;
	line-height: 25px;
	padding-bottom: 10px;
	padding-top: 25px;
	transition: padding-top .2s;
}

header .utility .left,
header .utility .right {
	overflow: hidden;
	text-align: center; 
	width: calc(100% - 60px);
}

header .utility .left div,
header .utility .right div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header .utility .pipe {
	margin-left: 8px;
	margin-right: 8px;
}


/* List */

#list {
	grid-template-areas:
		"pages"
		"paginator";
	width: 100vw;
}

#list .article {
	width: calc(100vw - (2 * 60px));
}


/* Single */

#single {
	column-gap: 5%;
	grid-template-areas:
		"author"
		"article"
		"question"
		"comments";
}


/* Author */

#author .utility .author {
	float: right;
	font-size: 15px;
	font-style: italic;
	max-width: 33%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#author .utility .author a {
	font-size: 15px;
}

#author .author-container {
	display: none;
}


/* Article */

article .img-left {
	margin-bottom: 15px;
	width: 100%;
}


/* Popup */

.popup {
	position: relative;
}

.popup .arrow {
	bottom: -9px;
	left: calc(50% - 9px);
}

.popup.intro {
	display: none;
}


/* Footer */

footer {
	justify-content: center;
}

footer .pipe {
	margin-left: 8px;
	margin-right: 8px;
}
