/* Base */

* {
	text-decoration: none;
	margin: 0;
}

body {
	background: var(--background-color);
	font-family: "Quadraat Pro", serif;
	overflow-x: hidden;
}

input {
	border: 0;
	outline: 0;
	padding: 13px;
}

button {
	border: none;
	border-radius: 0;
	background: var(--accent-color);
	color: var(--background-color);
	cursor: pointer;
	display: block;
	font-family: "Quadraat Pro", serif;
	font-weight: 700;
	height: 40px;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 40px !important;
}

hr {
	border: none;
	border-top: 1px solid var(--border-color);
	margin-bottom: 30px;
}

input,
textarea {
	background: var(--footnotes-background-color);
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	color: var(--text-color);
	display: block;
	font-family: "Quadraat Pro", serif;
	margin-bottom: 10px;
	outline: none;
}

img {
	background: var(--header-background-color);
}

textarea {
	padding: 30px;
	resize: none;
}

q::before,
q::after {
	content: none;
}

::placeholder {
	color: var(--muted-color);
}

::selection {
	background: var(--selection-color);
}


/* Typography */

h1,
h2,
h3,
h4,
label,
li,
p,
code,
.welcomments__comment-message {
	color: var(--text-color);
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 400;
}

h3 {
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 30px;
	margin-top: 60px;
}

a {
	color: var(--accent-color);
}

code {
	background: var(--footnotes-background-color);
	display: block;
	font-size: 18px;
	line-break: anywhere;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 214px;
	padding: 20px;
	text-align: center;
}

figcaption,
figcaption p,
small {
	color: var(--muted-color);
	font-size: 12px;
	font-style: italic;
	line-height: 22px;
}

sup,
sup a {
	font-size: 12px;
	font-weight: 700;
	line-height: 0px;
	margin-left: 1px;
	margin-right: 1px;
}


/* Header */

header {
	position: sticky;
	text-align: center;
	top: 0px;
	transition: transform .2s;
	width: 100%;
	z-index: 99;
}

header #logo-container {
	background: var(--header-background-color);
	border-bottom: 1px solid var(--header-border-color);
	height: 110px;
}

header #logo img {
	background: #A62F27;
	box-shadow: 0 5px 25px -4px rgba(108, 19, 15, 0.1);
	height: 113px;
	margin-top: 15px;
	transition: all .2s .1s;
}

header #logo img:hover {
	box-shadow: 0 10px 35px -6px rgba(108, 19, 15, 0.25);
	transform: scale(1.05) translateY(2px) !important;
}

header .utility {
	align-items: center;
	background: var(--utility-color);
	border-bottom: solid 1px var(--border-color);
	display: flex;
	height: 55px;
	justify-content: center;
}

header .utility .left,
header .utility .right {
	display: inline-block;
	font-weight: 700;
	width: 100vw;
}

header .utility .left {
	color: var(--accent-color);
	font-size: 14px;
}

header .utility .right {
	color: var(--text-color);
	font-size: 16px;
}


/* Author container */

.author-container .name-container {
	height: 100px;
	margin-bottom: 20px;
}

.author-container .name-container img {
	border-radius: 100%;
	display: inline-block;
	float: left;
	height: 100px;
	margin-right: 25px;
	position: relative;
	width: 100px;
}

.author-container .name-container .author {
	font-family: "Quadraat Pro Sans", sans-serif;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 15px;
	max-width: 68%;
	min-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.author-container .name-container .profession {
	color: var(--muted-color);
	display: inline-block;
	font-style: italic;
	min-width: 50%;
	width: auto;
}

.author-container .description {
	color: var(--slightly-muted-color);
	display: block;
	width: 100%;
}


/* Misc */

#misc {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 800px;
	width: 90%;
}

#misc {
	margin-bottom: 30px;
}


/* List */

#list {
	display: grid;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 1440px;
	width: 90%;
}

#list #authors .author-container {
	background: var(--background-color);
	padding: 60px;
}

#list #authors,
#list #articles {
	background: var(--border-color);
	border-bottom: 1px solid var(--border-color);
	display: grid;
	grid-area: pages;
	grid-gap: 1px;
}

#list #articles .article {
	background: var(--background-color);
	padding: 60px;
	position: relative;
	text-align: center;
}

#list #articles .article img {
	height: 300px;
	margin: 0 auto;
	margin-bottom: 50px;
	object-fit: cover;
	width: 100%;
}

#list #articles h2 {
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
	margin-bottom: 10px;
}

#list #articles h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 0px;
}

#list #articles .author {
	color: var(--slightly-muted-color);
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
	margin-bottom: 60px;
}

#list #articles .category {
	bottom: 40px;
	color: var(--accent-color);
	font-family: "Quadraat Pro Sans", sans-serif;
	font-size: 18px;
	position: absolute;
	width: calc(100% - (60px * 2));
}


/* Paginator */

.paginator {
	font-family: "Quadraat Pro Sans", sans-serif;
	grid-area: paginator;
	list-style: none;
	margin-top: 80px;
	text-align: center;
}

.paginator a {
	background: var(--accent-color);
	color: var(--background-color);
	height: 40px;
	display: inline-block;
	line-height: 43px;
	width: 40px;
}

.paginator .prev {
	margin-right: 4px;
}

.paginator .next {
	margin-left: 4px;
}

.paginator .disabled {
	background: var(--footnotes-background-color);
	color: var(--muted-color);
	cursor: default;
}


/* Single */

#single {
	display: grid;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 1440px;
	width: 90%;
}

#single p {
	margin-bottom: 30px;
}


/* Author */

#author {
	grid-area: author;
	padding-top: 10px;
}

#author .utility {
	border-bottom: 1px solid var(--border-color);
	color: var(--muted-color);
	font-size: 17px;
	margin-bottom: 40px;
	padding-bottom: 12px;
}

#author .utility .icon {
	height: 17px;
	position: relative;
	top: 4px;
}

#author .utility .pipe {
	margin-left: 12px;
	margin-right: 12px;
}


/* Article */

article {
	grid-area: article;
}

article blockquote p {
	color: var(--muted-color);
	padding-left: 40px;
}

article table {
	border-collapse: collapse;
	margin-bottom: 30px;
}

article td,
article th {
	border: 1px solid var(--border-color);
	font-size: 18px;
	padding: 8px;
	text-align: center;
}

article th,
article td:nth-child(1) {
	font-size: 16px;
	font-weight: 600;
}

article td:nth-child(1) {
	text-align: right;
}

article th:nth-child(1) {
	background: transparent;
}

article ul {
	margin-bottom: 30px;
}

/* https://bugs.webkit.org/show_bug.cgi?id=204163 */
article li::marker {
	/*content: "\2022";*/
	color: var(--accent-color);
	/*display: inline-block;
	margin-left: -1.4em;
	width: 1.4em;*/
}

article .img-center {
	margin-bottom: 15px;
}

article .img-center img,
article .img-left img {
	width: 100%;
}

article figcaption p {
	font-size: 15px;
	margin-bottom: 0px !important;
}

article .twitter-tweet-rendered {
	margin: 0 auto;
	margin-bottom: 30px !important;
}


/* Footnotes */

.footnotes {
	background: var(--footnotes-background-color);
	margin-top: 80px;
	padding: 50px;
	padding-bottom: calc(50px - 30px);
}

.footnotes li::marker {
	color: var(--text-color);
}

.footnotes hr {
	display: none;
}


/* Popup */

.popup {
	background: var(--popup-background-color);
	color: var(--accent-color);
	font-size: 28px;
	line-height: 35px;
	margin-top: 60px;
	padding: 60px;
	text-align: center;
}

.popup .arrow {
	background: var(--popup-background-color);
	height: 18px;
	position: absolute;
	transform: rotate(45deg);
	width: 18px;
}

.popup.question {
	grid-area: question;
	margin-top: 100px;
}


/* Comments */

#comments {
	grid-area: comments;
	margin-top: 100px;
}

#comments #welcomments__container .welcomments__form-group textarea {
	width: 100%;
}

#comments #welcomments__container .welcomments__form-group input,
#comments #welcomments__container .welcomments__form-group button {
	height: 40px;
}

#comments #welcomments__container .welcomments__form-group input {
	float: left;
	width: calc(100% - 40px);
}

#comments #welcomments__container .welcomments__form-group button {
	float: right;
	width: 40px;
}

#comments #welcomments__form {
	width: 100%;
}

#comments .welcomments__comment {
	background: var(--footnotes-background-color);
	padding: 30px;
	margin-bottom: 10px;
}

#comments .welcomments__comment h3 {
	font-family: "Quadraat Pro Sans", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

#comments .welcomments__comment p:last-child {
	margin-bottom: 0;
}

#comments .welcomments__comment a {
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

#comments .welcomments__comment-time {
	color: var(--muted-color);
	font-style: italic;
	margin-bottom: 20px !important;
}


/* Footer */

footer {
	align-items: center;
	border-top: 1px solid var(--border-color);
	bottom: 0px;
	color: var(--text-color);
	display: flex;
	height: 55px;
	margin-top: 86px;
	position: relative;
	width: 100%;
}

footer a {
	font-size: 16px;
	font-weight: 700;
}

footer .pipe {
	font-size: 14px;
	font-weight: 700;
}
