<div class="cart-form-container">
	{{ range .types }}
		<div class="cart-form" data-name="{{ $.title | urlize }}" data-type="{{ .name | urlize }}" data-price="{{ .price }}">
			<div class="price">
				{{ if gt (len $.types) 1 }}
					<div class="type">{{ .name }}</div>
				{{ end }}

				{{ if not .out_of_stock }}
					{{ .price | printf "€ %.2f" }}
				{{ else }}
					<span class="unavailable">Niet beschikbaar.</span>
				{{ end }}
			</div>

			{{ if not .out_of_stock }}
				<button class="button add-to-cart">
					Toevoegen aan winkelwagen
				</button>

				<div class="added-to-cart" style="display: none;">
					<button class="button remove-from-cart" >
						-
					</button>

					<input class="amount-in-cart" type="number" value="1" min="1" max="10">

					<button class="button add-to-cart">
						+
					</button>

					{{ if $.checkout }}
						<a href="/winkel/wagen" class="button checkout">
							Afrekenen
						</a>
					{{ end }}
				</div>
			{{ end }}
		</div>
	{{ end }}
</div>
