#product
	grid-template-columns: 1fr 1fr
	margin-top: 80px
	max-width: 1280px
	width: 90%

	aside
		height: calc(100vh - 101px -  101px - 80px - 80px)

		.quote
			margin-top: -80px

	article
		.cart
			grid-template-columns: auto auto

			.variants
				margin-top: 6px

	#comments
		grid-column: span 2
