#hero
	.shop-title
		font-size: 60px !important
		max-width: 800px

	.shop-quote
		font-size: 260px !important
		margin-left: -2% !important
		margin-top: -171px !important

	.cart-form-container
		border-right: none
		bottom: 75px
		box-shadow: 0px 10px 80px -13px rgba(154, 52, 51, 0.1)
		padding-right: 7vw
		position: absolute
		right: 0px
		width: 200px

		.cart-form
			.price
				font-size: 50px
				margin-bottom: 20px

#product
	table
		border-spacing: 15px

		tr
			padding: 10px

		th
			border-right: 1px dashed var(--border-color)
			text-align: left

		td
			padding-left: 10px
			font-style: italic
