#hero
	height: calc(100vh - 157px)

	.background
		height: calc(105vh - 157px)
		left: -6vw

	.book-container
		max-height: 90%

	h1
		font-size: 123px
		text-shadow: 0 10px 40px var(--background-color)
		line-height: 70px

		.de
			font-size: 30px
			text-shadow: 0px 5px 20px var(--background-color)

		.reactionair
			font-size: 42px
			text-shadow: 0px 5px 20px var(--background-color)

		&.shop-title
			font-size: 60px
			max-width: 800px
			text-align: center

	.quote
		font-size: 400px
		margin-left: -35px
		margin-top: -255px

		&.shop-quote
			font-size: 300px

#episodes
	ul
		max-width: 900px
		padding: 100px

#product
	margin: 0 auto
	max-width: var(--avg-width)


