main
	display: block
	margin: 0
	max-width: 100vw
	padding: 0
	width: 100vw

footer
	margin: 0

#hero
	align-content: space-evenly
	border-bottom: 1px dashed var(--border-color)
	display: grid
	grid-gap: 30px
	justify-content: center
	overflow: hidden
	position: relative
	width: 100vw

	.background
		background: url('/img/guenon.svg')
		background-position: top
		background-size: cover
		filter: var(--popup-background-filter) saturate(1.5)
		mask: radial-gradient(black 10%, transparent 70%)
		position: absolute
		transform: rotate(-12deg)
		width: 110vw

	h1
		color: var(--text-color)
		text-align: right
		font-weight: 700
		position: relative
		z-index: 2

		.de,
		.reactionair
			font-style: italic
			text-transform: capitalize

	.quote
		color: #B35F5A
		font-weight: 700
		mix-blend-mode: hard-light
		position: absolute

	.book-container
		align-self: center
		perspective: 100vh

	.cart-form
		background: var(--background-color)
		z-index: 10
		position: absolute
		right: 0px
		padding: 30px
		padding-right: 7vw
		bottom: 75px
		width: 200px
		box-shadow: 0px 10px 80px -13px rgba(154, 52, 51, 0.1)
		border-right: none
		display: grid

		.price
			font-family: 'IM Fell English SC', serif
			font-size: 50px
			font-style: italic
			margin-bottom: 20px
			padding-bottom: 4px



#episodes
	width: 100vw

	ul
		list-style: none
		margin: 0 auto
		padding: 0

		li
			h2
				font-size: 36px
				font-weight: 700
				font-style: italic
				line-height: 48px
				margin-top: -31px
				margin-bottom: 15px

			.number
				color: var(--popup-background-color)
				display: inline
				font-weight: 700
				font-size: 120px
				font-style: italic
				margin-left: -4px
				margin-top: -66px
				opacity: 0.5
				position: absolute
				z-index: -1

			.listen
				font-size: 16px
				font-style: italic
				margin-bottom: 0px
				margin-top: 30px

#product
	table
		margin-top: 40px
		width: 100%
		border-spacing: 15px

		tr
			border-bottom: 1px dashed var(--border-color)
			margin-bottom: 10px
			padding: 10px
			height: 40px

			th
				border-right: 1px dashed var(--border-color)
				text-align: left

			td
				padding-left: 10px
				font-style: italic

	.cart-form
		margin-bottom: 30px
		width: 200px

	#content
		border-top: 1px dashed var(--border-color)
		margin: 0 auto
		margin-top: 30px
		max-width: var(--min-width)
		padding-top: 30px

		p
			margin-bottom: 30px
			text-align: justify
			-webkit-hyphens: auto

.added-to-cart
	grid-template-columns: 50px auto 50px

	.checkout
		grid-column: span 3
		text-align: center

	input
		width: 100%
		text-align: center


.in-cart
	display: flex
