main
	display: block
	margin: 0
	padding: 0

footer
	margin: 0

#hero
	align-content: space-evenly
	border-bottom: 1px dashed var(--border-color)
	display: grid
	grid-gap: 30px
	justify-content: center
	overflow: hidden
	position: relative
	width: 100vw

	.background
		background: url("/img/guenon.svg")
		background-position: top
		background-size: cover
		filter: var(--popup-background-filter) saturate(1.5)
		mask: radial-gradient(black 10%, transparent 70%)
		position: absolute
		transform: rotate(-12deg)
		width: 110vw

	h1
		color: var(--text-color)
		text-align: right
		font-style: italic
		font-weight: 700
		position: relative
		z-index: 2

	.quote
		color: #B35F5A
		font-family: "Quadraat Pro Sans", sans-serif
		mix-blend-mode: hard-light
		position: absolute

	.book-container
		align-self: center
		perspective: 100vh

		.book
			animation: 17s ease 0s infinite book
			height: 42vh
			margin: 0 auto
			position: relative
			transform-style: preserve-3d
			transition: transform 1s ease
			width: 28vh

			.cover
				 background-color: #01060f
				 border-radius: 2px 3px 3px 2px
				 box-shadow: 5px 12px 32px -13px rgba(154, 52, 51, 0.25)
				 height: 42vh
				 left: 0
				 position: absolute
				 top: 0
				 width: 28vh

			.pages
				background: repeating-linear-gradient(to right, #FFF9F6, #E1C8A4 4.75px)
				border-radius: 3px
				content: " "
				height: 40.5vh
				left: 0
				position: absolute
				top: 0.75vh

			.back
				background-color: #5C3020
				border-radius: 0 3px 3px 0
				content: " "
				height: 42vh
				left: 0
				position: absolute
				top: 0
				width: 28vh

			.shadow
				background: radial-gradient(circle, rgba(154, 52, 51, 0.25), rgba(154, 52, 51, 0) 72%)
				bottom: -200px
				height: 400px
				left: -91px
				position: absolute
				transform: rotateX(90deg)
				width: 400px

#episodes
	width: 100vw

	ul
		list-style: none
		margin: 0 auto
		padding: 0

		li
			h2
				font-weight: 700
				margin-top: -31px
				font-family: "Quadraat Pro Sans", sans-serif

			.number
				color: var(--popup-background-color)
				font-family: "Quadraat Pro Sans", sans-serif
				font-weight: 700
				font-size: 120px

			.listen
				font-size: 16px
				font-style: italic
				margin-bottom: 0px
				margin-top: 30px

			a
				background: var(--popup-background-color)
				color: var(--accent-color)
				display: inline-block
				font-family: "Quadraat Pro Sans", sans-serif
				font-size: 16px
				height: 50px
				line-height: 50px
				margin-right: 4px
				margin-top: 7px
				padding-left: 15px
				padding-right: 15px
