{{ define "main" }}
	<main>
		<section id="hero">
			<div class="background"></div>

			{{ partial "books/large.html" (dict
				"context" .
				"title"   "De Zahir"
				"pages"   380
				"front"   (resources.Get "images/boekencast/de-zahir.webp")
				"animate" true
			) }}

			<div>
				<h1><span class="de">de </span><span class="reactionair">Reactionair</span><br>Boekencast</h1>
				<div class="quote">“</div>
			</div>
		</section>

		<article id="episodes">
			<ul>
				<li>
					<div class="number">1.</div>
					<h2>De Zahir, met Robert Lemm</h2>

					<p>In deze eerste podcast bespreken we de verhalenbundel <i>De Zahir</i> van de Argentijnse schrijver Jorge Luis Borges (1899-1986). Onze gast is Robert Lemm, hispanoloog, vertaler van Borges en reactionair. Met hem proberen we een indruk te geven van het volumineuze en veelzijdige, diepzinnige doch toegankelijke oeuvre van Borges en de luisteraar van de bijzonderheid daarvan te overtuigen. Uiteraard staan we ook stil bij de politieke implicaties van zijn werk.</p>

					<p class="listen">Luisteren:</p>
					<a class="button" href="https://youtu.be/WTX3ObMMd54" target="_blank">YouTube</a>
					<a class="button" href="https://open.spotify.com/episode/0ftmnLZimcXF6bAamUykKS" target="_blank">Spotify</a>
					<a class="button" href="https://podcasts.apple.com/nl/podcast/de-zahir-met-robert-lemm/id1636692071?i=1000571345177" target="_blank">Apple Podcasts</a>
					<!--<a href="" target="_blank">Google Podcasts</a>-->
				</li>
			</ul>
		</article>
	</main>
{{ end }}
