{{ define "main" }}
	<article class="donate-page ">
		<section class="content no-border">
			<section>
				<h1>{{ .Title | safeHTML }}</h1><br>

				{{ .Content }}
			</section>

			<hr>

			<section>
				<h3>iDEAL & meer</h3>

				<form
					class="form"
					x-data="{
						submit() {
							fetch('{{ .Site.Params.api }}/api/donate/payment', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json'
								},
								body: JSON.stringify(Object.fromEntries(new FormData($el)))
							}).then((response) => {
								return response.json();
							}).then((data) => {
								window.location.replace(data);
							});
						}
					}"
					@submit.prevent="submit"
				>
					<label>Naam</label>
					<div class="form-group name">
						<input
							type="text"
							name="first-name"
							required
							placeholder="Uw naam"
							autocomplete="given-name"
						/>
						<input
							type="text"
							name="preposition"
							placeholder="Tussenv."
							autocomplete="additional-name"
						/>
						<input
							type="text"
							name="last-name"
							required
							placeholder="Uw achternaam"
							autocomplete="family-name"
						/>
					</div>

					<label>Contactgegevens</label>
					<div class="form-group">
						<input type="email" name="email" required placeholder="Uw e-mailadres" autocomplete="email"/>
					</div>

					<label>Bedrag</label>
					<div class="form-group amount">
						<label class="button" for="amount-5">
							<input type="radio" name="amount" id="amount-5" value="5"/>
							<span>€ 5</span>
						</label>

						<label class="button" for="amount-10">
							<input type="radio" name="amount" id="amount-10" value="10" checked/>
							<span>€ 10</span>
						</label>

						<label class="button" for="amount-25">
							<input type="radio" name="amount" id="amount-25" value="25"/>
							<span>€ 25</span>
						</label>

						<label class="button" for="amount-100">
							<input type="radio" name="amount" id="amount-100" value="100"/>
							<span>€ 100</span>
						</label>
					</div>

					<label for="newsletter-checkbox">
						<input type="checkbox" name="newsletter" id="newsletter-checkbox" checked/>
						<span>Ik wil de <i>Reactionair.nl</i> nieuwsbrief ontvangen</span>
					</label>

					<button type="submit" class="button">
						Naar betaalscherm
					</button>
				</form>
			</section>

			<hr>

			<section>
				<h3>Monero</h3>

				<p>Volledig anoniem een donatie maken is ook mogelijk met gebruik van de cryptocurrency <i>Monero</i>. Onze <i>Monero wallet</i> is:</p>

				<code>43N66aiA9392qz7pTFAfSe1qJxrxDACDhMvcTVv5uPkWK37XSCMxaeqg2PTp8NeZMuaGcjatuQCaoCFrUdRxuQX71mBnwvr</code>
			</section>
		</section>
	</article>
{{ end }}
