{{ define "main" }}
	<main id="singe">		
		<article id="donate">
			<section class="content">
				<h1>{{ .Params.title }}</h1>
				<h2>{{ .Params.subtitle }}</h2>

				<p>U kunt doneren via het fondsenwervingsplatform <em><a href="https://whydonate.nl/fundraising/reactionair/nl/" target="_blank">WhyDonate</a></em>. Zowel eenmalig als maandelijks doneren is mogelijk:</p>

				<p><a class="button" style="serif; width: fit-content; padding-left: 10px; padding-right: 10px;" href="https://whydonate.nl/fundraising/reactionair/nl/" target="_blank">Doneren</a></p>

				<p>Volledig anoniem een donatie maken is ook mogelijk met gebruik van de cryptocurrency <em>Monero</em>:</p>
				<code>43N66aiA9392qz7pTFAfSe1qJxrxDACDhMvcTVv5uPkWK37XSCMxaeqg2PTp8NeZMuaGcjatuQCaoCFrUdRxuQX71mBnwvr</code><p></p>

				<hr>

				{{ .Content }}
			</section>
		</article>
	</main>
{{ end }}
