{{ define "main" }}
	{{ $themes   := slice "Politiek & Actualiteit" "Cultuur & Maatschappij" "Recensie & Biografie" "Religie & Metafysica" }}
	{{ $articles := where site.RegularPages "Params.themas" "in" $themes }}

	<aside class="intro quote">
		<div class="sticky">
			{{ partial "asides/quote.html" (dict
				"text"   ""
				"author" ""
			) }}

			<div class="links">
				<a href="/auteurs/">Auteurs</a>

				<span class="pipe">|</span>

				<a href="/doneren/">Doneren</a>
				
				<span class="pipe">|</span>
				
				<a href="/artikelen/wie-zijn-wij/">Wie zijn wij?</a>
			</div>
		</div>
	</aside>

	<section>
		{{ partial "articles/featured.html" (dict
			"context" (index $articles 0)
			"size"    "large"
		) }}
	</section>

	{{ $articles = $articles | after 1 }}

	<section>
		{{ $themes := slice "Politiek & Actualiteit" "Cultuur & Maatschappij" }}
		{{ $pages  := where $articles "Params.themas" "in" $themes }}

		{{ range $i, $theme := $themes }}		
			{{ $side := "right" }}
			{{ if mod $i 2 }}
				{{ $side = "left" }}
			{{ end }}
		
			{{ partial "articles/theme.html" (dict
				"context" .
				"section" "themas"
				"term"    $theme
				"pages"   (where $pages "Params.themas" "eq" $theme)
				"side"    $side
				"lazy"    (ge $i 1)
			) }}
		{{ end }}
	</section>

	<section id="boekencast">
		{{ partial "boekencast.html" (dict
			"context" .
			"book"    "De Zahir"
			"pages"   203
		) }}
	</section>

	<section>
		{{ $themes := slice "Recensie & Biografie" "Religie & Metafysica"  }}
		{{ $pages  := where $articles "Params.themas" "in" $themes }}

		{{ range $i, $theme := $themes }}		
			{{ $side := "right" }}
			{{ if mod $i 2 }}
				{{ $side = "left" }}
			{{ end }}
		
			{{ partial "articles/theme.html" (dict
				"context" .
				"section" "themas"
				"term"    $theme
				"pages"   (where $pages "Params.themas" "eq" $theme)
				"side"    $side
				"lazy"    (ge $i 1)
			) }}
		{{ end }}	
	
		{{ partial "articles/theme.html" (dict
			"context" .
			"section" "themas"
			"term"    "Klikaas"
			"pages"   (where site.RegularPages "Params.themas" "eq" "Klikaas")
			"side"    "right"
			"lazy"    true
		) }}
	</section>
{{ end }}
