{{ define "main" }}
	{{ $themes   := slice "Politiek en Actualiteit" "Cultuur en Maatschappij" "Religie en Wijsbegeerte" "Onderzoek en Speurwerk" "Geschiedenis en Biografie" }}
	{{ $articles := where site.RegularPages "Params.themes" "in" $themes }}

	<section id="hero">
		<section class="left">
			<div class="scroll">
				{{ partial "articles/large.html" (dict
					"context" (index $articles 1)
				) }}

				{{ partial "articles/large.html" (dict
					"context" (index $articles 2)
				) }}
			</div>
		</section>

		{{ partial "articles/featured.html" (dict
			"context" (index $articles 0)
		) }}

		<section class="right">
			<div class="header">
				<h2>Laatste <i>van</i> Reactionair.nl</h2>
			</div>

			<div class="articles">
				{{ partialCached "articles/small.html" (dict
					"context" (index $articles 3)
				) (index $articles 3).File.ContentBaseName }}

				{{ partialCached "articles/small.html" (dict
					"context" (index $articles 4)
				) (index $articles 4).File.ContentBaseName }}

				{{ partialCached "articles/small.html" (dict
					"context" (index $articles 5)
				) (index $articles 5).File.ContentBaseName }}

				{{ partialCached "articles/small.html" (dict
					"context" (index $articles 6)
				) (index $articles 6).File.ContentBaseName }}
			</div>
		</section>
	</section>

	<aside class="intro">
		<p class="text">“...”</p>
		<p class="author"><span class="dash">—</span> ...</p>

		<div class="links">
			<a href="/auteurs/">Auteurs</a>

 			<span class="pipe">•</span>

			<a href="/winkel/">Winkel</a>
			
			<span class="pipe">•</span>
			
			<a href="/artikelen/wie-zijn-wij/">Wie zijn wij?</a>
		</div>
	</aside>

	{{ $articles = $articles | after 7 }}

	<section>
		{{ $themes := slice "Politiek en Actualiteit" "Religie en Wijsbegeerte" }}
		{{ $pages  := where $articles "Params.themes" "in" $themes }}

		{{ range $i, $theme := $themes }}
			{{ $pages := (where $pages "Params.themes" "eq" $theme) }}

			{{ $side := "right" }}
			{{ if mod $i 2 }}
				{{ $side = "left" }}
			{{ end }}

			{{ partial "articles/theme.html" (dict
				"context" .
				"section" "themes"
				"path"    "themas"
				"term"    $theme
				"pages"   $pages
				"side"    $side
			) }}
		{{ end }}
	</section>

	<section class="av">
		{{ $book := index (where (where site.RegularPages "Section" "shop") ".Params.title" "Our Way Back") 0 }}

		{{ with $book }}
			{{ partialCached "advert.html" (dict
				"context" .
				"book"    .
			) .File.ContentBaseName }}
		{{ end }}
	</section>

	<section>
		{{ $themes := slice "Onderzoek en Speurwerk" "Cultuur en Maatschappij" }}
		{{ $pages  := where $articles "Params.themes" "in" $themes }}

		{{ range $i, $theme := $themes }}
			{{ $pages := (where $pages "Params.themes" "eq" $theme) }}

			{{ $side := "right" }}
			{{ if mod $i 2 }}
				{{ $side = "left" }}
			{{ end }}

			{{ partial "articles/theme.html" (dict
				"context" .
				"section" "themes"
				"path"    "themas"
				"term"    $theme
				"pages"   $pages
				"side"    $side
			) }}
		{{ end }}
	</section>

	<section class="newsletter">
		{{ partialCached "newsletter.html" . }}
	</section>

	<section>
		{{ $themes   := slice "Geschiedenis en Biografie" "De Uylenspieghel" }}
		{{ $articles := where site.RegularPages "Params.themes" "in" $themes }}
		{{ $pages    := where $articles "Params.themes" "in" $themes }}

		{{ range $i, $theme := $themes }}
			{{ $pages := (where $pages "Params.themes" "eq" $theme) }}

			{{ $side := "right" }}
			{{ if mod $i 2 }}
				{{ $side = "left" }}
			{{ end }}

			{{ partial "articles/theme.html" (dict
				"context" .
				"section" "themes"
				"path"    "themas"
				"term"    $theme
				"pages"   $pages
				"side"    $side
			) }}
		{{ end }}
	</section>
{{ end }}
