{{ define "main" }}
	{{ $themes   := slice "Politiek & Actualiteit" "Cultuur & Maatschappij" "Recensie & Biografie" "Religie & Metafysica" }}
	{{ $articles := where site.RegularPages "Params.themas" "in" $themes }}

	<section class="hero">
		<section class="left">
			{{ partial "articles/large.html" (dict
				"context" (index $articles 1)
			) }}

			{{ partial "articles/large.html" (dict
				"context" (index $articles 2)
			) }}
		</section>
	
		{{ partial "articles/featured.html" (dict
			"context" (index $articles 0)
		) }}

		<section class="right">
			<div class="header">
				<h2>Meest recente artikelen</h2>
			</div>

			<div class="articles">
				{{ partial "articles/small.html" (dict
					"context" (index $articles 3)
				) }}

				{{ partial "articles/small.html" (dict
					"context" (index $articles 4)
				) }}

				{{ partial "articles/small.html" (dict
					"context" (index $articles 5)
				) }}

				{{ partial "articles/small.html" (dict
					"context" (index $articles 6)
				) }}
			</div>
		</section>
	</section>

	<aside class="intro">
		<p class="text">“...”</p>
		<p class="author"><span class="dash">—</span> ...</p>

		<div class="links">
			<a href="/auteurs/">Auteurs</a>

			<span class="pipe">|</span>

			<a href="/doneren/">Doneren</a>
			
			<span class="pipe">|</span>
			
			<a href="/artikelen/wie-zijn-wij/">Wie zijn wij?</a>
		</div>
	</aside>

	{{ $articles = $articles | after 7 }}

	<section>
		{{ $themes := slice "Politiek & Actualiteit" "Cultuur & Maatschappij" }}
		{{ $pages  := where $articles "Params.themas" "in" $themes }}

		{{ range $i, $theme := $themes }}		
			{{ $side := "right" }}
			{{ if mod $i 2 }}
				{{ $side = "left" }}
			{{ end }}
		
			{{ partial "articles/theme.html" (dict
				"context" .
				"section" "themas"
				"term"    $theme
				"pages"   (where $pages "Params.themas" "eq" $theme)
				"side"    $side
				"lazy"    (ge $i 1)
			) }}
		{{ end }}
	</section>

	<section id="boekencast">
		{{ partial "boekencast.html" (dict
			"context" .
			"book"    "De Zahir"
			"pages"   203
		) }}
	</section>

	<section>
		{{ $themes := slice "Recensie & Biografie" "Religie & Metafysica"  }}
		{{ $pages  := where $articles "Params.themas" "in" $themes }}

		{{ range $i, $theme := $themes }}		
			{{ $side := "right" }}
			{{ if mod $i 2 }}
				{{ $side = "left" }}
			{{ end }}
		
			{{ partial "articles/theme.html" (dict
				"context" .
				"section" "themas"
				"term"    $theme
				"pages"   (where $pages "Params.themas" "eq" $theme)
				"side"    $side
				"lazy"    (ge $i 1)
			) }}
		{{ end }}	
	
		{{ partial "articles/theme.html" (dict
			"context" .
			"section" "themas"
			"term"    "Klikaas"
			"pages"   (where site.RegularPages "Params.themas" "eq" "Klikaas")
			"side"    "right"
			"lazy"    true
		) }}
	</section>
{{ end }}
