{{ define "main" }}
	<div class="list-header">
		{{ if eq .Section "authors" }}
			{{ partial "authors/large.html" . }}
		{{ else }}
			<h1>{{ .Params.heading | safeHTML }}</h1>
		{{ end }}	
	</div>

	{{ $paginator := .Paginate .RegularPages }}

	<section>	
		<div id="articles">
			{{ range $paginator.Pages }}			
				{{ partialCached "articles/large.html" (dict
					"context" .
				) .Params.title }}
			{{ end }}
		</div>

		{{ if gt $paginator.TotalPages 1 }}
			<nav class="paginator">
				{{ if $paginator.HasPrev }}
					<a class="button prev" href="{{ $paginator.Prev.URL }}">
						‹-
					</a>
				{{ else }}
					<a class="button prev disabled">
						‹-
					</a>
				{{ end }}

				{{ if $paginator.HasNext }}
					<a class="button next" href="{{ $paginator.Next.URL }}">
						-›
					</a>
				{{ else }}
					<a class="button next disabled">
						-›
					</a>
				{{ end }}
			</nav>
		{{ end }}
	</section>
{{ end }}
