{{ define "main" }}
	{{ $paginator := .Paginate .RegularPages }}

	<main id="list">
		{{ if eq .Section "auteurs" }}
			{{ partial "author.html" . }}
		{{ else }}
			{{ partial "intro.html" . }}
		{{ end }}		

		<div id="articles">		
			{{ range $paginator.Pages }}			
				{{ partial "article.html" . }}
			{{ end }}
		</div>

		{{ if gt $paginator.TotalPages 1 }}
			<nav class="paginator">
				{{ if $paginator.HasPrev }}
					<a class="prev" href="{{ $paginator.Prev.URL }}">←</a>
				{{ else }}
					<a class="prev disabled">←</a>
				{{ end }}

				{{ if $paginator.HasNext }}
					<a class="next" href="{{ $paginator.Next.URL }}">→</a>
				{{ else }}
					<a class="next disabled">→</a>
				{{ end }}
			</nav>
		{{ end }}
	</main>
{{ end }}
