{{ define "main" }}
	<div class="list-header">
		{{ if eq .Section "authors" }}
			{{ partialCached "authors/large.html" (dict
				"author" .
			) .Params.id }}
		{{ else }}
			<h1>{{ .Params.heading | safeHTML }}</h1>
		{{ end }}	
	</div>

	{{ $paginator := .Paginate (where .RegularPages "Type" "eq" "articles") }}

	<section>	
		<div id="articles">
			{{ range $paginator.Pages }}			
				{{ partialCached "articles/small.html" (dict
					"article" .
				) .Params.id }}
			{{ end }}
		</div>

		{{ partial "paginator.html" $paginator }}
	</section>
{{ end }}
