{{ define "main" }}
	<aside class="authors">
		<div class="sticky">
			{{ partial "utility.html" . }}
			{{ partial "author.html" . }}
		</div>
	</aside>

	<article>		
		<h1>{{ .Params.title }}</h1>
		<h2>{{ .Params.subtitle }}</h2>

		{{ .Content }}
	</article>

	<section class="dossiers">
		{{ range $dossier := .Params.dossiers }}
			{{ $pages    := where site.RegularPages "Params.dossiers" "intersect" (slice $dossier) }}
			{{ $pages     = where $pages "Params.title" "ne" $.Params.title }}

			{{ partial "theme.html" (dict
				"context" .
				"section" "dossiers"
				"term"    $dossier
				"pages"   $pages
				"side"    "left"
				"lazy"    true
			) }}
		{{ end }}
	</section>

	<aside class="question">
		<div class="sticky">
			{{ if isset .Params "question" }}
				{{ .Params.question }}
			{{ else }}
				Wat zijn uw gedachten over dit artikel?
			{{ end }}

			<div class="arrow"></div>
		</div>
	</aside>

	<section id="comments">
		{{ partial "welcomments/comments" (dict "context" . "websiteId" "BHkB0mKadpRI9gniJfThtn9LU" ) }}
	</section>
{{ end }}
