{{ define "main" }}
	<article>		
		<h1>{{ .Params.title }}</h1>
		<h2>{{ .Params.subtitle }}</h2>
	</article>

	<aside class="authors">
		<div class="sticky">
			{{ range .Params.auteurs }}
				{{ partial "asides/author.html" . }}
			{{ end }}
		</div>
	</aside>

	<article>
		{{ .Content }}
	</article>

	{{ if isset .Params "dossiers" }}
		<section class="dossiers">
			{{ range $i, $dossier := .Params.dossiers }}
				{{ $pages    := where site.RegularPages "Params.dossiers" "intersect" (slice $dossier) }}
				{{ $pages     = where $pages "Params.title" "ne" $.Params.title }}

				{{ $side := "left" }}
				{{ if mod $i 2 }}
					{{ $side = "right" }}
				{{ end }}

				{{ partial "articles/theme.html" (dict
					"context" .
					"section" "dossiers"
					"term"    $dossier
					"pages"   $pages
					"side"    $side
					"lazy"    true
				) }}
			{{ end }}
		</section>
	{{ end }}

	<aside class="question">
		<div class="sticky">
			{{ if isset .Params "question" }}
				{{ .Params.question }}
			{{ else }}
				Wat zijn uw gedachten over dit artikel?
			{{ end }}

			<div class="arrow"></div>
		</div>
	</aside>

	<section id="comments">
		{{ partial "welcomments/comments" (dict "context" . "websiteId" "BHkB0mKadpRI9gniJfThtn9LU" ) }}
	</section>
{{ end }}
