<div class="md:text-center md:text-balance md:px-[15px]">
	<div class="text-accent italic md:mb-[15px]">{{ delimit .article.Params.authors ", " " & " }}</div>
	<h2 class="text-text md:text-4xl md:leading-[46px]">{{ .article.Title | safeHTML }}</h2>
</div>

{{ with .article.Resources.GetMatch "image.*" }}
	<figure class="grid overflow-hidden md:h-full md:w-full">
		{{ $anchor := "Smart" }}
		{{ if isset .Params "anchor" }}
			{{ $anchor = .Params.anchor }}
		{{ end }}

		{{ $1x := .Fill (printf "578x413 webp %s" $anchor) }}
		{{ $2x := .Fill (printf "1156x826 webp %s" $anchor) }}

		{{ partial "components/article-image" (dict
			"copyrightFree" $.article.Params.copyrightFree
			"image1x"       $1x
			"image2x"       $2x
			"alt"           ($.article.Title | safeHTML)
			"class"         "w-full md:h-full aspect-[578/413] object-cover"
		) }}
	</figure>
{{ end }}
