<a href="{{ .context.RelPermalink }}" class="article featured">
	{{ $image  := .context.Resources.GetMatch .context.Params.image }}
	{{ $anchor := "Smart" }}
	{{ if isset .context.Params "anchor" }}
		{{ $anchor = .context.Params.anchor }}
	{{ end }}

	<figure>
		<img
			srcset="{{ ($image.Fill (printf "705x676 webp %s" $anchor)).RelPermalink }} 1x,
			        {{ ($image.Fill (printf "1410x1352 webp %s" $anchor)).RelPermalink }} 2x"
			src="{{ ($image.Fill (printf "1410x1352 webp %s" $anchor)).RelPermalink }}"
			alt="{{ .context.Params.title }}">
	</figure>

	<div class="text">
		<h2>{{ .context.Params.title }}</h2>
		<h3>{{ .context.Params.subTitle }}</h3>
		<p class="author">{{ delimit .context.Params.auteurs ", " " & " }}</p>
	</div>
</a>
