<div class="text">
	<div class="author">{{ delimit .article.Params.authors ", " " & " }}</div>
	<h2>
		{{ if .article.Params.column }}
			{{ with site.GetPage (printf "column/%s" (urlize .article.Params.column)) }}
				<span>{{ .Params.keyword }}<span class="slash">/</span></span>
			{{ end }}
		{{ else }}
			{{ with site.GetPage (printf "theme/%s" (urlize .article.Params.theme)) }}
				<span>{{ .Params.keyword }}<span class="slash">/</span></span>
			{{ end }}
		{{ end }}
		{{ .article.Title | safeHTML }}
	</h2>
</div>

{{ with .article.Resources.GetMatch "image.*" }}
	<figure>
		{{ $anchor := "Smart" }}
		{{ if isset .Params "anchor" }}
			{{ $anchor = .Params.anchor }}
		{{ end }}

		{{ $image := .Fill (printf "500x500 webp %s" $anchor) }}

		<img
			src="{{ $image.RelPermalink }}"
			alt="{{ $.article.Title | safeHTML }}"
			style="background: {{ index $image.Colors 0 }};">
	</figure>
{{ end }}
