<div class="text">
	<div class="author">{{ delimit .article.Params.authors ", " " & " }}</div>
	<h2>
		<span>{{ index (split .article.Params.theme " ") 0 }}<span class="slash">/</span></span>
		{{ .article.Title | safeHTML }}
	</h2>
</div>

{{ with .article.Resources.GetMatch "image.*" }}
	<figure>
		{{ $anchor := "Smart" }}
		{{ if isset .Params "anchor" }}
			{{ $anchor = .Params.anchor }}
		{{ end }}

		{{ $image := .Fill (printf "500x500 webp %s" $anchor) }}

		<img
			src="{{ $image.RelPermalink }}"
			alt="{{ $.article.Title | safeHTML }}"
			style="background: {{ index $image.Colors 0 }};">
	</figure>
{{ end }}
