<div class="content-center grid">
	<div class="text-accent italic text-[16px]">{{ delimit .article.Params.authors ", " " & " }}</div>
	<h2 class="text-text text-lg [display:-webkit-box] leading-[25px] mt-[5px] overflow-hidden [-webkit-line-clamp:2] [-webkit-box-orient:vertical]">
		{{ if not .author }}
			{{ if .article.Params.column }}
				{{ with site.GetPage (printf "column/%s" (urlize .article.Params.column)) }}
					<span class="text-accent font-semibold">{{ .Params.keyword }}<span class="font-normal ml-[5px] mr-[5px]">/</span></span>
				{{ end }}
			{{ else }}
				{{ with site.GetPage (printf "theme/%s" (urlize .article.Params.theme)) }}
					<span class="text-accent font-semibold">{{ .Params.keyword }}<span class="font-normal ml-[5px] mr-[5px]">/</span></span>
				{{ end }}
			{{ end }}
		{{ end }}
		{{ .article.Title | safeHTML }}
	</h2>
</div>

{{ if .author }}
	{{ with site.GetPage (printf "authors/%s" (urlize (index .article.Params.authors 0))) }}
		{{ with .Resources.GetMatch "image.*" }}
			<figure class="grid overflow-hidden md:h-20 md:mt-[15px]">
				{{ $image := .Fill "500x500" }}

				<img
					class="object-cover w-full [filter:var(--author-filter)]"
					src="{{ $image.RelPermalink }}"
					alt="{{ .Title }}">
			</figure>
		{{ end }}
	{{ end }}
{{ end }}
