<a href="{{ .context.RelPermalink }}" class="article small">
	<div class="text">
		<div class="author">{{ delimit .context.Params.authors ", " " & " }}</div>
		<h2>{{ .context.Params.title | safeHTML }}</h2>
	</div>

	<figure>
		{{ $image  := .context.Resources.GetMatch .context.Params.image }}
		{{ $anchor := "Smart" }}
		{{ if isset .context.Params "anchor" }}
			{{ $anchor = .context.Params.anchor }}
		{{ end }}

		{{ $1x := $image.Fill (printf "78x104 webp %s" $anchor) }}
		{{ $2x := $image.Fill (printf "155x208 webp %s" $anchor) }}

		<img
			srcset="{{ $1x.RelPermalink }} 1x,
			        {{ $2x.RelPermalink }} 2x"
			src="{{ $2x.RelPermalink }}"
			alt="{{ .context.Params.title | safeHTML }}"
			style="background: {{ index $1x.Colors 0 }};">
	</figure>
</a>
