{{ with .article.Resources.GetMatch "image.*" }}
	<figure>
		{{ $anchor := "Smart" }}
		{{ if isset .Params "anchor" }}
			{{ $anchor = .Params.anchor }}
		{{ end }}

		{{ $1x := .Fill (printf "78x104 webp %s" $anchor) }}
		{{ $2x := .Fill (printf "155x208 webp %s" $anchor) }}

		<img
			srcset="{{ $1x.RelPermalink }} 1x,
			        {{ $2x.RelPermalink }} 2x"
			src="{{ $2x.RelPermalink }}"
			alt="{{ $.article.Title | safeHTML }}"
			style="background: {{ index $1x.Colors 0 }};">
	</figure>
{{ end }}

<div class="text">
	<div class="author">{{ delimit .article.Params.authors ", " " & " }}</div>
	<h2>
		{{ if .article.Params.column }}
			{{ with site.GetPage (printf "column/%s" (urlize .article.Params.column)) }}
				<span>{{ .Params.keyword }}<span class="slash">/</span></span>
			{{ end }}
		{{ else }}
			{{ with site.GetPage (printf "theme/%s" (urlize .article.Params.theme)) }}
				<span>{{ .Params.keyword }}<span class="slash">/</span></span>
			{{ end }}
		{{ end }}
		{{ .article.Title | safeHTML }}
	</h2>
</div>
