<a href="{{ .context.RelPermalink }}" class="article small">
	{{ $image  := .context.Resources.GetMatch .context.Params.image }}
	{{ $anchor := "Smart" }}
	{{ if isset .context.Params "anchor" }}
		{{ $anchor = .context.Params.anchor }}
	{{ end }}

	<div class="text">
		<h2>{{ .context.Params.title }}</h2>
		<p class="author">{{ delimit .context.Params.auteurs ", " " & " }}</p>
	</div>

	<figure>
		<img
			srcset="{{ ($image.Fill (printf "77x111 webp %s" $anchor)).RelPermalink }} 1x,
			        {{ ($image.Fill (printf "154x222 webp %s" $anchor)).RelPermalink }} 2x"
			src="{{ ($image.Fill (printf "154x222 webp %s" $anchor)).RelPermalink }}"
			alt="{{ .context.Params.title }}">
	</figure>
</a>
