<div class="theme {{ .side }}">
	{{ $featured := index .pages 0 }}

	{{ with site.GetPage (printf "/%s/%s" .section (urlize .term)) }}
		<div class="description">
			<h2>{{ .Params.heading | safeHTML }}</h2>
		</div>
	{{ end }}

	<div class="pages">
		{{ range first 5 .pages | after 1 }}
			<a href="{{ .RelPermalink }}">
				<span class="arrow">
					-
				</span>
				<span class="text">{{ .Params.title | safeHTML }}</span>
			</a>
		{{ end }}

		<a href="/{{ .path }}/{{ urlize .term }}/" class="more">Meer artikelen...</a>
	</div>

	{{ partialCached "articles/large.html" (dict
		"context"   $featured
		"lazy"      true
	) $featured.Params.title }}
</div>
