@use "partials/mobile/cart"
@use "partials/mobile/checkout"
@use "partials/mobile/products"
@use "partials/mobile/single"

#search
	display: none

#seperate
	display: block !important
	margin-top: 34px

	#donate,
	#shop
		display: none !important

