@import "partials/mobile/checkout"
@import "partials/mobile/list"
@import "partials/mobile/products"
@import "partials/mobile/single"

.icon
	display: block !important
	top: calc((80px / 2) - 5px)
	position: relative

	&#donate,
	&#shop
		display: none !important

