<a
	href="{{ .article.RelPermalink }}"
	{{ $sizeClasses := dict
		"featured" "md:col-span-2 md:h-[270px] md:[box-shadow:0px_10px_80px_-13px_var(--shadow-color)] md:grid-cols-[calc(50%-15px)_auto] md:items-center md:hover:[box-shadow:0px_15px_85px_-17px_var(--dark-shadow-color)]"
		"large"    "[box-shadow:0px_10px_80px_-13px_var(--shadow-color)] gap-[15px] grid-rows-[min-content_auto] md:h-[100px] md:hover:[box-shadow:0px_15px_85px_-17px_var(--dark-shadow-color)]"
		"medium"   "gap-[15px] md:grid-cols-[1fr_1fr] md:h-[200px]"
		"small"    "gap-[15px] h-[calc(80px+30px)] max-md:grid-cols-[auto_25%] md:grid-cols-[25%_auto]"
		"micro"    "gap-[15px] md:grid-cols-[auto] md:h-[calc(80px+30px)]"
	}}
	class="grid bg-bg md:transition-[box-shadow,border] md:duration-100 {{ index $sizeClasses .size }} {{ cond (and (eq .size "micro") (isset . "author")) "md:grid-cols-[auto_80px]" "" }}"
	x-data="{
		init() {
			let rect   = null;
			let factor = null;

			const animationTarget = {
				x: 0,
				y: 0,
				scale: 1000,
				shouldAnimate: false,
			};

			const currentState = {
				x: 0,
				y: 0,
				scale: 1000,
				isAnimating: false,
			};

			const goTowardsValue = (current, to) => {
				return Math.round((current + (to - current) * 0.15) * 100) / 100;
			};

			const animate = () => {
				currentState.x     = goTowardsValue(currentState.x, animationTarget.x);
				currentState.y     = goTowardsValue(currentState.y, animationTarget.y);
				currentState.scale = goTowardsValue(currentState.scale, animationTarget.scale);

				if (
					Math.abs(animationTarget.x - currentState.x) < 0.015 &&
					Math.abs(animationTarget.y - currentState.y) < 0.015 &&
					Math.abs(animationTarget.scale - currentState.scale) < 0.015 &&
					!animationTarget.shouldAnimate
				) {
					currentState.isAnimating = false;
					return;
				}

				$el.style.transform = `translateZ(-20px) perspective(700px) scale(${currentState.scale / 1000}) rotateX(${Math.round(currentState.x * 100) / 100}deg) rotateY(${Math.round(currentState.y * 100) / 100}deg)`;

				window.requestAnimationFrame(animate);
			};

			$el.addEventListener('mousemove', (ev) => {
				if (!animationTarget.shouldAnimate) {
					rect   = $el.getBoundingClientRect();
					factor = 700 / ((rect.width + rect.height) / 2);
				}
				animationTarget.shouldAnimate = true;

				animationTarget.x     = ((ev.clientY - rect.top - rect.height / 2) / rect.height) * 2 * factor;
				animationTarget.y     = -((ev.clientX - rect.left - rect.width / 2) / rect.width) * 3 * factor;
				animationTarget.scale = 1000 + factor * 10;

				if (!currentState.isAnimating) {
					currentState.isAnimating      = true;
					animationTarget.shouldAnimate = true;

					window.requestAnimationFrame(animate);
				}
			});

			$el.addEventListener('mouseleave', () => {
				animationTarget.x             = 0;
				animationTarget.y             = 0;
				animationTarget.scale         = 1000;
				animationTarget.shouldAnimate = false;
			});
		}
	}"
>
	{{ partial (printf "articles/%s.html" .size) (dict
		"article" .article
		"lazy"    .lazy
		"author"  .author
	) }}
</a>
