{{ with site.GetPage (printf "/auteurs/%s" (urlize .context)) }}
	<div class="author-block {{$.size}}">
		{{ if eq $.size "small" }}
			<a href="{{ .RelPermalink }}">
		{{ end }}
	
		<div class="information">
			<img src="{{ .RelPermalink }}/avatar.webp" alt="{{ .Params.title }}">
			<h3>{{ .Params.title }}</h3>
			{{ if eq $.size "large" }}
				<p class="profession">{{ .Params.profession }}</p>
			{{ end }}
		</div>

		{{ if eq $.size "small" }}
			</a>
		{{ end }}

		{{ if eq $.size "large" }}
			<p class="description">{{ .Params.description }}</p>

			{{ if $.more }}
				<a class="more" href="{{ .RelPermalink }}">Meer van deze auteur...</a>
			{{ end }}
		{{ end }}
	</div>
{{ end }}
