<div class="boekencast-container">
	<div class="text">
		<h3><span class="de">De</span> Reactionair</h3>
		<h2>Boekencast</h2>

		<p>Een boek, een denker en een goed gesprek. Kom tot rust en voed de geest <a href="/boekencast">met onze podcast</a>.</p>
	</div>

	<a href="/boekencast">
		{{ partialCached "books/medium.html" (dict
			"context" .
			"title"   "De Zahir"
			"pages"   203
			"front"   (resources.Get "images/boekencast/de-zahir.webp")
			"animate" true
			"hover"   true
		) "De Zahir" }}
	</a>
</div>
