<div class="bookclub-container">
	<div class="text">
		<h2><span class="de">De</span> boekenplank</h2>
		<p>Wij zullen ‘{{ .title }}’ binnenkort in onze Podcast bespreken.</p>
		<a>Lees binnenkort meer...</a>
	</div>

	<div class="book-container">
		<div class="book">
			{{ $image     := resources.Get (printf "images/%s" .image) }}
			{{ $thickness := add 5 (mul .pages 0.082) }}

			<img
				src="{{ ($image.Fit "660x440 webp").RelPermalink }}"
				loading="lazy"
				alt="{{ .title }}"
				class="cover" 
				style="transform: translateZ({{ $thickness }}px);">
			<div class="pages" style="transform: translateX({{ sub 214 $thickness }}px) rotateY(90deg); width: {{ mul $thickness 1.99 }}px;"></div>
			<div class="back" style="transform: translateZ(-{{ $thickness }}px);"></div>
			<div class="shadow"></div>
		</div>
	</div>
</div>
