{{ range $dossier := .Params.dossiers }}		
	<div class="dossier left">
		{{ $pages    := where site.RegularPages "Params.dossiers" "intersect" (slice $dossier) }}
		{{ $pages     = where $pages "Params.title" "ne" $.Params.title }}
		{{ $featured := index $pages 0 }}

		{{ with $.Site.GetPage (printf "/dossiers/%s" (urlize $dossier )) }}
			<div class="description">
				<h2>Meer dossier {{ .Params.title }}</h2>
			</div>
		{{ end }}

		<div class="pages">
			{{ range first 5 $pages }}
				<a href="{{ .RelPermalink }}"><span class="arrow">→</span> {{ .Params.title }}</a>
			{{ end }}

			<a href="/dossiers/{{ urlize $dossier }}/" class="more">Zie meer...</a>
		</div>

		<a href="{{ $featured.RelPermalink }}" class="article">
			<img src="/media/{{ $featured.File.BaseFileName }}/thumb.webp" alt="{{ $featured.Params.title }}" loading="lazy">

			<div class="text">
				<h2>{{ $featured.Params.title }}</h2>
				<h3>{{ $featured.Params.subtitle }}</h3>
				<p class="author">{{ delimit $featured.Params.auteurs ", " " & " }}</p>
			</div>
		</a>
	</div>
{{ end }}
