<a href="{{ .context.RelPermalink }}" class="featured {{.size}}">
	{{ if .image }}
		{{ $image := .context.Resources.GetMatch .image }}

		<img
			{{ if eq .size "large" }}
				srcset="{{ ($image.Fill "744x320 webp").RelPermalink }} 320w,
				        {{ ($image.Fill "1488x640 webp").RelPermalink }} 640w"
				sizes="(max-width: 1920px) 320px,
				       640px"
				src="{{ ($image.Fill "1488x640 webp").RelPermalink }}"
			{{ else }}
				srcset="{{ ($image.Fill "337x320 webp").RelPermalink }} 337w,
				        {{ ($image.Fill "674x640 webp").RelPermalink }} 674w"
				sizes="(max-width: 1920px) 337px,
				       674px"
				src="{{ ($image.Fill "674x640 webp").RelPermalink }}"
			{{ end }}
			{{ if .lazy }}
				loading="lazy"
			{{ end }}
			alt="{{ .context.Params.title }}">
	{{ end }}

	<div class="text">
		<h2>{{ .context.Params.title }}</h2>
		<h3>{{ .context.Params.subTitle }}</h3>
		<p class="author">{{ delimit .context.Params.auteurs ", " " & " }}</p>
	</div>
</a>
