<footer class="items-center border-t border-dashed border-border bottom-0 text-text flex font-sc !text-[16px] tracking-[0.1px] h-[55px] mt-[86px] relative lowercase w-full max-md:justify-center md:justify-end">
	<a href="mailto:contact@reactionair.nl" class="!text-[16px]">E-mail</a>

	<span class="max-md:mx-2 md:mx-3">•</span>

	<a href="https://twitter.com/reactionairNL" target="_blank" class="max-md:hidden !text-[16px]">Twitter</a>

	<span class="max-md:hidden max-md:mx-2 md:mx-3">•</span>

	<a href="/winkel/producten/boeken/" class="max-md:hidden !text-[16px]">Boekenwinkel</a>

	<span class="max-md:hidden max-md:mx-2 md:mx-3">•</span>

	<a href="/algemene-voorwaarden/" class="!text-[16px] md:mr-10">Algemene voorwaarden</a>
</footer>
