<head>
	<title>{{ .Title }}</title>

	{{ if .Params.noindex }}
		<meta name="robots" content="noindex">
	{{ end }}

	<meta name="description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Params.subtitle }}{{ end }}">
	{{ if eq .Type "artikelen" }}
		<meta name="author" content="{{ delimit .Params.auteurs ", " }}">
	{{ end }}

	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Params.subtitle }}{{ end }}">
	<meta property="og:url" content="{{ .Permalink }}">
	{{ if eq .Type "artikelen" }}
		{{ $image  := .Resources.GetMatch "thumb.webp" }}
		{{ $anchor := "Smart" }}
		{{ if isset .Params "anchor" }}
			{{ $anchor = .Params.anchor }}
		{{ end }}
	
		<meta property="og:type" content="article">
		<meta property="og:image" content="{{ ($image.Fill (printf "1200x628 webp %s" $anchor)).Permalink }}">
		<meta property="twitter:card" content="summary_large_image">
	{{ else }}
		<meta property="og:type" content="website">
		<meta property="og:image" content="{{ "img/og-image.png" | absURL }}">
		<meta property="twitter:card" content="summary">
	{{ end }}
	<meta property="twitter:site" content="@ReactionairNL">

	{{ if eq .Type "artikelen" }}
		{{ $image  := .Resources.GetMatch "thumb.webp" }}
		{{ $anchor := "Smart" }}
		{{ if isset .Params "anchor" }}
			{{ $anchor = .Params.anchor }}
		{{ end }}
	
		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "NewsArticle",
				"headline": "{{ .Title }}",
				"image": [
					"{{ ($image.Fill (printf "1200x628 webp %s" $anchor)).Permalink }}"
				],
				"datePublished": "{{ .Params.date.Format "2006-01-02T15:04:05-07:00" }}",
				"author": [
					{{ range $author := .Params.auteurs }}
						{
							"@type": "Person",
							"name": "{{ $author }}",
							"url": "https://reactionair.nl/auteurs/{{ urlize $author }}"
						},
					{{ end }}
				]
			}
		</script>
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name="theme-color" content="#F6F1F0" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#212A2D" media="(prefers-color-scheme: dark)">

	<meta name="msapplication-TileColor" content="#A62E27">

	<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
	<link rel="manifest" href="{{ "site.webmanifest" | relURL  }}">
	<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}" color="#A62E27">

	{{ $options := dict "outputStyle" "compressed" }}

	<link rel="stylesheet" href="{{ (resources.Get "sass/fonts.sass" | resources.ToCSS $options).RelPermalink }}?v=1650624324">
	<link rel="stylesheet" href="{{ (resources.Get "sass/light.sass" | resources.ToCSS $options).RelPermalink }}?v=1650624324" media="(prefers-color-scheme: light)">
	<link rel="stylesheet" href="{{ (resources.Get "sass/dark.sass" | resources.ToCSS $options).RelPermalink }}?v=1650624324" media="(prefers-color-scheme: dark)">
	<link rel="stylesheet" href="{{ (resources.Get "sass/main.sass" | resources.ToCSS $options).RelPermalink }}?v=1650624325">
	<link rel="stylesheet" href="{{ (resources.Get "sass/mobile.sass" | resources.ToCSS $options).RelPermalink }}?v=1650624324" media="(max-width: 1024px)">
	<link rel="stylesheet" href="{{ (resources.Get "sass/desktop.sass" | resources.ToCSS $options).RelPermalink }}?v=1650624324" media="(min-width: 1025px)">

	<script defer src="{{ (resources.Get "js/vendor/minisearch.js").RelPermalink }}?v=1650624311"></script>
	<script defer src="{{ (resources.Get "js/main.js" | resources.Minify).RelPermalink }}?v=1650624317"></script>

	<script type="application/javascript">
		if (!sessionStorage.getItem("_swa") && document.referrer.indexOf(location.protocol + "//" + location.host) !== 0) {
			fetch("https://counter.dev/track?" + new URLSearchParams({
				referrer:  document.referrer,
				screen:    screen.width + "x" + screen.height,
				user:      "admin@camille.sh",
				utcoffset: "2",
			}), {
				referrerPolicy: "no-referrer-when-downgrade",
			});
		}

		sessionStorage.setItem("_swa", "1");
	</script>
</head>
