<head>
	<title>{{ .Title }}</title>

	<meta name="description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Params.subtitle }}{{ end }}">
	{{ if and (eq .Kind "page") (eq .Section "artikelen") }}
		<meta name="author" content="{{ delimit .Params.auteurs ", " }}">
	{{ end }}

	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Params.subtitle }}{{ end }}">
	<meta property="og:url" content="{{ .Permalink }}">
	{{ if and (eq .Kind "page") (eq .Section "artikelen") }}
		<meta property="og:type" content="article">
		<meta property="og:image" content="{{ absURL (path.Join .File.BaseFileName "thumb.webp") }}">
		<meta property="twitter:card" content="summary_large_image">
	{{ else }}
		<meta property="og:type" content="website">
		<meta property="og:image" content="{{ absURL "img/og-image.png" }}">
		<meta property="twitter:card" content="summary">
	{{ end }}
	<meta property="twitter:site" content="@ReactionairNL">

	{{ if .Params.noindex }}
		<meta name="robots" content="noindex">
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name="theme-color" content="#F6F1F0" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#212A2D" media="(prefers-color-scheme: dark)">

	<link rel="shortcut icon" href="{{ absURL "img/favicon.ico" }}" type="image/x-icon">

	{{ $options := dict "outputStyle" "compressed" }}

	<link rel="stylesheet" href="{{ (resources.Get "sass/fonts.sass" | resources.ToCSS $options).RelPermalink }}?v=1646003235">
	<link rel="stylesheet" href="{{ (resources.Get "sass/light.sass" | resources.ToCSS $options).RelPermalink }}?v=1646003235" media="(prefers-color-scheme: light)">
	<link rel="stylesheet" href="{{ (resources.Get "sass/dark.sass" | resources.ToCSS $options).RelPermalink }}?v=1646003235" media="(prefers-color-scheme: dark)">
	<link rel="stylesheet" href="{{ (resources.Get "sass/main.sass" | resources.ToCSS $options).RelPermalink }}?v=1646003235">
	<link rel="stylesheet" href="{{ (resources.Get "sass/mobile.sass" | resources.ToCSS $options).RelPermalink }}?v=1646003235" media="(max-width: 1024px)">
	<link rel="stylesheet" href="{{ (resources.Get "sass/desktop.sass" | resources.ToCSS $options).RelPermalink }}?v=1646003235" media="(min-width: 1025px)">

	<script defer src="{{ (resources.Get "js/vendor/fuse.js" | resources.Minify).RelPermalink }}?v=1646003235"></script>
	<script defer src="{{ (resources.Get "js/main.js" | resources.Minify).RelPermalink }}?v=1646003235"></script>

	{{ template "_internal/google_analytics.html" . }}
</head>
