<header>
	<div id="logo-container">
		<a href="/" id="logo">
			<img src="{{ "img/logo.svg" | relURL }}" alt="Reactionair.nl" style="height: 113px;">
		</a>

		<div id="search">
			<form>
				<input type="search" placeholder="Zoeken...">
				<button><img src="{{ "img/search.svg" | relURL }}" alt="Zoeken" style="width: 22px;"></button>
			</form>
				
			<div class="results-container">
				<div class="arrow"></div>
				<ul class="results"></ul>
			</div>
		</div>
	</div>

	<div class="utility">
		<div class="left">
			{{ if and (eq .Kind "page") (eq .Section "artikelen") }}
				<span>{{ upper (delimit .Params.themas ", " " & ") }}</span>
				<span class="pipe">|</span>
				<time>{{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Day }}, {{ .Date.Year }}</time>
			{{ else }}
				<time class="now">{{ index $.Site.Data.months (printf "%d" now.Month) }} {{ now.Day }}, {{ now.Year }}</time>
			{{ end }}
		</div>

		<div class="right">
			<div>{{ .Title }}</div>
		</div>
	</div>
</header>
