{{ if gt .TotalPages 1 }}
	{{ $prevHref := "" }}
	{{ if .HasPrev }}{{ $prevHref = .Prev.URL }}{{ end }}

	{{ $nextHref := "" }}
	{{ if .HasNext }}{{ $nextHref = .Next.URL }}{{ end }}

	<nav class="mt-[80px] text-center">
		{{ partial "components/button" (dict
			"variant"  "square"
			"disabled" (not .HasPrev)
			"href"     $prevHref
			"class"    "mr-1"
			"text"     "‹"
		) }}

		{{ partial "components/button" (dict
			"variant"  "square"
			"disabled" (not .HasNext)
			"href"     $nextHref
			"class"    "ml-1"
			"text"     "›"
		) }}
	</nav>
{{ end }}
