{{ $authors := .Params.Auteurs }}

<div class="utility">
	{{ if eq .Section "auteurs" }}
		<span>{{ len .RegularPages }} artikel{{ if gt (len .RegularPages) 1 }}en{{ end }} geschreven</span>
	{{ else }}
		<span>{{ math.Round (div (countwords .Content) 220.0) }} minuten leestijd</span>
	{{ end }}

	<span class="pipe">|</span>

	<span>
		<a href="https://twitter.com/intent/tweet?text={{ .Permalink }}" target="_blank">
			<img class="icon" fill="red" src="{{ relURL "img/twitter.svg" }}" alt="Twitter">
		</a>
		<a href="https://wa.me?text={{ .Permalink }}" target="_blank">
			<img class="icon" src="{{ relURL "img/whatsapp.svg" }}" alt="WhatsApp">
		</a>
		<a href="https://t.me/share/url?url={{ .Permalink }}" target="_blank">
			<img class="icon" src="{{ relURL "img/telegram.svg" }}" alt="Telegram">
		</a>
	</span>

	<span class="author">
		{{ range $index, $_ := $authors }}
			{{ with $.Site.GetPage (printf "/auteurs/%s" (urlize .)) }}
				<a href="{{ .RelPermalink }}">{{ .Params.title }}</a>
				{{ if and (eq (len $authors) 2) (eq $index 0) }}
					&nbsp;&&nbsp;
				{{ end }}
			{{ end }}
		{{ end }}
	</span>
</div>
