{{ define "main" }}
	{{ $themes   := slice "Politiek & Maatschappij" "Religie & Metafysica" "Cultuur & Geschiedenis" "Recensie & Biografie" }}
	{{ $articles := where site.RegularPages "Params.themas" "in" $themes }}

	<aside class="intro quote">
		<div class="sticky">
			{{ partial "quote.html" (dict "text" "" "author" "") }}

			<div class="links">
				<!--<a href="/doneren/">Doneren</a>

				<span class="pipe">|</span>-->
				
				<a href="/auteurs/">Auteurs</a>

				<span class="pipe">|</span>
				
				<a href="/artikelen/wie-zijn-wij/">Wie zijn wij?</a>
			</div>
		</div>
	</aside>

	<section>
		<div id="featured">
			{{ $featured := index $articles 0 }}

			<a href="{{ $featured.RelPermalink }}" class="article">
				<img src="/media/{{ $featured.File.BaseFileName }}/thumb.webp" alt="{{ $featured.Params.title }}">

				<div class="text">
					<h2>{{ $featured.Params.title }}</h2>
					<h3>{{ $featured.Params.subTitle }}</h3>
					<p class="author">{{ delimit $featured.Params.auteurs ", " " & " }}</p>
				</div>
			</a>
		</div>

		<div id="themes">
			{{ $themes   = $themes | append "Klikaas" }}
			{{ $articles = where site.RegularPages "Params.themas" "in" $themes | after 1 }}

			{{ range $i, $theme := $themes }}
				<div class="theme {{ if mod $i 2 }} left {{ else }} right {{ end }}">
					{{ $pages    := where $articles "Params.themas" "eq" $theme}}
					{{ $featured := index $pages 0 }}
				
					{{ with $.Site.GetPage (printf "/themas/%s" (urlize $theme)) }}
						<div class="description">
							<h2>{{ .Params.title }}</h2>
						</div>
					{{ end }}

					<div class="pages">
						{{ range first 5 $pages }}
							<a href="{{ .RelPermalink }}"><span class="arrow">→</span> {{ .Params.title }}</a>
						{{ end }}

						<a href="/themas/{{ urlize $theme }}/" class="more">Zie meer...</a>
					</div>

					<a href="{{ $featured.RelPermalink }}" class="article">
						{{ if ne $theme "Klikaas" }}
							<img src="/media/{{ $featured.File.BaseFileName }}/thumb.webp" alt="{{ $featured.Params.title }}" {{ if ge $i 1 }}loading="lazy"{{ end }}>
						{{ end }}

						<div class="text">
							<h2>{{ $featured.Params.title }}</h2>
							<h3>{{ $featured.Params.subtitle }}</h3>
							<p class="author">{{ delimit $featured.Params.auteurs ", " " & " }}</p>
						</div>
					</a>
				</div>
			{{ end }}
		</div>
	</section>
{{ end }}
