<form id="welcomments__form" class="welcomments__comment-form" action="{{ .apiUrl }}/comments" method="post">
	<input type="hidden" name="website-id" id="website-id" value="{{ .websiteId }}"/>
	<input type="hidden" name="replying-to" id="replying-to"/>
	<input type="hidden" name="permalink" id="permalink" value="{{ .permalink }}"/>
	<input type="hidden" name="page-slug" id="page-slug" value="{{ .slug }}"/>

	<input type="hidden" name="author-url" id="author-url"/>

	<div class="welcomments__form-group">
		<textarea rows="4" name="message" id="message" required spellcheck="true" placeholder="Deel uw gedachten…"></textarea>
		<input type="text" id="author-name" name="author-name" required spellcheck="false" placeholder="Uw naam"/>
		<input type="email" id="author-email" name="author-email" placeholder="Uw e-mailadres"/>
		
		<button type="submit" class="welcomments__submit-button button" id="welcomments__submit-button">
			-›
		</button>
	</div>

	<small class="welcomments__email-notice">Vul uw e-mailadres in als u een bericht wilt ontvangen wanneer iemand reageert op uw bericht. Uw e-mailadres wordt veilig opgeslagen en beveiligd met 256-bit AES encryptie. U kunt zich op elk moment afmelden voor notificatiemails door op de link onderaan een antwoordnotificatiemail te klikken.</small>
</form>
