{{ $slug := .context.Permalink | relURL | path.Base | urlize }}

{{ $comments := dict }}
{{ if .review }}
	{{ if isset .context.Site.Data.reviews $slug }}
		{{ $comments = index .context.Site.Data.reviews $slug }}
	{{ end }}
{{ else }}
	{{ if isset .context.Site.Data.comments $slug }}
		{{ $comments = index .context.Site.Data.comments $slug }}
	{{ end }}
{{ end }}

<section id="comment-list">
	{{ range sort $comments "date" }}
		{{ if eq (index . "accepted") false }}
			{{ continue }}
		{{ end }}

		{{ partial "comments/comment.html" (dict
			"context" .
			"review"  $.review
		) }}
	{{ end }}
</section>

{{ partial "comments/form.html" (dict
	"context" .context
	"review"  .review
) }}

