<form id="comment-form" action="{{ site.Params.api }}/api/{{ cond .review "review" "comment" }}">
	<input type="hidden" name="id" id="id" value="{{ .context.Params.id }}"/>

	<div class="comment-form-group">
		<textarea rows="4" name="body" id="body" {{ cond .review "required" "" }} spellcheck="true" placeholder="Deel uw gedachten…"></textarea>

		<input type="text" id="author" name="author" required spellcheck="false" placeholder="Uw naam"/>
		{{ if .review }}
			<span class="rating-input">
				<button class="button remove-from-cart">
					-
				</button>

				<input class="amount-in-cart" type="number" value="5" min="1" max="5">

				<button class="button add-to-cart">
					+
				</button>
			</span>
		{{ end }}
		<button type="submit" class="button square">
			›
		</button>
	</div>
</form>
