.article
	&.featured,
	&.large
		figure
			img
				height: 200px

		.text
			text-align: center
			padding: 20px

			h2
				font-size: 32px
				line-height: 36px

			h3
				font-size: 20px
				line-height: 32px

	&.small
		grid-template-columns: auto 100px

		figure
			width: 100px

		figure
			img
				height: 100px
