.article
	&.large
		figure
			img
				height: 200px

		.text
			h2
				display: -webkit-box
				font-size: 26px
				line-height: 36px
				-webkit-line-clamp: 2
				-webkit-box-orient: vertical
				overflow: hidden

	&.small
		grid-template-columns: auto 100px

		figure
			width: 100px

		figure
			img
				height: 100px
