.article
	&.featured,
	&.large
		figure
			img
				height: 200px

	&.featured
		width: calc(100vw - 40px)

		.text
			padding-bottom: 20px

			h2
				font-size: 32px
				line-height: 36px

			h3
				font-size: 20px
				line-height: 32px

	&.large
		.text
			margin-top: 30px
		
			h2
				font-size: 28px
				line-height: 30px

	&.small
		grid-template-columns: auto 100px

		figure
			width: 100px

		figure
			img
				height: 100px
