.authors
	.utility .author
		float: right
		font-size: 15px
		font-style: italic
		max-width: 33%
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

		a
			font-size: 15px

	.author-block
		display: none
