.book-container
	.book
		transform: rotateY(-20deg) rotateX(3deg) scale(0.9)

		&.hover:hover
			transform: rotateY(-40deg) rotateX(3deg) scale(1)

		@keyframes animate
			0%
				transform: rotateY(-20deg) rotateX(3deg) scale(0.9)
			50%
				transform: rotateY(-30deg) rotateX(3deg) scale(0.9)
			100%
				transform: rotateY(-20deg) rotateX(3deg) scale(0.9)
