.book-promo
	.book-promo-container
		box-shadow: 40px 0 var(--popup-background-color)
		grid-template-rows: 4fr 5fr
		margin-left: -20px
		padding-left: 20px
		width: calc(100vw - 40px)

		.text
			grid-row: 2
			padding: 20px
			padding-top: 0px
			margin-left: 0px

			h3
				font-size: 7vw
				text-align: right
				margin-top: 20px

				.de
					font-size: 4vw

			h2
				font-size: 13vw
				margin: 0 auto
				margin-top: -1vw

			p
				margin: 0 auto
				margin-top: 30px
				text-align: center

		a
			margin: 0 auto

			.book-container
				margin-top: -110px
