.book-container
	.book
		margin: 0 auto
		transform: rotateY(-20deg) rotateX(3deg) scale(0.9)

		@keyframes move
			0%
				transform: rotateY(-20deg) rotateX(3deg) scale(0.9)
			50%
				transform: rotateY(-30deg) rotateX(3deg) scale(0.9)
			100%
				transform: rotateY(-20deg) rotateX(3deg) scale(0.9)
