#bookclub
	.bookclub-container
		align-content: center
		background: var(--popup-background-color)
		box-shadow: -20px 0 var(--popup-background-color), 20px 0 var(--popup-background-color)
		display: grid
		grid-template-rows: 4fr 5fr

		.text
			grid-row: 2
			justify-center: center;
			padding: 20px
			padding-top: 0px
			text-align: center
		
			h2	
				font-size: 17vw
				line-height: 12vw

				.de
					font-size: 9vw
					line-height: 10vw

					&::after
						content: "\a"
						white-space: pre

		.book-container
			margin-top: -110px

			.book
				margin: 0 auto
				transform: rotateY(-29deg) rotateX(3deg) scale(0.9)
