header
	#logo-container
		height: 80px

		#logo-center
			#logo
				font-size: 16px
				letter-spacing: 1.8px
				line-height: 80px
				z-index: 2

				img
					height: 100px !important
					width: 100px !important

			#buttons
				margin-right: 20px

				.icon
					display: none

				#new
					display: none

				#total
					margin-left: 22px
					margin-top: -45px

				#search
					top: calc((80px / 2) - 25px)

					form
						input
							width: calc(100vw - 50px - 40px)

						button
							.search-icon
								background: var(--background-color)

	.utility
		display: none
