#home
	.hero
		.left
			grid-row: 2
			width: calc(100vw)
			margin-left: -40px
			transform: translateX(20px)
			overflow-x: scroll
			scroll-snap-type: x mandatory

			.scroll
				grid-template-columns: 1fr 1fr
				width: 150vw

				&::-webkit-scrollbar
					display: none

				.article
					padding-left: 20px
					scroll-snap-align: start

					&:last-of-type
						padding-right: 20px

		.right
			grid-row: 3

			.header
				margin-top: 30px
				padding-bottom: 10px

				h2
					font-size: 28px
					line-height: 30px

					i::after
						content: "\a"
						white-space: pre
