#home
	#hero
		.scroll-container
			clip-path: inset(0 0 10px 0)
			margin-left: -40px
			overflow-x: scroll
			scroll-snap-type: x mandatory
			transform: translateX(20px)
			margin-top: -40px
			padding-top: 40px
			padding-bottom: 70px
			width: 100vw

			.scroll
				display: grid
				grid-template-columns: calc(100vw - (20px * 4)) calc(100vw - (20px * 4)) calc(100vw - (20px * 3))

				&::-webkit-scrollbar
					display: none

				.scroll-item
					padding-left: 20px
					scroll-snap-align: start

					&:last-of-type
							padding-right: 20px

		.right
			.header
				margin-top: -20px
				padding-bottom: 10px

				h2
					font-size: 28px
					line-height: 30px

					i::after
						content: "\a"
						white-space: pre

			.list
				.article
					margin-bottom: 10px
