#home
	#hero
		gap: 20px

		.scroll-container
			clip-path: inset(0 0 7px 0)
			grid-row: 2
			margin-left: -40px
			margin-bottom: -50px
			margin-top: -60px
			overflow-x: scroll
			scroll-snap-type: x mandatory
			transform: translateX(20px)
			width: 100vw

			.scroll
				display: grid
				grid-template-columns: calc(100vw - (20px * 4)) calc(100vw - (20px * 4)) calc(100vw - (20px * 3))
				padding-bottom: 75px

				&::-webkit-scrollbar
					display: none

				.article
					padding-left: 20px
					scroll-snap-align: start
					padding-top: 40px

					&:last-of-type
						padding-right: 20px

		.right
			grid-row: 3

			.header
				margin-top: 30px
				padding-bottom: 10px

				h2
					font-size: 28px
					line-height: 30px

					i::after
						content: "\a"
						white-space: pre
