article
	width: calc(100vw - 40px)

	#hero
		.title
			h1
				margin-bottom: 4px

		.info
			color: var(--muted-color)
			font-size: 14px
			position: absolute
			margin-top: 75px
			right: 20px

	.content
		.uylenspieghel
			flex-direction: column
			gap: 10px
			padding: 30px

			small
				text-align: center

		.note,
		.recording
			padding: 40px 20px 40px 20px

		.recording
			.toggle
				margin-top: -25px

		.summary
			h3
				font-size: 24px
				margin-left: 10px

		>p:first-of-type:first-letter
			font-size: 92px
			line-height: 61px
	
		blockquote p
			padding-left: 20px

		table
			overflow-x: auto
