article
	width: calc(100vw - 40px)

	.hero
		margin-bottom: 40px

		.left
			grid-row: 2

			figure
				img
					height: 100%
					width: 100%

		.right
			margin-bottom: 40px

			.authors
				margin-bottom: 30px

			h1
				margin-bottom: 10px
	.content
		blockquote p
			padding-left: 20px
