.theme
	grid-template-areas: "description" "article" "pages"
	margin-bottom: 40px

	.description
		h2
			font-size: 39px
			line-height: 43px
			margin-bottom: 40px

	.pages
		margin-top: 20px

	.article img
		height: 160px
