.theme
	grid-template-areas: "description" "article" "pages"
	margin-bottom: 40px

	.description
		h2
			border-bottom: 1px dashed var(--border-color)
			font-size: 28px
			line-height: 30px
			margin-bottom: 40px
			padding-bottom: 10px

			i::after
				content: "\a"
				white-space: pre

	.pages
		margin-top: 20px

	.article img
		height: 160px
