h1
	font-size: 39px
	line-height: 43px

h2
	font-size: 26px
	line-height: 35px
	margin-bottom: 20px

a,
button,
em,
li,
p,
input,
textarea,
.welcomments__comment-message
	font-size: 19px
	line-height: 29px
