.question
	.sticky
		background: var(--popup-background-color)
		color: var(--accent-color)
		font-size: 28px
		line-height: 35px
		padding: 50px
		text-align: center

		.arrow
			background: var(--popup-background-color)
			height: 18px
			position: absolute
			transform: rotate(45deg)
			width: 18px
