article
	blockquote p
		color: var(--muted-color)
		padding-left: 40px

	p
		margin-bottom: 30px

	table
		border-collapse: collapse
		margin-bottom: 30px

	td,
	th
		border: 1px dashed var(--border-color)
		font-size: 18px
		padding: 8px
		text-align: center

	th,
	td:nth-child(1)
		font-size: 16px
		font-weight: 600

	td:nth-child(1)
		text-align: right

	th:nth-child(1)
		background: transparent

	ul,
	ol
		margin-bottom: 30px

	// https://bugs.webkit.org/show_bug.cgi?id=204163
	li::marker
		//content: "\2022"
		color: var(--accent-color)
		//display: inline-block
		//margin-left: -1.4em
		//width: 1.4em

	.blockquote
		text-align: center

		p
			padding-right: 40px

	.img-center
		margin-bottom: 15px

	.img-center img,
	.img-left img
		width: 100%

	figcaption p
		font-size: 15px
		margin-bottom: 0px !important

	.twitter-tweet-rendered
		margin: 0 auto
		margin-bottom: 30px !important

	div[style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden"]
		margin-bottom: 30px !important
