.author-block
	p
		margin-bottom: 30px

	.information
		height: 100px
		margin-bottom: 20px

		img
			float: left
			height: 100px
			margin-right: 25px
			position: relative
			width: 100px

		h3
			font-family: "Quadraat Pro Sans", sans-serif
			display: inline-block
			margin-bottom: 0px
			margin-top: 15px
			max-width: 68%
			min-width: 50%
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap

		.profession
			color: var(--muted-color)
			display: inline-block
			font-style: italic
			min-width: 50%
			width: auto

	.description
		color: var(--slightly-muted-color)
		display: block
		width: 100%


#taxonomy
	.author-block
		border-top: 1px dashed var(--border-color)
		margin-top: 44px

	.information
		margin-top: -1px
