.authors
	.utility
		border-bottom: 1px dashed var(--border-color)
		color: var(--muted-color)
		font-size: 17px
		padding-bottom: 12px

		.icon
			align-content: center
			background: var(--footnotes-background-color)
			display: inline-grid
			height: 20px
			justify-content: center
			position: relative
			top: 2px
			width: 20px

			img
				background: none
				filter: var(--muted-filter)

		.pipe
			margin-left: 12px
			margin-right: 12px
