.author-info
	display: grid

	.text
		align-content: center
		display: grid

		small
			font-size: 16px

		p
			margin-top: 30px

	&.small
		border-bottom: 1px dashed var(--border-color)
		padding-bottom: 50px
	
		figure
			align-content: center
			display: grid

		.text
			h2
				font-size: 44px
				line-height: 48px

			.more
				color: var(--accent-color)
				font-size: 14px
				margin-top: 30px
