*
	text-decoration: none
	margin: 0

body
	background: var(--background-color)
	font-family: "Quadraat Pro", serif
	overflow-x: hidden

input
	border: 0
	float: left
	height: 50px
	outline: 0
	padding: 13px
	width: calc(100% - 50px)


button
	border: none
	border-radius: 0
	background: var(--popup-background-color)
	color: var(--accent-color)
	cursor: pointer
	display: block
	font-family: "Quadraat Pro", serif
	font-weight: 700
	height: 50px
	padding-left: 12px
	padding-right: 12px
	line-height: 50px !important

hr
	border: none
	border-top: 1px dashed var(--border-color)
	margin-bottom: 30px

input,
textarea
	background: var(--accent-background-color)
	border: none
	border-radius: 0
	box-sizing: border-box
	color: var(--text-color)
	display: block
	font-family: "Quadraat Pro", serif
	margin-bottom: 10px
	outline: none

img
	background: var(--accent-background-color)

textarea
	padding: 30px
	resize: none

q::before,
q::after
	content: none

::placeholder
	color: var(--muted-color)

::selection
	background: var(--selection-color)

.button
	background: var(--popup-background-color)
	color: var(--accent-color)
	height: 50px
	display: inline-block
	line-height: 54px
	width: 50px


.pipe
	font-size: 14px
	font-weight: 700
