#boekencast
	border-top: 1px dashed var(--border-color)
	margin-top: 60px
	padding-bottom: 60px
	padding-top: 60px

	.boekencast-container
		align-content: center
		background: var(--popup-background-color)
		display: grid

		.text
			align-content: center
			display: grid

			h3
				color: var(--accent-color)
				font-style: italic
				margin-bottom: 0px
				margin-top: -30px

				.de
					font-size: 20px

			h2
				border-bottom: 1px dashed var(--popup-border-color)
				color: var(--accent-color)
				font-weight: 700
				line-height: 45px
				margin-bottom: 40px
				margin-top: 4px
				padding-bottom: 13px
				text-transform: uppercase
				width: fit-content

			p
				font-size: 19px !important
				margin: 0
				max-width: 80%

		.book-container
			perspective: 650px

			.book
				animation: 17s ease 0s infinite move
				height: 330px
				position: relative
				transform-style: preserve-3d
				transition: transform 1s ease
				width: 220px

				.cover
					background-color: #01060f
					border-radius: 0 1.5px 1.5px 0
					box-shadow: 5px 12px 32px -13px rgba(154, 52, 51, 0.25)
					height: 330px
					position: absolute
					left: 0
					top: 0
					width: 220px

				.pages
					background: repeating-linear-gradient(to right, #FFF9F6, #E1C8A4 4.75px)
					border-radius: 2px
					content: " "
					height: 320px
					left: 0
					position: absolute
					top: 5px

				.back 
					background-color: #5C3020
					border-radius: 0 1.5px 1.5px 0
					box-shadow: -10px 10px 50px 8px rgba(154, 52, 51, 0.25)
					content: " "
					height: 330px
					left: 0
					position: absolute
					top: 0
					width: 220px

				.shadow
					background: radial-gradient(circle, rgba(154, 52, 51, 0.25), rgba(154, 52, 51, 0) 72%)
					bottom: -200px
					height: 400px
					left: -91px
					position: absolute
					transform: rotateX(90deg)
					width: 400px
