#comments
	margin-top: 60px

	#welcomments__container .welcomments__form-group textarea
		width: 100%

	#welcomments__container
		.welcomments__form-group button
			float: right

	#welcomments__form
		width: 100%

	.welcomments__comment
		background: var(--accent-background-color)
		margin-bottom: 10px
		padding: 30px

		h3
			font-family: "Quadraat Pro Sans", sans-serif
			margin-top: 0
			margin-bottom: 0

		p:last-child
			margin-bottom: 0

		a
			-ms-hyphens: auto
			-webkit-hyphens: auto
			hyphens: auto

	.welcomments__comment-time
		color: var(--muted-color)
		font-style: italic
		margin-bottom: 20px !important
