#comments
	border-top: 1px dashed var(--border-color)
	margin-top: 60px
	padding-top: 40px

	.comment
		background: var(--accent-background-color)
		margin-bottom: 10px
		padding: 40px

		.comment-info
			.comment-author
				color: var(--accent-color)
				display: inline
				font-size: 14px
				font-weight: 400
				margin-top: 0

			.comment-time
				color: var(--muted-color)
				display: inline
				font-size: 14px
				text-transform: lowercase

		.comment-body
			font-size: 19px
			margin-bottom: 15px
			margin-top: 20px
			text-align: justify

			p
				margin-bottom: 30px
				text-align: justify

				&:last-of-type
					margin-bottom: 0px

			a
				hyphens: auto
				word-break: break-word

	#comment-form
		margin-top: 40px

		.comment-form-group
			#body
				width: 100%

			#name
				width: calc(100% - 60px)

			button
				float: right
