#comments
	margin-top: 60px

	#welcomments__container
		.welcomments__nesting-level-1
			margin-left: 10px

		.welcomments__nesting-level-2
			margin-left: 20px

		.welcomments__nesting-level-3
			margin-left: 30px

		.welcomments__comment
			background: var(--accent-background-color)
			margin-bottom: 10px
			padding: 40px

			h3
				font-family: 'Work Sans', sans-serif
				margin-top: 0
				margin-bottom: 0

			.welcomments__comment-time
				color: var(--muted-color)
				font-family: 'Courier Prime', monospace
				font-size: 13px
				margin-bottom: 20px !important
				text-transform: uppercase

			.welcomments__comment-message
				margin-bottom: 15px
				text-align: justified

			.welcomments__comment-reply-link
				font-size: 19px

			#welcomments__form
				margin-left: -30px !important
				margin-top: 10px !important
				overflow: hidden
				padding: 30px
				padding-bottom: 0px
				padding-top: 0px

				textarea,
				input
					background: var(--background-color)

	#welcomments__form
		margin-top: 40px

		.welcomments__form-group
			#message
				width: 100%

			#author-name,
			#author-email
				width: calc(50% - 30px)

			#author-name
				margin-right: 10px

			button
				float: right

	.welcomments__email-notice
		float: left
		font-size: 15px
		margin-bottom: 0px
