footer
	align-items: center
	border-top: 1px dashed var(--border-color)
	bottom: 0px
	color: var(--text-color)
	display: flex
	font-family: 'Courier Prime', monospace
	font-size: 13px
	height: 55px
	margin-top: 86px
	position: relative
	width: 100%

	a
		font-family: 'Courier Prime', monospace
		font-size: 13px
