.footnotes
	background: var(--footnotes-background-color)
	margin-bottom: 40px
	margin-top: 50px
	padding: 50px
	padding-bottom: calc(50px - 30px)

	li::marker
		color: var(--text-color)

	hr
		display: none
