footer
	align-items: center
	border-top: 1px dashed var(--border-color)
	bottom: 0px
	color: var(--text-color)
	display: flex
	font-family: 'IM FELL English SC', serif
	font-size: 16px
	height: 55px
	letter-spacing: 0.1px
	margin-top: 86px
	position: relative
	text-transform: lowercase
	width: 100%

	a
		font-size: 16px
