.footnotes
	background: var(--accent-background-color)
	margin-bottom: 40px
	margin-top: 50px
	padding-bottom: calc(50px - 30px)

	ol
		margin-bottom: 0px !important

		li
			&:last-of-type
				p
					margin-bottom: 0px

			p
				font-size: 19px

			.footnote-backref
				font-size: 14px
				margin-left: 3px
				vertical-align: middle

	hr
		display: none
