header
	display: grid
	position: sticky
	top: 0px
	transition: transform .15s
	z-index: 99
	transform-origin: top

	&.hidden
		transform: translateY(-100%)

	#alert
		background: var(--popup-background-color)
		border-bottom: 1px dashed var(--popup-border-color)
		color: var(--accent-color)
		font-style: italic
		text-align: center
		padding: 10px

	#logo-container
		background: var(--background-color)
		border-bottom: 1px dashed var(--border-color)
		overflow: visible
		width: 100vw

		#logo-center
			#logo
				background-color: #A62F27
				font-family: 'IM FELL English SC', serif
				gap: 30px
				color: var(--text-color)
				display: flex
				height: 0
				position: relative
				text-transform: uppercase
				transition: all .2s

				h1
					line-height: unset
					font-size: unset

			#buttons
				display: flex
				justify-content: end
				position: relative

				.new-books
					position: absolute
					pointer-events: none

					span
						animation: visible 3.8s normal both 1.2s
						color: #A62F27
						font-size: 14px
						font-style: italic
						font-weight: 700
						margin-left: -56px
						position: absolute
						text-align: right
						text-shadow: 0 0 10px var(--background-color)
						top: 15px
						transform: scale(0)

						@keyframes visible
							0%
								transform: scale(0) rotate(-10deg)
							25%
								transform: scale(1) rotate(-15deg)
							75%
								transform: scale(1) rotate(-15deg)
							100%
								transform: scale(0) rotate(-10deg)

					svg
						filter: drop-shadow(0px 0px 10px 10px var(--background-color))
						height: 40px
						margin: 0 auto
						transform: rotate(260deg)
						width: 40px

						.draw-arrow
							animation: draw 4s normal both 1s
							fill: none
							stroke: #A62F27
							stroke-dasharray: 400
							stroke-dashoffset: 400
							stroke-width: 5

							&.tail-1
								animation-delay: 1.5s

							&.tail-2
								animation-delay: 1.7s

							@keyframes draw
								0%
									stroke-dashoffset: 400
								25%
									stroke-dashoffset: 0
								75%
									stroke-dashoffset: 0
								100%
									stroke-dashoffset: 400

				.icon
					align-items: center
					display: flex
					justify-content: center
					width: 50px
					z-index: 1

				#total
					align-items: center
					background-color: var(--background-color)
					border-radius: 50%
					box-shadow: 0 0 10px 9px var(--background-color)
					color: #A62F27
					display: flex
					font-size: 17px
					height: 17px
					justify-content: center
					position: absolute
					width: 17px
					z-index: 1
