header
	display: grid
	position: sticky
	top: 0px
	transition: transform .2s
	z-index: 99

	#logo-container
		background: var(--background-color)
		border-bottom: 1px dashed var(--border-color)
		display: grid
		overflow: visible
		width: 100vw

		#logo-center
			#logo
				background-color: #A62F27
				font-family: 'IM Fell English SC', serif
				gap: 30px
				color: var(--text-color)
				display: flex
				height: 0
				position: relative
				text-transform: uppercase
				transition: all .2s

				h1
					line-height: unset
					font-size: unset

			#buttons
				display: flex
				justify-content: end

				.icon
					align-items: center
					display: flex
					transition: all .1s
					justify-content: center
					width: 50px
					z-index: 1

				#donate
					margin-top: -13px

				#shop
					margin-top: -9px

				#cart
					margin-top: -9px

				#total
					align-items: center
					background-color: var(--background-color)
					border-radius: 50%
					box-shadow: 0 0 10px 9px var(--background-color)
					color: #A62F27
					display: flex
					font-size: 17px
					height: 17px
					justify-content: center
					position: absolute
					width: 17px
					z-index: 1
