header
	position: sticky
	display: grid
	justify-content: center
	top: 0px
	transition: transform .2s
	z-index: 99

	#logo-container
		border-bottom: 1px dashed var(--header-border-color)
		display: grid
		justify-content: center
		overflow: visible
		width: 100vw

		#logo
			background-color: #A62F27
			height: 0
			justify-self: center
			position: relative
			top: 15px
			transform-origin-y: 15px
			transition: all .3s .1s
			z-index: 99

			&:hover
				transform: scale(1.05) translateY(2px) !important

		#search
			position: absolute
			right: 25px
			transform: translateZ(0)

			form			
				input
					background: var(--search-background-color)
					transform-origin: right
					transition: transform .2s
			
				button
					align-items: center
					background: none
					display: flex
					justify-content: center
					float: right
					transform: rotateY(0deg)
					transform-style: preserve-3d
					transition: transform .2s
					width: 50px
					z-index: 100

					img
						backface-visibility: hidden

					.search-icon
						background: var(--header-background-color)

					.close-icon
						background: var(--popup-background-color)
						transform: rotateY(180deg)
						padding: 11px
						position: absolute

			.results-container
				background: var(--popup-background-color)
				position: absolute
				text-align: left
				margin-top: 59px
				width: 100%

				.arrow
					background: var(--popup-background-color)
					display: none;
					height: 18px
					left: calc(50% - 9px)
					position: absolute
					top: -9px
					transform: rotate(45deg)
					width: 18px

				.results
					max-height: calc(100vh - 114px)
					overflow-y: scroll
					padding: 0
					position: relative
					scrollbar-width: none
					z-index: 2

					&::-webkit-scrollbar
						display: none

					a
						display: block
						border-bottom: 1px dashed var(--popup-border-color)
						padding: 20px

						&:last-of-type
							border-bottom: none

					h2
						font-size: 27px
						font-weight: 700
						line-height: 33px
						margin-bottom: 3px

					h3
						font-size: 22px
						font-weight: 400
						line-height: 26px
						margin-top: 0px

					.author
						color: var(--accent-color)
						font-size: 16px
						font-family: "Quadraat Pro Sans", sans-serif

	.utility
		align-items: center
		background: var(--utility-color)
		border-bottom: 1px dashed var(--border-color)
		display: flex
		height: 55px

		.left,
		.right
			font-weight: 700

		.left
			color: var(--accent-color)
			font-size: 14px

		.right
			color: var(--text-color)
			font-size: 16px

#logo:hover ~ #logo-container > #logo-background
	box-shadow: 0 10px 60px -6px rgba(108, 19, 15, 0.35)
	transform: scale(1.05) translateY(2px) !important
