#home
	.hero
		gap: 20px
		display: grid
		margin-bottom: 100px

		.left
			display: grid

		.right
			.header
				border-bottom: 1px dashed var(--border-color)
				height: 40px
				margin-bottom: 20px

			.articles
				gap: 13px
				display: grid

	.intro
		text-align: center
		border-top: 1px dashed var(--border-color)
		padding-bottom: 25px
		padding-top: 30px

		.text
			font-size: 28px
			font-style: italic
			line-height: 40px
			margin-bottom: 30px

		.author
			margin-top: -15px
			font-size: 18px
			line-height: 25px
			color: var(--muted-color)

			.dash
				color: var(--accent-color)

		.links
			display: flex
			font-family: 'Courier Prime', monospace
			font-size: 13px
			justify-content: center
			line-height: 35px
			margin-top: 20px

			a
				font-family: 'Courier Prime', monospace
				font-size: 13px
