#home
	#hero
		display: grid
		padding-bottom: 100px

		.left
			.scroll
				display: grid

		.right
			.header
				border-bottom: 1px dashed var(--border-color)
				margin-bottom: 20px

				h2
					font-family: 'IM FELL English SC', serif
					text-transform: uppercase
					letter-spacing: 0.2px

					i
						font-family: 'IM Fell English', serif
						font-size: 90%
						text-transform: lowercase
						letter-spacing: unset

			.articles
				gap: 13px
				display: grid

	.intro
		text-align: center
		padding-bottom: 25px

		.text
			font-size: 28px
			font-style: italic
			line-height: 40px
			margin-bottom: 30px
			text-wrap: balance

		.author
			color: var(--muted-color)
			font-size: 18px
			line-height: 25px
			margin-top: -15px

			.dash
				color: var(--accent-color)

		.links
			display: flex
			font-family: 'IM FELL English SC', serif
			font-size: 16px
			justify-content: center
			letter-spacing: 0.1px
			line-height: 35px
			margin-top: 20px
			text-transform: lowercase

			a
				font-size: 16px
