#taxonomy,
#term,
#section
	.list-header
		border-bottom: 1px dashed var(--border-color)
		padding-bottom: 50px

		h1
			text-align: center

#authors,
#articles,
#products
	display: grid
	gap: 50px
	padding-top: 50px
