#taxonomy,
#term
	#authors,
	#articles
		display: grid
		gap: 50px

		.article
			border-bottom: 1px dashed var(--border-color)
			grid-template-rows: 200px auto
			height: 500px
			text-align: center

			figure
				height: 200px

			.text
				align-content: center
				display: grid

				.author
					margin-top: 30px
