#taxonomy,
#term
	.list-header
		border-bottom: 1px dashed var(--border-color)
		padding-bottom: 50px

	&:has(#products)
		margin: 0 auto

#authors,
#articles,
#products
	display: grid
	gap: 50px
	padding-top: 50px

#products
	list-style: none
	padding: 0
	padding-top: 50px

	.product
		border-bottom: 1px dashed var(--border-color)
		display: grid
		gap: 50px
		grid-template-columns: 200px fit-content(100%)
		padding-bottom: 70px
		padding-top: 10px

		&:last-of-type
			border-bottom: none

		.text
			align-self: center
			margin-top: 0px

			.price
				font-family: "IM Fell English SC", serif
				font-style: italic

			.cart-form
				margin-top: 20px
