.tags
	margin-bottom: 30px

	p
		font-size: 16px
		font-style: italic
		margin-bottom: 0px !important

	a
		background: var(--popup-background-color)
		color: var(--accent-color)
		display: inline-block
		font-size: 14px
		height: 50px
		line-height: 50px
		margin-right: 4px
		margin-top: 7px
		padding-left: 15px
		padding-right: 15px
