.theme
	border-top: 1px dashed var(--border-color)
	display: grid
	grid-column-gap: 5%
	grid-template-rows: auto 1fr
	margin-top: 60px
	padding-top: 60px

	&:first-of-type
		margin-top: 0px

	.description
		grid-area: description

		h2
			font-family: "Quadraat Pro Sans", sans-serif
			font-weight: 700
			margin-bottom: 20px
			max-width: 230px

	.pages
		grid-area: pages

		a
			color: var(--text-color)
			display: flex
			margin-top: 20px

			.arrow
				color: var(--accent-color)
				margin-right: 9px
				transition: transform .1s .1s

			&:hover
				.arrow
					transform: translateX(2px)

		.more
			color: var(--accent-color)
