.themes
	.theme
		&:first-of-type
			border-top: none

		&:last-of-type
			border-bottom: none

.theme
	display: grid
	grid-column-gap: 5%
	grid-template-rows: auto 1fr
	padding-top: 40px

	.description
		grid-area: description

		h2
			font-family: 'IM FELL English SC', serif
			font-size: 27px
			margin-bottom: 20px
			letter-spacing: 0.8px
			line-height: 33px
			text-transform: uppercase

			i
				font-family: 'IM Fell English', serif
				font-style: italic
				font-size: 90%
				text-transform: lowercase

	.article
		grid-row: article

		.text
			padding: 20px !important
			padding-top: 0px !important

		figure
			grid-row: 1

	.pages
		grid-area: pages

		a
			color: var(--text-color)
			font-size: 18px
			line-height: 25px
			display: flex
			margin-top: 22px

			.arrow
				color: var(--accent-color)
				margin-right: 9px
				transition: transform .1s .1s

			&:hover
				.arrow
					transform: translateX(2px)

		.more
			color: var(--accent-color)
			font-family: 'IM FELL English SC', serif
			font-size: 16px
			letter-spacing: 0.1px
			margin-top: 30px
			text-transform: lowercase
