html,
body
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	color: var(--text-color)
	font-family: 'EB Garamond', serif
	text-rendering: optimizeLegibility

h1
	font-weight: 400
	text-transform: uppercase
	letter-spacing: 2px

h2
	font-weight: 400

h3
	font-size: 28px
	line-height: 35px
	margin-bottom: 30px
	margin-top: 60px
	font-weight: 600

p,
.welcomments__comment-message
	line-height: 1.5

a
	color: var(--accent-color)
	text-decoration: none

code
	background: var(--accent-background-color)
	display: block
	font-size: 18px
	line-break: anywhere
	margin: 0 auto
	margin-top: 30px
	max-width: 214px
	padding: 20px
	text-align: center

figcaption,
figcaption p,
small
	color: var(--muted-color)
	font-size: 12px
	font-style: italic
	line-height: 22px

li::marker
	color: var(--accent-color) !important

sup,
sup a
	font-family: 'Courier Prime', monospace
	font-size: 13px
	line-height: 0px
	margin-left: 1px
	margin-right: 1px
