<header>
	<div id="logo-container">
		<div id="logo-center">
			<a href="/" id="logo">
				<img src="{{ "img/logo.svg" | relURL }}" alt="Reactionair.nl" style="width: 130px; height: 130px;">
				{{ if eq .Kind "home" }}
					<h1>Reactionair.nl</h1>
				{{ else }}
					<span>Reactionair.nl</span>
				{{ end }}
			</a>

			<span id="buttons">
				<div id="seperate">
					<a href="/doneren" class="icon" id="donate">
						<img src="{{ "img/donate.svg" | relURL }}" alt="Doneer" style="width: 28px; height: 28px;">
					</a>

					<a href="/winkel" class="icon" id="shop">
						<img src="{{ "img/shop.svg" | relURL }}" alt="Winkel" style="width: 28px; height: 28px;">
					</a>

					{{ if eq (index (split (trim .Page.RelPermalink "/") "/") 0) "winkel" }}
						<a href="/winkel/wagen" class="icon" id="cart">
							<img src="{{ "img/cart.svg" | relURL }}" alt="Winkelwagen" style="width: 28px; height: 28px;">
							<span id="total" style="display: none;"></span>
						</a>
					{{ end }}
				</div>

				{{ partialCached "header/search.html" . }}
			</span>
		</div>
	</div>

	{{ partial "header/utility.html" . }}
</header>
