<header>
	<div id="logo-container">
		<div id="logo-center">
			<a href="/" id="logo">
				<img src="{{ "img/logo.svg" | relURL }}" alt="Reactionair.nl" style="width: 130px; height: 130px;">
				{{ if eq .Kind "home" }}
					<h1>Reactionair</h1>
				{{ else }}
					<span>Reactionair</span>
				{{ end }}
			</a>

			<span id="buttons">
				<a href="/doneren" class="icon" id="donate">
					<img src="{{ "img/donate.svg" | relURL }}" alt="Doneer" style="width: 28px; height: 28px;">
				</a>

				<a href="/winkel/producten/boeken" class="icon" id="shop">
					<img src="{{ "img/shop.svg" | relURL }}" alt="Winkel" style="width: 28px; height: 28px;">
				</a>

				{{ if eq (index (split (trim .Page.RelPermalink "/") "/") 0) "winkel" }}
					<a href="/winkel/wagen" class="icon" id="cart">
						<img src="{{ "img/cart.svg" | relURL }}" alt="Winkelwagen" style="width: 28px; height: 28px;">
						<span id="total" style="display: none;"></span>
					</a>
				{{ end }}

				<span id="menu-button">
					<img src="{{ "img/menu.svg" | relURL }}" alt="Menu" style="width: 28px; height: 28px;">
				</span>

				<div id="menu">
					<ul class="four {{ if eq (index (split (trim .Page.RelPermalink "/") "/") 0) "winkel" }}five{{end}}">
						<a href="/winkel/producten/boeken/">Winkel</a>
						{{ if eq (index (split (trim .Page.RelPermalink "/") "/") 0) "winkel" }}
							<a href="/winkel/wagen">Winkelwagen</a>
							<span id="total" style="display: none;"></span>
						{{ end }}
						<a href="/auteurs">Auteurs</a>
						<a href="/doneren">Doneren</a>
						<a href="/zoeken">Zoeken</a>
					</ul>
				</div>

				<div id="search">
					<form>
						<input type="search" placeholder="Zoeken…" autocomplete="off" spellcheck="false" style="transform: rotateY(90deg);">
						<button class="button">
							<img src="{{ "img/search.svg" | relURL }}" alt="Zoeken" class="search-icon" style="width: 28px; height: 28px;">
							<img src="{{ "img/close.svg" | relURL }}" alt="Sluiten" class="close-icon" style="width: 28px; height: 28px;">
						</button>
					</form>

					<div class="results-container">
						<div class="arrow"></div>
						<ul class="results"></ul>
					</div>
				</div>
			</span>
		</div>
	</div>

	{{ partial "header/utility.html" . }}
</header>
