<div class="utility">
	<span class="left">
		<div>{{ .Title | safeHTML }}</div>
	</span>

	<span class="right">
		{{ if and (eq .Kind "page") (eq .Section "artikelen") }}
			<time>{{ .Date.Day }} {{ index site.Data.months (printf "%d" .Date.Month) }}, {{ .Date.Year }}</time>

			<span class="pipe">—</span>

			<span class="eta" data-eta="{{ .ReadingTime }}">{{ .ReadingTime }} {{ if gt .ReadingTime 1 }}minuten{{ else }}minuut{{ end }} leestijd</span>
		{{ else }}
			<time class="now">{{ now.Day }} {{ index .Site.Data.months (printf "%d" now.Month) }}, {{ now.Year }}</time>
		{{ end }}
	</span>
</div>

