<div class="utility">
	<span class="left">
		<div>{{ .Title }}</div>
	</span>

	<span class="right">
		{{ if and (eq .Kind "page") (eq .Section "artikelen") }}
			<time>{{ .Date.Day }} {{ index site.Data.months (printf "%d" .Date.Month) }}, {{ .Date.Year }}</time>

			<span class="pipe">|</span>

			{{ $duration := math.Round (div .WordCount 225.0) }}
			<span class="eta" data-eta="{{ $duration }}">{{ $duration }} {{ if gt $duration 1 }}minuten{{ else }}minuut{{ end }} leestijd</span>
		{{ else }}
			<time class="now">{{ now.Day }} {{ index $.Site.Data.months (printf "%d" now.Month) }}, {{ now.Year }}</time>
		{{ end }}
	</span>
</div>

