<div class="author-info large">
	{{ $image := .author.Resources.Get .author.Params.image }}

	{{ $1x := $image.Fill "200x200 webp" }}
	{{ $2x := $image.Fill "400x400 webp" }}

	<figure>
		<img
			srcset="{{ $1x.RelPermalink }} 1x,
			        {{ $2x.RelPermalink }} 2x"
			src="{{ $2x.RelPermalink }}"
			alt="{{ .author.Params.title | safeHTML }}"
			style="background: {{ index $1x.Colors 0 }};">
	</figure>


	<div class="text">
		<h1>{{ .author.Params.title | safeHTML }}</h1>
		<small>{{ .author.Params.keyword }}</small>

		<p>{{ .author.Params.description }}</p>
	</div>
</div>
