<div class="author-info small">
	{{ with .author.Resources.GetMatch "image.*" }}
		{{ $image := .Fill "500x500 webp" }}

		<figure>
			<img
				src="{{ $image.RelPermalink }}"
				alt="{{ $.author.Title | safeHTML }}">
		</figure>
	{{ end }}

	<div class="text">
		<h2>{{ .author.Title | safeHTML }}</h2>
		<small>{{ .author.Params.keyword }}</small>

		<p>{{ .author.Params.description }}</p>

		<a href="/auteurs/{{ urlize (.author.Title | safeHTML) }}/" class="more">Zie artikelen...</a>
	</div>
</div>
