<div class="grid items-center gap-[50px] grid-cols-[max-content_auto] border-b border-dashed border-border pb-[50px] last:border-b-0 max-md:grid-cols-[120px_auto] md:grid-cols-[180px_auto]">
	{{ partial "authors/image" (dict "author" .author "class" "grid content-center") }}

	<div class="grid content-center">
		<h2 class="text-[42px] leading-[48px]">{{ .author.Title | safeHTML }}</h2>
		<small class="text-[16px]">{{ .author.Params.keyword }}</small>

		<p class="mt-[30px]">{{ .author.Params.description }}</p>

		<a href="/auteurs/{{ urlize (.author.Title | safeHTML) }}/" class="text-accent font-sc text-[16px] mt-[30px] lowercase tracking-[0.1px]">Zie artikelen...</a>
	</div>
</div>
