@import partials/article
@import partials/authors
@import partials/base
@import partials/bookclub
@import partials/comments
@import partials/dossiers
@import partials/featured
@import partials/footer
@import partials/footnotes
@import partials/header
@import partials/intro
@import partials/list
@import partials/paginator
@import partials/question
@import partials/quote
@import partials/theme
@import partials/typography


// Main

main
	display: grid
	margin: 0 auto;
	max-width: 1440px
	width: 90%


// Misc

#misc
	margin-top: 40px
	max-width: 800px

	p
		margin-bottom: 30px
