{{ $book := "" }}

{{ if .Get "book" }}
	{{ $book = index (where (site.GetPage "shop/products/boeken").RegularPages ".Title" (.Get "book")) 0 }}
{{ else }}
	{{ $book = index ((where (where (site.GetPage "shop/products/boeken").RegularPages "Params.advert" true) "Params.out_of_stock" "!=" true).Related (dict
		"indices"  (slice "tags")
		"document" $.Page
	)) 0 }}
{{ end }}

{{ if not $book }}
	{{ $book = index (where (site.GetPage "shop/products/boeken").RegularPages ".Title" site.Params.advert) 0 }}
{{ end }}

<section class="book-promo">
	{{ partialCached "shop/promo.html" (dict
		"book" $book
	) $book.Params.id }}
</section>
