<figure>
	{{ $image := .Page.Resources.Get (.Get "src") }}

	{{ if eq $image.MediaType.SubType "svg" }}
		<img 
			src="{{ $image.RelPermalink }}"
			alt="{{ .Get "caption" }}">
	{{ else }}
		{{ $1x := $image.Resize "864x webp" }}
		{{ $2x := $image.Resize "1728x webp" }}
	
		<img 
			srcset="{{ $1x.RelPermalink }} 864w,
			        {{ $2x.RelPermalink }} 1728w"
			sizes="(max-width: 1920px) 864px,
			       1728px"
			src="{{ $2x.RelPermalink }}"
			alt="{{ .Get "caption" }}"
			style="background: {{ index $1x.Colors 0 }};">
	{{ end }}

	<figcaption>
		<p>{{ .Get "caption" | safeHTML }}</p>

		{{ if .Get "license" }}
			<small>{{ .Get "license" | safeHTML }}</small>
		{{ end }}
	</figcaption>
</figure>

