<figure>
	{{ $image := .Page.Resources.Get (.Get "src") }}

	{{ if eq $image.MediaType.SubType "svg" }}
		<img 
			src="{{ $image.RelPermalink }}"
			alt="{{ .Get "caption" }}">
	{{ else }}
		{{ $1x := $image.Resize "864x webp" }}

		<div
			style="background: {{ index $1x.Colors 0 }}; aspect-ratio: 864/576; width: 100%;"></div>
	{{ end }}

	<figcaption>
		<p>{{ .Get "caption" | safeHTML }}</p>

		{{ if .Get "license" }}
			<small>{{ .Get "license" | safeHTML }}</small>
		{{ end }}
	</figcaption>
</figure>

