<figure class="{{ .Get "class"}}">
	{{ $image := .Page.Resources.GetMatch (.Get "src") }}

	<img 
		srcset="{{ ($image.Resize "864x webp").RelPermalink }} 864w,
		        {{ ($image.Resize "1728x webp").RelPermalink }} 1728w"
		sizes="(max-width: 1920px) 864px,
		       1728px"
		src="{{ ($image.Resize "1728x webp").RelPermalink }}"
		alt="{{ .Get "caption" }}">

	<figcaption>
		<p>{{ .Get "caption" | safeHTML }}</p>
		{{ if .Get "license" }}
			<small>{{ .Get "license" | safeHTML }}</small>
		{{ end }}
	</figcaption>
</figure>

