<div class="flex mt-[40px] overflow-hidden max-md:w-[calc(100vw-40px)]">
	{{ range $i, $slide := .Params }}
		<div class="slide grid shrink-0 text-center justify-center w-full transition-transform duration-200">
			<span class="text-popup-bg text-[90px] font-bold">{{ add $i 1 }}.</span>
			<p class="text-[36px]">{{ $slide }}</p>
		</div>
	{{ end }}
</div>

<nav class="mt-0 text-center">
	{{ $disabledClass := "[&.disabled]:!bg-accent-bg [&.disabled]:!text-muted [&.disabled]:!cursor-default [&.disabled]:hover:!scale-100" }}
	{{ partial "components/button" (dict
		"variant" "square"
		"href"    "#"
		"text"    "‹-"
		"class"   (printf "prev disabled mr-[4px] %s" $disabledClass)
	) }}
	{{ partial "components/button" (dict
		"variant" "square"
		"href"    "#"
		"text"    "-›"
		"class"   (printf "next ml-[4px] %s" $disabledClass)
	) }}
</nav>

<script>
	const slides = document.querySelectorAll(".slide");
	const prev   = document.querySelector(".prev");
	const next   = document.querySelector(".next");

	let current = 0;
	const total = {{ len .Params }};

	prev.addEventListener("click", (ev) => {
		ev.preventDefault();

		if (prev.classList.contains("disabled")) {
			return;
		}

		current--;

		slides.forEach((slide) => {
			slide.style.transform = `translateX(-${current * 100}%)`;
		});

		if (current < 1) {
			prev.classList.add("disabled");
		}
		if (current <= total) {
			next.classList.remove("disabled");
		}
	});

	next.addEventListener("click", (ev) => {
		ev.preventDefault();

		if (next.classList.contains("disabled")) {
			return;
		}

		current++;

		slides.forEach((slide) => {
			slide.style.transform = `translateX(-${current * 100}%)`;
		});

		if (current >= total - 1) {
			next.classList.add("disabled");
		}
		if (current >= 1) {
			prev.classList.remove("disabled");
		}
	});
</script>
