<section
	class="footnotes mb-[30px] mt-[30px] [&_ul]:pl-[30px]"
	x-data="{ expanded: false }"
	x-show="expanded"
	x-collapse.min.240px
>
	{{ partial "components/button" (dict
		"tag"   "button"
		"class" "!block absolute right-[40px] z-2 -mt-[55px]"
		"text"  "Lees meer"
		"attrs" `x-text="expanded ? 'Sluiten' : 'Lees meer'" @click="expanded = !expanded"`
	) }}

	<div class="relative">
		<h3 class="italic !mt-0">Dit artikel in vogelvlucht:</h3>

		<div
			class="absolute bottom-0 left-0 w-full h-full pointer-events-none transition-opacity duration-300 [background:linear-gradient(transparent_150px,var(--accent-background-color)_280px)]"
			x-show="!expanded"
			x-transition.opacity
		></div>

		{{ $.Page.Params.summary | markdownify }}
	</div>
</section>
