{{$meta := index .Args 0}}

<head>
	<title>{{$meta.title}}</title>

	{{if $meta.author}}
		<meta name="author" content="{{$meta.author}}">
	{{end}}
	<meta name="description" content="{{$meta.description}}">

	<meta property="og:title" content="{{$meta.title}}">
	<meta property="og:description" content="{{$meta.subtitle}}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://reactionair.nl{{.OriginalReq.URL.Path}}">
	{{if $meta.author}}
		<meta property="og:image" content="https://reactionair.nl{{.OriginalReq.URL.Path}}/thumb.webp">
		<meta property="twitter:card" content="summary_large_image">
	{{else}}
		<meta property="og:image" content="https://reactionair.nl/static/img/og-image.png">
		<meta property="twitter:card" content="summary">
	{{end}}
	<meta name="twitter:site" content="@ReactionairNL">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="/static/css/fonts.css?v=4">
	<link rel="stylesheet" href="/static/css/light.css?v=4">
	<link rel="stylesheet" href="/static/css/style.css?v=4">
	<link rel="stylesheet" href="/static/css/mobile.css?v=4" media="(max-width: 1024px)">
	<link rel="stylesheet" href="/static/css/desktop.css?v=4" media="(min-width: 1025px)">

	<script defer src="/static/js/script.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM83VY2NM0"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-MM83VY2NM0');
	</script>
</head>
