{{ define "main" }}
	<div id="taxonomy" class="cart-page">
		<ul id="products">
			<div
				class="cart-empty"
				x-cloak
				x-show="!cart.length"
			>
				<p>Uw winkelwagen is leeg.</p>
				<p>Ga <a href="/winkel/producten/boeken">terug naar de winkel</a>.</p>
			</div>

			{{ range $product := (where (where .Site.RegularPages "Section" "shop") "Params.out_of_stock" "!=" true).ByDate.Reverse }}
				{{ range .Params.variants }}
					{{ if .out_of_stock }}
						{{ continue }}
					{{ end }}

					{{ partial "product.html" (dict
						"product"  $product
						"variant"  .
						"checkout" true
					) }}
				{{ end }}
			{{ end }}
		</ul>

		<div class="info">
			<a href="/winkel/afrekenen" class="button">Afrekenen</a>

			<div
				class="prices"
				x-data="{
					shipping:    null,
					estimation:  2,
					total:       null,
				}"
				x-init="fetch('{{ .Site.Params.api }}/api/shop/shipping', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							cart: cart,
						})
					})
						.then(response => response.json())
						.then(data => {
							const formatter = value => currency(value, { symbol: '€ ', separator: '.' });

							shipping   = formatter(data.price);
							estimation = data.estimation;
							total      = formatter(0);

							cart.forEach(variant => {
								total = total.add(formatter(variant.price).multiply(variant.quantity));
							});
						})"
			>
				<div class="total" x-text="total?.format()"></div>
				<div>
					<small class="free-shipping">
						(Verzendkosten, uiterlijk binnen <small x-text="estimation"></small> werkdagen in huis)
					</small>
					<span class="shipping" x-text="shipping?.format()"></span>
				</div>
				<div class="total-plus-shipping" x-text="total?.add(shipping.price).format()"></div>
			</div>
		</div>
	</div>
{{ end }}
