{{ define "main" }}
	<div id="taxonomy" class="cart-page">
		<ul id="products">
			{{ range (sort (where .Site.RegularPages "Section" "shop") "Params.title") }}
				{{ with .Params.layout }}
					{{ continue }}
				{{ end }}

				<div class="cart-empty" style="display: none;">
					<p>Uw winkelwagen is leeg.</p>
					<p>Ga <a href="/winkel">terug naar de winkel</a>.</p>
				</div>

				<li class="product" data-name="{{ .Params.title | urlize }}" data-price="{{ .Params.price }}" style="display: none;">
					<a href="{{ .RelPermalink }}">
						{{ partialCached "books/small.html" (dict
							"context" .
							"title"   .Params.title
							"front"   (.Resources.Get .Params.front)
							"back"    (.Resources.Get .Params.back)
							"pages"   .Params.pages
							"hover"	  true
						) .File.BaseFileName }}
					</a>

					<div class="text">
						<a href="{{ .RelPermalink }}">
							<div class="author">{{ delimit .Params.writers ", " " & " }}</div>
							<h2>{{ .Params.title }}</h2>
						</a>

						{{ partial "shop/cart/small.html" (dict
							"title"    .Params.title
							"types"    .Params.types
							"checkout" false
						) }}
					</div>
				</li>
			{{ end }}
		</ul>

		<div class="info">
			<a href="/winkel/afrekenen" class="button">Afrekenen</a>

			<div class="prices">
				<div class="total"></div>
				<div>
					<small class="free-shipping"></small>
					<span class="shipping"></span>
				</div>
				<div class="total-plus-shipping"></div>
			</div>
		</div>
	</div>
{{ end }}
