{{ define "main" }}
	<div id="taxonomy" class="cart-page">
		<ul id="products">
			<div class="cart-empty" style="display: none;">
				<p>Uw winkelwagen is leeg.</p>
				<p>Ga <a href="/winkel/producten/boeken">terug naar de winkel</a>.</p>
			</div>

			{{ range $product := (where (where .Site.RegularPages "Section" "shop") "Params.out_of_stock" "!=" true).ByDate.Reverse }}
				{{ range .Params.variants }}
					{{ if .out_of_stock }}
						{{ continue }}
					{{ end }}

					{{ partial "products/small.html" (dict
						"product"  $product
						"variant"  .
						"checkout" true
					) }}
				{{ end }}
			{{ end }}
		</ul>

		<div class="info">
			<a href="/winkel/afrekenen" class="button">Afrekenen</a>

			<div class="prices">
				<div class="total"></div>
				<div>
					<small class="free-shipping"></small>
					<span class="shipping"></span>
				</div>
				<div class="total-plus-shipping"></div>
			</div>
		</div>
	</div>
{{ end }}
