{{ define "main" }}
	<div class="mx-auto max-md:pt-5 md:w-[var(--avg-width)] md:mt-[60px]">
		<form
			x-data="{
				postalCode:  '',
				houseNumber: '',

				init() {
					const url = new URL(window.location.href);

					if (url.searchParams.has('order')) {
						fetch(`{{ .Site.Params.api }}/api/shop/order/${url.searchParams.get('order')}`)
							.then(response => response.json())
							.then(data => {
								Object.entries(data).forEach(([key, value]) => {
									const input = $el.querySelector(`[name='${key}']`);

									if (input) {
										input.value = value;
									}
								});

								$store.cart.contents = data.cart;
							});
					}
				},

				address() {
					if (!(this.postalCode.length === 6 || this.postalCode.length === 7)
						|| this.houseNumber.length === 0) {
						return;
					}

					fetch('{{ .Site.Params.api }}/api/shop/address', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							'postal_code':  this.postalCode,
							'house_number': this.houseNumber
						})
					}).then((response) => {
						return response.json();
					}).then((data) => {
						if (data.message) {
							switch (data.message) {
								case 'No result for this combination.':
									return $refs.error.innerHTML = 'De ingevulde postcode en huisnummer combinatie is niet gevonden.';
								default:
									return $refs.error.innerHTML = 'Er is een fout opgetreden.';
							}
						}

						$refs.street.value = data.street;
						$refs.city.value   = data.city;
					});
				},

				submit() {
					fetch('{{ .Site.Params.api }}/api/shop/payment', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							'cart': $store.cart.contents,
							'form': Object.fromEntries(new FormData($el))
						})
					}).then((response) => {
						return response.json();
					}).then((data) => {
						window.location.replace(data);
					});
				}
			}"
			@submit.prevent="submit"
		>
			<label>Naam</label>
			<div class="md:grid md:gap-x-2.5 md:grid-cols-[2fr_1fr_2fr]">
				<input
					type="text"
					name="first_name"
					required
					placeholder="Uw naam"
					autocomplete="given-name"
				/>
				<input
					type="text"
					name="preposition"
					placeholder="Tussenv."
				/>
				<input
					type="text"
					name="last_name"
					required
					placeholder="Uw achternaam"
					autocomplete="family-name"
				/>
			</div>

			<label>Adres</label>
			<div>
				<div class="md:grid md:gap-x-2.5 md:grid-cols-[2fr_1fr_2fr]">
					<input
						type="text"
						name="postal_code"
						required
						placeholder="Uw postcode"
						autocomplete="shipping postal-code"
						maxlength="7"
						x-model="postalCode"
						x-mask="9999 aa"
						@input.debounce.500ms="address"
					/>
					<input
						type="text"
						name="house_number"
						required
						placeholder="Uw huisnummer"
						x-model="houseNumber"
						@input.debounce.500ms="address"
					/>
				</div>
				<span class="text-accent text-[14px]" x-ref="error"></span>
				<input
					type="text"
					name="street"
					required
					placeholder="Uw straat"
					autocomplete="shipping street-address"
					x-ref="street"
				/>
				<input
					type="text"
					name="city"
					required
					placeholder="Uw woonplaats"
					autocomplete="shipping address-level2"
					x-ref="city"
				/>
			</div>

			<label>Contactgegevens</label>
			<div>
				<input
					type="email"
					name="email"
					required
					placeholder="Uw e-mailadres"
					autocomplete="email"
				/>
			</div>

			<label for="newsletter-checkbox">
				<input
					type="checkbox"
					name="newsletter"
					id="newsletter-checkbox"
					checked
				/>
				<span>Ik wil de <i>Reactionair.nl</i> nieuwsbrief ontvangen</span>
			</label>

			<div class="border-t border-dashed border-border flex justify-between mt-5 max-md:flex-col-reverse max-md:pt-10 md:pt-[50px]" x-show="$store.cart.contents.length">
				{{ partial "components/button" (dict
					"tag"   "button"
					"type"  "submit"
					"class" "max-md:self-end max-md:mt-5"
					"text"  "Naar betaalscherm"
				) }}

				{{ partial "components/cart-summary" (dict) }}
			</div>
		</form>
	</div>
{{ end }}
