{{ define "main" }}
	<div id="taxonomy" class="checkout-page">
		<form
			class="form"
			x-data="{
				postalCode:  '',
				houseNumber: '',

				address() {
					if (!(this.postalCode.length === 6 || this.postalCode.length === 7)
						|| this.houseNumber.length === 0) {
						return;
					}

					fetch('{{ .Site.Params.api }}/api/shop/address', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							'postal-code':  this.postalCode,
							'house-number': this.houseNumber
						})
					}).then((response) => {
						return response.json();
					}).then((data) => {
						if (data.message) {
							switch (data.message) {
								case 'No result for this combination.':
									return $refs.error.innerHTML = 'De ingevulde postcode en huisnummer combinatie is niet gevonden.';
								default:
									return $refs.error.innerHTML = 'Er is een fout opgetreden.';
							}
						}

						$refs.street.value = data.street;
						$refs.city.value   = data.city;
					});
				},

				submit() {
					fetch('{{ .Site.Params.api }}/api/shop/payment', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							'cart': $store.cart.contents,
							'form': Object.fromEntries(new FormData($el))
						})
					}).then((response) => {
						return response.json();
					}).then((data) => {
						window.location.replace(data);
					});
				}
			}"
			@submit.prevent="submit"
		>
			<label>Naam</label>
			<div class="form-group name">
				<input
					type="text"
					name="first-name"
					required
					placeholder="Uw naam"
					autocomplete="given-name"
				/>
				<input
					type="text"
					name="preposition"
					placeholder="Tussenv."
					autocomplete="additional-name"
				/>
				<input
					type="text"
					name="last-name"
					required
					placeholder="Uw achternaam"
					autocomplete="family-name"
				/>
			</div>

			<label>Adres</label>
			<div class="form-group address">
				<input
					type="text"
					name="postal-code"
					required
					placeholder="Uw postcode"
					autocomplete="postal-code"
					maxlength="7"
					x-model="postalCode"
					x-mask="9999 aa"
					@input.debounce.500ms="address"
				/>
				<input
					type="text"
					name="house-number"
					required
					placeholder="Uw huisnummer"
					x-model="houseNumber"
					@input.debounce.500ms="address"
				/>
			</div>
			<span class="error" x-ref="error"></span>
			<input
				type="text"
				name="street"
				required
				readonly
				placeholder="Uw straat"
				x-ref="street"
			/>
			<input
				type="text"
				name="city"
				required
				readonly
				placeholder="Uw woonplaats"
				x-ref="city"
			/>

			<label>Contactgegevens</label>
			<input
				type="email"
				name="email"
				required
				placeholder="Uw e-mailadres"
				autocomplete="email"
			/>
			<input
				type="tel"
				name="phone"
				placeholder="Uw telefoonnummer"
				autocomplete="tel"
			/>

			<label for="newsletter-checkbox">
				<input
					type="checkbox"
					name="newsletter"
					id="newsletter-checkbox"
					checked
				/>
				<span>Ik wil de <i>Reactionair.nl</i> nieuwsbrief ontvangen</span>
			</label>

			<button type="submit" class="button">
				Naar betaalscherm
			</button>
		</form>
	</div>
{{ end }}
