{{ define "main" }}
	{{ $section := "" }}
	{{ with .CurrentSection.File }}
		{{ $section = .ContentBaseName }}
	{{ end }}
	{{ if or (eq (index (split (trim .Page.RelPermalink "/") "/") 0) "winkel") (eq .Kind "term") }}
		{{ $section = "boeken" }}
	{{ end }}

	<div class="filters">
		<span class="title">Categorie:</span>

		<span class="filters-container">
			{{ range $category := slice "boeken" "boekenleggers" "stickers" }}
				{{ with site.GetPage (printf "/%s" $category) }}
					<a href="/winkel/producten/{{ $category }}/" {{ if or (eq .Title $.Title) (and (eq .Title "Boeken") (eq $section "boeken")) }}class="active"{{ end }}>
						{{ .Title }}
					</a>
				{{ end }}
			{{ end }}
		</span>
	</div>

	{{ if eq $section "boeken" }}
		<div class="filters">
			<span class="title">Taal:</span>

			<span class="filters-container">
				{{ range $language, $terms := site.Taxonomies.language }}
					{{ with site.GetPage (printf "/language/%s" $language) }}
						<a href="/winkel/producten/boeken/{{ if ne .Title $.Title }}talen/{{ $language }}/{{ end }}" {{ if eq .Title $.Title }}class="active"{{ end }}>
							{{ .Title }}
						</a>
					{{ end }}
				{{ end }}
			</span>
		</div>

		<div class="selects">
			<div class="filters select">
				<span class="title">Uitgeverij:</span>

				<span class="filters-container">
					<div class="select-container">
						<select data-label="uitgeverij">
							<option value="/winkel/producten/boeken/">
								Alle uitgeverijen
							</option>

							{{ range $publisher, $terms := site.Taxonomies.publisher }}
								{{ with site.GetPage (printf "/publisher/%s" $publisher) }}
									<option value="{{ relref . .Path }}">
										{{ .Title }}
									</option>
								{{ end }}
							{{ end }}
						</select>
					</div>
				</span>
			</div>

			<div class="filters select">
				<span class="title">Auteur:</span>

				<span class="filters-container">
					<div class="select-container">
						<select data-label="auteur">
							<option value="/winkel/producten/boeken/">
								Alle auteurs
							</option>

							{{ range $writer, $terms := site.Taxonomies.writers }}
								{{ with site.GetPage (printf "/writers/%s" $writer) }}
									<option value="{{ relref . .Path }}">
										{{ .Title }}
									</option>
								{{ end }}
							{{ end }}
						</select>
					</div>
				</span>
			</div>
		</div>
	{{ end }}

	{{ $page  := printf "shop/products/%s" $section }}
	{{ $books := (.GetPage $page).RegularPages }}
	{{ if eq .Kind "term" }}
		{{ $books = .RegularPages }}
	{{ end }}

	{{ $unstocked := where $books "Params.out_of_stock" true }}
	{{ $stocked   := $books | complement $unstocked }}
	{{ $sorted    := union $stocked.ByDate.Reverse $unstocked.ByDate.Reverse }}
	{{ $paginator := .Paginate $sorted }}

	<ul id="products">
		{{ range $paginator.Pages }}
			{{ partial "shop/product.html" (dict
				"product"  .
				"checkout" false
			) }}
		{{ end }}
	</ul>

	{{ partial "paginator.html" $paginator }}
{{ end }}
