{{ define "main" }}
	<div id="boekencast">
		<section id="hero">
			<div class="background"></div>

			{{ partial "books/large.html" (dict
				"context" .
				"title"   .Params.title
				"front"   (.Resources.Get .Params.front)
				"back"    (.Resources.Get .Params.back)
				"pages"   .Params.pages
				"animate" true
				"click"   (isset .Params "back")
				"hover"   (not (isset .Params "back"))
			) }}

			<div class="shop-title-container">
				<h1 class="shop-title">
					{{ .Params.title }}
				</h1>
				{{ if isset .Params "subtitle" }}
					<h2 class="shop-subtitle">
						{{ .Params.subtitle }}
					</h2>
				{{ end }}

				<div class="quote shop-quote">“</div>
			</div>

			{{ partial "shop/cart/large.html" (dict
				"title"    .Params.title
				"types"    .Params.types
				"checkout" true
			) }}
		</section>

		<article id="product">
			<table>
				<tr>
					<th>Titel</th>
					<td>{{ .Params.title }}</td>

					<th>Taal</th>
					<td>{{ .Params.language }}</td>
				</tr>

				<tr>
					<th>Auteur(s)</th>
					<td>{{ delimit .Params.writers ", " " & " }}</td>


					<th>Uitgever</th>
					<td>{{ .Params.publishers }}</td>
				</tr>

				<tr>
					<th>Jaar</th>
					<td>{{ .Params.date.Format "2006" }}</td>

					<th>ISBN</th>
					<td>
						{{ range .Params.types }}
							{{ .isbn }}<br>
						{{ end }}
					</td>
				</tr>

				<tr>
					<th>Aantal paginas</th>
					<td>{{ .Params.pages }}</td>

					<th>Formaat</th>
					<td>
						{{ range .Params.types }}
							{{ .name }}<br>
						{{ end }}
					</td>
				</tr>
			</table>

			<section id="content">
				{{ .Content }}
			</section>
		</article>
	</div>
{{ end }}
