{{ define "main" }}
	<div id="product">
		<aside>
			{{ if eq .CurrentSection.File.ContentBaseName "boeken" }}
				{{ partial "shop/products/book.html" (dict
					"size"    "large"
					"title"   .Title
					"front"   (.Resources.Get .Params.front)
					"back"    (.Resources.Get .Params.back)
					"pages"   .Params.pages
					"animate" true
					"click"   (isset .Params "back")
					"hover"   (not (isset .Params "back"))
				) }}
			{{ else }}
				{{ partial "shop/products/miscellany.html" (dict
					"size"    "large"
					"title"   .Title
					"front"   (.Resources.Get .Params.front)
					"back"    (.Resources.Get .Params.back)
					"animate" true
					"click"   (isset .Params "back")
					"hover"   (not (isset .Params "back"))
				) }}
			{{ end }}
		</aside>

		<article
			data-pagefind-body
			x-data="{ filter: {{ (index .Params.variants 0).id }} }"
		>
			<section id="hero">
				<section class="title">
					{{ if eq .CurrentSection.File.ContentBaseName "boeken" }}
						<h3 class="authors" data-pagefind-meta="authors">
							{{ range $index, $writer := .Params.writers }}
								<a href="/winkel/producten/boeken/?auteur={{ $writer }}" data-pagefind-filter="author">
									{{ $writer }}
								</a>
								{{ if eq $index (sub (len $.Params.writers) 2) }}
									&amp;
								{{ else if ne (add $index 1) (len $.Params.writers) }}
									,
								{{ end }}
							{{ end }}
						</h3>
					{{ end }}

					<h1 data-pagefind-meta="title">{{ .Title | safeHTML }}</h1>
					{{ if isset .Params "subtitle" }}
						<h2 data-pagefind-meta="subtitle">{{ .Params.subtitle | safeHTML }}</h2>
					{{ end }}
				</section>
			</section>

			<section class="cart" data-pagefind-ignore>
				{{ partial "shop/input/cart.html" (dict
					"variants"     .Params.variants
					"out_of_stock" .Params.out_of_stock
					"permalink"    .RelPermalink
					"checkout"     true
				) }}
			</section>

			<section class="content" x-data="{ expanded: false }">
				{{ index (split .Content "</p>") 0 | safeHTML }}</p>

				{{ if gt (len (split .Content "</p")) 2 }}
					<span
						class="more"
						data-pagefind-ignore
						x-show="!expanded"
						@click="expanded = true"
					>
						Lees meer...
					</span>
				{{ end }}

				<div x-show="expanded" x-collapse>
					{{ range $index, $element := split .Content "</p>" }}
						{{ if gt $index 0 }}
							{{ $element | safeHTML }}</p>
						{{ end }}
					{{ end }}
				</div>
			</section>

			{{ $section := .CurrentSection.File.ContentBaseName }}
			{{ if or (eq (index (split (trim .Page.RelPermalink "/") "/") 0) "winkel") (eq .Kind "term") }}
				{{ $section = "boeken" }}
			{{ end }}

			<section class="details" data-pagefind-ignore>
				{{ if eq $section "boeken" }}
					<table>
						<tr>
							<th>Titel</th>
							<td><span>{{ .Title }}</span>{{ if isset .Params "subtitle" }}<br><span>{{ .Params.subtitle }}</span>{{ end }}</td>

							<th>Taal</th>
							<td>
								<a href="/winkel/producten/boeken/?taal={{ .Params.language }}" data-pagefind-filter="language">
									{{ .Params.language }}
								</a>
							</td>
						</tr>

						<tr>
							<th>Auteur(s)</th>
							<td>
								{{ range $index, $writer := .Params.writers }}
									<a href="/winkel/producten/boeken/?auteur={{ $writer }}">{{ $writer }}</a>
									{{ if eq $index (sub (len $.Params.writers) 2) }}
										&amp;
									{{ else if ne (add $index 1) (len $.Params.writers) }}
										,
									{{ end }}
								{{ end }}
							</td>

							<th>Uitgeverij</th>
							<td>
								<a href="/winkel/producten/boeken/?uitgeverij={{ .Params.publisher }}" data-pagefind-filter="publisher">
									{{ .Params.publisher }}
								</a>
							</td>
						</tr>

						<tr>
							<th>Jaar</th>
							<td>{{ .Date.Format "2006" }}</td>

							<th>ISBN</th>
							{{ range .Params.variants }}
								<td x-cloak x-show="filter === {{ .id }}">
									{{ .isbn }}
								</td>
							{{ end }}
						</tr>

						<tr>
							<th>Aantal paginas</th>
							<td>{{ .Params.pages }}</td>

							<th>Formaat</th>
							{{ range .Params.variants }}
								<td data-pagefind-filter="format" x-cloak x-show="filter === {{ .id }}">
									{{ .format | title }}
								</td>
							{{ end }}
						</tr>
					</table>
				{{ end }}
			</section>
		</article>

		{{ partial "comments/comments.html" (dict
			"context" .
			"review"  true
		) }}
	</div>
{{ end }}
