{{ $variants := .variants }}
{{ if not .checkout }}
	{{ $variants = slice (index .variants 0) }}
{{ end }}

{{ range $index, $_ := $variants }}
	<div
		class="cart-form"
		x-data="{
			variant: {{ .id }},
			price:   {{ .price }},

			get current() {
				return $store.cart.find({{ .id }})
			}
		}"
		{{ if .checkout }}
			x-cloak
			x-show="filter === {{ .id }}"
		{{ end }}
	>
		<div class="price">
			{{ if not $.checkout }}
				{{ if not $.out_of_stock }}
					{{ range $i, $variant := $.variants }}
						{{ $int := int .price }}
						{{ $dec := sub .price $int }}

						€ {{ $int }}.<span class="decimals">{{ strings.TrimPrefix "0." (printf "%.2f" $dec) }}</span>

						{{ if lt (add $i 1) (len $.variants) }}
							/&nbsp;
						{{ end }}
					{{ end }}
				{{ else }}
					<span class="unavailable">Niet beschikbaar.</span>
				{{ end }}
			{{ else }}
				{{ if not .out_of_stock }}
					{{ $int := int .price }}
					{{ $dec := sub .price $int }}

					€ {{ $int }}.<span class="decimals">{{ strings.TrimPrefix "0." (printf "%.2f" $dec) }}</span>
				{{ else }}
					<span class="unavailable">Niet beschikbaar.</span>
				{{ end }}
			{{ end }}
		</div>

		{{ if and (not $.checkout) (gt (len $.variants) 1) }}
			<a
				href="{{ $.permalink }}"
				class="button {{ if $.out_of_stock }}disabled{{ end }}"
				{{ if $.out_of_stock }}disabled{{ end }}
			>
				Toevoegen aan winkelwagen
			</a>
		{{ else }}
			<button
				class="button {{ if .out_of_stock }}disabled{{ end }}"
				{{ if .out_of_stock }}disabled{{ end }}
				x-show="current.quantity === 0"
				@click="$store.cart.add({{ .id }}, {{ .price }})"
			>
				Toevoegen aan winkelwagen
			</button>
		{{ end }}

		<div
			class="added-to-cart"
			x-cloak
			:style="current.quantity > 0 ? 'display: grid;' : 'display: none;'"
		>
			<button
				class="button {{ if .out_of_stock }}disabled{{ end }}"
				{{ if .out_of_stock }}disabled{{ end }}
				@click="$store.cart.remove({{ .id }})"
			>
				-
			</button>

			<input
				class="{{ if .out_of_stock }}disabled{{ end }}"
				type="number"
				value="1"
				min="1"
				{{ if .out_of_stock }}disabled{{ end }}
				x-model.lazy.number="current.quantity"
			>

			<button
				class="button {{ if .out_of_stock }}disabled{{ end }}"
				{{ if .out_of_stock }}disabled{{ end }}
				@click="$store.cart.add({{ .id }}, {{ .price }})"
			>
				+
			</button>

			{{ if $.checkout }}
				<a href="/winkel/wagen" class="button checkout">
					Afrekenen
				</a>
			{{ end }}
		</div>
	</div>
{{ end }}

{{ if and .checkout (gt (len $variants) 1) }}
	<div class="variants filters">
		<span class="title">Variant:</span>

		<span class="filters-container">
			{{ range $variants }}
				<a
					href="#"
					:class="filter === {{ .id }} ? 'active' : ''"
					@click.prevent="filter = {{ .id }}"
				>
					{{ .format | title }}
				</a>
			{{ end }}
		</span>
	</div>
{{ end }}

