<li class="product">
	{{ $section := path.BaseName (index .product.Ancestors 0).Path }}

	<a href="{{ .product.RelPermalink }}">
		{{ if eq $section "boeken" }}
			{{ partialCached "shop/products/book.html" (dict
				"size"    "small"
				"product" .product
				"hover"	  true
			) "small" .product.Params.id }}
		{{ else }}
			{{ partialCached "shop/products/miscellany.html" (dict
				"size"    "small"
				"product" .product
				"hover"   true
			) "small" .product.Params.id }}
		{{ end }}
	</a>

	<div class="text">
		<a href="{{ .product.RelPermalink }}">
			{{ if eq $section "boeken" }}
				<div class="author">{{ delimit .product.Params.writers ", " " & " }}</div>
			{{ end }}

			<h2>{{ .product.Title }}</h2>
			{{ if isset .product.Params "subtitle" }}
				<h3>{{ .product.Params.subtitle }}</h3>
			{{ end }}
		</a>

		{{ partial "shop/input/cart.html" (dict
			"variants"     (cond .checkout (slice .variant) .product.Params.variants)
			"out_of_stock" .product.Params.out_of_stock
			"permalink"    .product.RelPermalink
			"checkout"     false
		) }}
	</div>
</li>
